<h2 class="text-center"><b>Solicitud de Fichas</b></h2>
<% if PeriodoFicha.is_period_of_application_for_tokens? %>
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="row">
        <div class="col-lg-12">
          Deberá presionar el botón de 'Nueva Solicitud de Ficha' para iniciar con el
          proceso.
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h3>Instrucciones</h3>
    <ul class="text-center">
      <li>Solo podrás solicitar dos fichas para propedéutico corto.</li>
      <li>Solo podrás solicitar una ficha para propedéutico largo.</li>
    </ul>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-offset-1 col-lg-10 ">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
          <th class="text-center"> # </th>
          <th class="text-center"> Carrera </th>
          <th class="text-center"> Tipo de Propedéutico </th>
          <th class="text-center"> Estado de Solicitud </th>
          </thead>
          <tbody>
          <% unless @solicitudes_fichas.blank? %>
            <%
              id = 0
              @solicitudes_fichas.each do |s|
            %>
              <tr>
                <td class="text-center"><%= id += 1 %></td>
                <td class="text-justify"> <%= s.carrera.nombre_carrera %></td>
                <td class="text-center"> <%= s.sede_ficha.periodo_ficha.tipo %></td>
                <td class="text-center">
                  <% if s.estado == SolicitudFicha::ENVIADO %>
                    <span class="label label-warning"><%= s.estado %></span>
                  <% end %>
                  <% if s.estado == SolicitudFicha::CANCELADO %>
                    <span class="label label-danger"><%= s.estado %></span>
                  <% end %>
                  <% if s.estado == SolicitudFicha::TERMINADO %>
                    <span class="label label-success"><%= s.estado %></span>
                  <% end %>
                </td>
              </tr>
            <% end  %>
          <% else %>
            <tr class="text-center">
              <td colspan="4">No se ha enviando ninguna solicitud</td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <% periodo = PeriodoFicha.get_current_token_period %>
  <% if periodo.tipo == 'CORTO' && @corto < 2%>
    <div class="row">
      <div class="col-lg-12">
        <div class="container">
          <div class="row">
            <div class="col-lg-offset-4 col-lg-4">
              <%= link_to 'Nueva Solicitud de Ficha', new_solicitud_ficha_path, class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="panel panel-danger">
    <div class="panel-heading">No hay ningun periodo de solicitud de fichas activo</div>
    <div class="panel-body">
      Para cualquier duda o aclaración acuda al Departamento de Servicicios Escolares, o comuníquese a los teléfonos: 281872-9230 (Campus Loma Bonita), 287872-9240 (Campus Tuxtepec)
    </div>
  </div>
<% end %>