<div class="container">
  <div class="table-wrapper table-responsive">
    <div class="table-title">
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <h2 class="titulo">Edición de Contraseña</h2>
        </div>
      </div>
    </div>
    <div class="tab-content">
      <div class="tab-pane active">
        <div class="container">
          <div class="row listnow">
            <div class="panel-body">
            
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}) do |f| %>
                <%if current_usuario.rol != 'ADMINISTRADOR' %>
                <div class="row">
                  <div class="col-lg-12">
                    <h5 class="datos-de-padres">Para continuar con el proceso de edición de contraseña deberá rellenar
                      la siguiente información.</h5>
                  </div>
                  <div class="col-lg-10 col-lg-offset-1">
                    <div class="row">
                      <div class="col-lg-6 col-lg-offset-3 col-xs-12">
                        <div class="form-group">
                          <%= f.label :email, 'Correo Electrónico:' %>
                          <%= f.email_field :email, autofocus: true, readonly: true, class: 'form-control' %>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6 col-lg-offset-3 col-xs-12">
                        <div class="form-group">
                          <%= f.label :current_password, 'Contraseña Actual:' %>
                          <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: 'Contraseña Actual' %>
                          <div class="capslock_current_password">La tecla Bloq. Mayús esta activada</div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6 col-lg-offset-3 col-xs-12">
                        <div class="form-group">
                          <%= f.label :password, 'Nueva Contraseña:' %><br/>
                          <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "Nueva Contraseña" %>
                          <div class="capslock">La tecla Bloq. Mayús esta activada</div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6 col-lg-offset-3 col-xs-12">
                        <div class="form-group">
                          <%= f.label :password_confirmation, 'Confirmación de la Nueva Contraseña:' %><br/>
                          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirmar Contraseña' %>
                          <div class="capslock_new_confirm_password">La tecla Bloq. Mayús esta activada</div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6 col-lg-offset-3 col-xs-12">
                        <div class="container pt-1">
                          <%= f.submit "Guardar Información", class: 'btn btn-primary' %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <%else%>
                <div class="row">                
                  <div class="col-lg-12">
                    <h5 class="datos-de-padres">La contraseña debe de contener al menos una letra mayúscula, una letra minúscula,un número y un caracter especial</h5>
                  </div>    
                  <div class="col-lg-10 col-lg-offset-1">
                  
                    <div class="row">
                      <div class="col-lg-6 col-lg-offset-3 col-xs-12">
                        <div class="form-group">
                          <%= f.label :password, 'Nueva Contraseña:' %><br/>
                          <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "Nueva Contraseña" %>
                          <div class="capslock">La tecla Bloq. Mayús esta activada</div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6 col-lg-offset-3 col-xs-12">
                        <div class="form-group">
                          <%= f.label :password_confirmation, 'Confirmación de la Nueva Contraseña:' %><br/>
                          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirmar Contraseña' %>
                          <div class="capslock_new_confirm_password">La tecla Bloq. Mayús esta activada</div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-6 col-lg-offset-3 col-xs-12">
                        <div class="container pt-1">
                          <%= f.submit "Guardar Información", class: 'btn btn-primary' %>
                          <%= f.submit "Cancelar Información", class: 'btn btn-primary' %>

                        </div>
                      </div>
                    </div>                    
                  </div>
                </div>
              <%end%>
            <% end %>
              <div class="row pt-1"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    /********** new_password **********/
    jQuery('#usuario_password').keypress(function (e) {
        var s = String.fromCharCode(e.which);
        if (s.toUpperCase() === s && s.toLowerCase() !== s && !e.shiftKey) {
            jQuery('.capslock').show();
            this.caps = true;
        }
        else {
            jQuery('.capslock').hide();
            this.caps = false;
        }
    });

    $(document).keydown(function (e) {
        if (e.which == 20) {
            var element = document.getElementById("usuario_password");
            if(typeof(element.caps) === 'boolean'){
                element.caps = !element.caps;
                jQuery('.capslock').toggle(element.caps);
            }
        }
    });

    $(window).blur(function(e){
        var element = document.getElementById("usuario_password");
        if (typeof(element.caps) === 'boolean') {
            element.caps = null;
            jQuery('.capslock').hide();
        }
    });
    /********** new_password **********/

    /********** new_confirm_password **********/
    jQuery('#usuario_password_confirmation').keypress(function (e) {
        var s = String.fromCharCode(e.which);
        if (s.toUpperCase() === s && s.toLowerCase() !== s && !e.shiftKey) {
            jQuery('.capslock_new_confirm_password').show();
            this.caps = true;
        }
        else {
            jQuery('.capslock_new_confirm_password').hide();
            this.caps = false;
        }
    });

    $(document).keydown(function (e) {
        if (e.which == 20) {
            var element = document.getElementById("usuario_password_confirmation");
            if (typeof(element.caps) === 'boolean') {
                element.caps = !element.caps;
                jQuery('.capslock_new_confirm_password').toggle(element.caps);
            }
        }
    });

    $(window).blur(function (e) {
        var element = document.getElementById("usuario_password_confirmation");
        if (typeof(element.caps) === 'boolean') {
            element.caps = null;
            jQuery('.capslock_new_confirm_password').hide();
        }
    });
    /********** new_confirm_password **********/

    /********** current_password **********/
    jQuery('#usuario_current_password').keypress(function (e) {
        var s = String.fromCharCode(e.which);
        if (s.toUpperCase() === s && s.toLowerCase() !== s && !e.shiftKey) {
            jQuery('.capslock_current_password').show();
            this.caps = true;
        }
        else {
            jQuery('.capslock_current_password').hide();
            this.caps = false;
        }
    });

    $(document).keydown(function (e) {
        if (e.which == 20) {
            var element = document.getElementById("usuario_current_password");
            if (typeof(element.caps) === 'boolean') {
                element.caps = !element.caps;
                jQuery('.capslock_current_password').toggle(element.caps);
            }
        }
    });

    $(window).blur(function (e) {
        var element = document.getElementById("usuario_current_password");
        if (typeof(element.caps) === 'boolean') {
            element.caps = null;
            jQuery('.capslock_current_password').hide();
        }
    });
</script>