<div class="container-login formulario">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <%= image_tag('oficial_vertical.png', class: 'logo-login center-block img-responsive') %><br><br>
    </div>
    <br>
    <div class="row">

      <div class="col-xs-8 col-xs-offset-2">
        <%= render 'shared/flash_messages' unless flash.empty? %>
      </div>
    </div>
    <div class="row">
      <fieldset class="col-xs-10 col-xs-offset-1">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
          <h6 class="text-danger">Para crear tu cuenta ingresa los siguientes datos, una vez registrados podrás acceder al sistema y solicitar tu ficha o reinscripción.</h6>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <%= fa_icon 'user' %>
              </span>
              <%= f.text_field :username, autofocus: true, placeholder: 'Nombre de usuario (CURP)', class: 'form-control', onKeyUp: 'this.value = this.value.toUpperCase();' %>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <%= fa_icon 'envelope' %>
              </span>
              <%= f.email_field :email, autofocus: true, placeholder: 'Correo electrónico', class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <%= fa_icon 'lock' %>
              </span>
              <%= f.password_field :password, autocomplete: "off", placeholder: 'Contraseña (8 caracteres minimo)', class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <%= fa_icon 'lock' %>
              </span>
              <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirmar contraseña', class: 'form-control' %>
            </div>
          </div>
          <div class="text-center">
            <%= f.submit "Registrar", class: 'btn btn-info btn-block' %><br>
          </div>
        <% end %>
        <div class="text-left">
          <%- if controller_name != 'sessions' %>
            <%= link_to "Iniciar Sesión", new_session_path(resource_name), class: 'link' %><br/>
          <% end -%>
        </div>
      </fieldset>
    </div>
  </div>
</div>
