<div class="panel panel-danger">
  <div class="panel-heading"><%= mensaje  %></div>
  <div class="panel-body">
    Para cualquier duda o aclaración acuda al Departamento de Servicicios Escolares, o comuníquese al teléfono:
    01 951 57 2 41 00, Ext. 1202, 1203 y 1204
  </div>
</div>