<div class="panel panel-danger">
  <div class="panel-heading"><%= mensaje  %></div>
  <div class="panel-body">
    Para cualquier duda o aclaración acuda al Departamento de Servicicios Escolares, o comuníquese a los teléfonos:
    (953) 53 02093, 53 02100, 53 02101, 53 02102, Ext. 210 y 211.
  </div>
</div>