<% unless @periodo_inscripcion.blank? %>
    <% if (@periodo_inscripcion.fecha_inicio .. @periodo_inscripcion.fecha_fin).cover?(Date.today) %>
    <h2 class="text-center">Solicitud de Reinscripción</h2>
    <% unless @reinscripcion.blank? %>
      <div class="row">
        <div class="col-lg-12">
          <div class="container">
            <%= form_for @tramite, :url => {:controller => :solicitudes_reinscripciones, :action => "create"}, :html => {:class => "new_pais", :id => "form_tramite"} do |f| %>
              <%= f.hidden_field :alumno_id, :value => @reinscripcion[:alumno_id] %>
              <%= f.hidden_field :carrera_id, :value => @reinscripcion[:carrera_id] %>
              <%= f.hidden_field :ciclo_id, :value => @reinscripcion[:periodo_id] %>
              <%= f.hidden_field :proceso, :value => Tramite::REINSCRIPCION %>
              <%= f.hidden_field :estado_proceso, :value => Tramite::ENVIADO %>

              <% if @reinscripcion[:datos][:can] %>

                <div class="row">
                  <h4>DATOS ACADÉMICOS</h4>
                  <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                      <label><b>Matricula</b></label>
                      <label class="form-control"><%= @reinscripcion[:matricula] %></label>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                      <label><b>Nombre</b></label>
                      <label class="form-control"><%= @reinscripcion[:nombre] %></label>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                      <label><b>Correo Electrónico</b></label>
                      <label class="form-control"><%= @reinscripcion[:correo_electronico] %></label>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                      <label><b>Carrera</b></label>
                      <label class="form-control"><%= @reinscripcion[:carrera] %></label>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                      <label><b>Grupo Anterior:</b></label>
                      <label class="form-control"><%= @reinscripcion[:grupo_anterior] %></label>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                      <label><b>Beca Anterior:</b></label>
                      <% if @reinscripcion[:tipo_alumno] == 'BAJA_TEMP' or @reinscripcion[:tipo_alumno] == 'BAJA_DEF' %>
                        <label class="form-control">Sin Beca</label>
                      <% else %>
                        <label class="form-control"><%= @reinscripcion[:beca_anterior_ciclo] %></label>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <h4>DATOS PERSONALES</h4>
                  <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                      <label><b>Dirección</b></label>
                      <label class="form-control"><%= @datos_personales[:domicilio] %></label>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                      <label><b>Ciudad</b></label>
                      <label class="form-control"><%= @datos_personales[:ciudad] %></label>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                      <label><b>Teléfono</b></label>
                      <label class="form-control"><%= @datos_personales[:telefono] %> </label>
                    </div>
                  </div>
                  <div class="col-sm-12 col-lg-12">
                    <p class="help-text">
                      <strong>
                        Si la información presentada esta desactualizada o es incorrecta, favor de pasar al
                        Departamento de
                        Servicios Escolares a proporcionar su información.
                      </strong>
                    </p>
                  </div>
                </div>
                <div class="row">
                  <h4>DATOS DEL TUTOR</h4>
                  <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                      <label><b>Tutor</b></label>
                      <label class="form-control"><%= @formato[:nombre_tutor] + " " + @formato[:apellido_paterno_tutor] + " " + @formato[:apellido_materno_tutor] %></label>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                      <label><b>Ocupación</b></label>
                      <label class="form-control"><%= @formato[:ocupacion_tutor] %></label>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                      <label><b>Parentesco</b></label>
                      <label class="form-control"><%= @formato[:parentesco_tutor] %> </label>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                      <label><b>Dirección</b></label>
                      <label class="form-control"><%= "C. " + @formato[:calle_tutor] + ", No." + @formato[:numero_tutor] + ", Col: " + @formato[:colonia_tutor] %></label>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                      <label><b>Ciudad</b></label>
                      <label class="form-control"><%= @formato[:poblacion_tutor].to_s + ", " + @formato[:estado_tutor].to_s %></label>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                      <label><b>Teléfono</b></label>
                      <label class="form-control"><%= @formato[:telefono_con_lada_tutor] %> </label>
                    </div>
                  </div>
                  <div class="col-sm-12 col-lg-12">
                    <p class="help-text">
                      <strong>
                        Si la información presentada esta desactualizada o es incorrecta, favor de pasar al
                        Departamento de
                        Servicios Escolares a proporcionar su información.
                      </strong>
                    </p>
                  </div>
                </div>

                <% unless @debits.blank? %>
                  <div class="row">
                    <h4>ADEUDOS</h4>
                    <div class="table-responsive">
                      <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                          <th class="th-adeudo">Concepto</th>
                          <th class="th-adeudo">Importe</th>
                          <th class="th-adeudo">Mes</th>
                          <th class="th-adeudo">Año</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% @debits.each do |debit|
                          fecha = debit.created_at
                          fecha = fecha.to_date
                          month = fecha.strftime('%m')
                          month = month.to_i
                          year = fecha.strftime('%Y')
                          month = Debit.get_human_date_and_type(month.to_s)     %>
                          <tr>
                            <td class="adeudos"><%= debit.description %></td>
                            <td> $ <%= debit.amount.to_s %> </td>
                            <td> <%= month[:mes] %></td>
                            <td> <%= year %> </td>
                          </tr>
                        <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                <% end %>

                <% if @reinscripcion[:tipo_alumno] == 'BAJA_TEMP' or @reinscripcion[:tipo_alumno] == 'BAJA_DEF' %>
                  <div class="row">
                    <h4>Preregistro de Pagos</h4>
                    <div class="col-lg-4 col-sm-12">
                      <div class="form-group">
                        <label><b>Concepto de Preregistro:</b></label>
                        <label class="form-control"><%= @reinscripcion_prepayment.description %></label>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                      <div class="form-group">
                        <label><b>Precio</b></label>
                        <label class="form-control"><%= "$" + (@reinscripcion_prepayment.total_amount_nes.to_i).to_s %> </label>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                      <div class="form-group">
                        <label><b> # de Referencia de Pago</b></label>
                        <%= text_field :referencia_pago, :reinscripcion, class: 'string optional form-control', size: 25, placeholder: "Anote su linea de captura", required: true, maxlength: true %>
                      </div>
                    </div>
                  </div>
                  <% unless @language_debit.blank? %>
                    <div class="col-sm-12 col-lg-12">
                      <span class="label label-warning">
                        <i> Usted tiene un adeudo activo.</i>
                      </span>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                      <div class="form-group">
                        <label><b>Adeudo de Ingles:</b></label>
                        <label class="form-control"><%= @language_debit.concept.description %></label>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                      <div class="form-group">
                        <label><b>Precio</b></label>
                        <label class="form-control"><%= "$" + @language_debit.amount.to_s %> </label>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                      <div class="form-group">
                        <label><b> # de Referencia de Pago</b></label>
                        <%= text_field :referencia_pago, :ingles, class: 'string optional form-control', size: 25, placeholder: "Anote su linea de captura", required: true, maxlength: 19 %>
                      </div>
                    </div>
                  <% end %>
                <% else %>
                  <% if !@language_debit.blank? || @reinscripcion[:beca_anterior].to_i != 100 %>
                    <div class="row">
                      <h4>Preregistro de Pagos</h4>
                      <% if @reinscripcion[:beca_anterior].to_i != 100 %>
                        <div class="col-lg-4 col-sm-12">
                          <div class="form-group">
                            <label><b>Concepto de Preregistro:</b></label>
                            <label class="form-control"><%= @reinscripcion_prepayment.description %></label>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                          <div class="form-group">
                            <label><b>Precio</b></label>
                            <label class="form-control"><%= "$" + (@reinscripcion_prepayment.total_amount_nes.to_i * @descuento).to_s %> </label>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                          <div class="form-group">
                            <label><b> # de Referencia de Pago</b></label>
                            <%= text_field :referencia_pago, :reinscripcion, class: 'string optional form-control', size: 25, placeholder: "Anote su linea de captura", required: true, maxlength: true %>
                          </div>
                        </div>
                      <% end %>
                      <% unless @language_debit.blank? %>
                        <div class="col-sm-12 col-lg-12">
                          <span class="label label-warning">
                            <i> Usted tiene un adeudo activo.</i>
                          </span>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                          <div class="form-group">
                            <label><b>Adeudo de Ingles:</b></label>
                            <label class="form-control"><%= @language_debit.concept.description %></label>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                          <div class="form-group">
                            <label><b>Precio</b></label>
                            <label class="form-control"><%= "$" + @language_debit.amount.to_s %> </label>
                          </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                          <div class="form-group">
                            <label><b> # de Referencia de Pago</b></label>
                            <%= text_field :referencia_pago, :ingles, class: 'string optional form-control', size: 25, placeholder: "Anote su linea de captura", required: true, maxlength: 19 %>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  <% else %>
                    <%= hidden_field :referencia_pago, :reinscripcion %>
                    <%= hidden_field :referencia_pago, :ingles %>
                  <% end %>
                <% end %>

                <%= hidden_field :concept, :id, :value => @reinscripcion_prepayment.id %>
                <% @reinscripcion[:datos][:info_all].each_with_index do |semestre, index| %>
                  <% semestr = Semestr.find_by_clave(semestre[:clave]) %>
                  <%= f.hidden_field :semestre_id, :value => semestr.id %>
                <% end %>
                <div class="row">
                  <div class="col-lg-4"></div>
                  <div class="col-lg-4">
                    <div class="row">
                      <%= f.submit 'Enviar Solicitud', class: 'btn btn-primary', data: { disable_with: "Por favor espere..." } %>
                    </div>
                  </div>
                  <div class="col-lg-4"></div>
                </div>
                <br>
                <br>
              <% else %>
                <div class="panel panel-danger">
                  <div class="panel-heading">
                    <% unless @reinscripcion[:datos][:message].blank? %>
                      <%= @reinscripcion[:datos][:message]  %>
                    <% end %>
                  </div>
                  <div class="panel-body">
                    Para cualquier duda o aclaración acuda al Departamento de Servicicios Escolares, o comuníquese a los
                    teléfonos:
                    281872-9230 (Campus Loma Bonita), 287872-9240 (Campus Tuxtepec)
                  </div>
                </div>
              <% end %>

            <% end %>
          </div>
        </div>
      </div>
    <% else %>

    <% end %>
  <% else %>
    <div class="panel panel-danger">
      <div class="panel-heading">No se encuentra un periodo de inscripcion/reinscripcion activo.</div>
      <div class="panel-body">
        Para cualquier duda o aclaración acuda al Departamento de Servicicios Escolares, o comuníquese a los teléfonos:
        281872-9230 (Campus Loma Bonita), 287872-9240 (Campus Tuxtepec)
      </div>
    </div>
  <% end %>
<% else %>
  <div class="panel panel-danger">
    <div class="panel-heading">No existe ningún periodo de inscripciones/reinscripciones guardado.</div>
    <div class="panel-body">
      Para cualquier duda o aclaración acuda al Departamento de Servicicios Escolares, o comuníquese a los teléfonos:
      281872-9230 (Campus Loma Bonita), 287872-9240 (Campus Tuxtepec)
    </div>
  </div>
<% end %>