<h2 class="text-center"><b>Solicitud de Inscripción a Propedéutico</b></h2>
<br>
<% unless @aspirante_solicitud.blank? %>
  <% @aspirante_solicitud.each do |asp| %>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
        <div class="panel panel-primary">
          <div class="panel-heading">Solicitud de inscripción a propedéutico</div>
          <div class="panel-body">
            <div class="row">
              <div class="container-fluid">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <b>Aspirante:</b>
                    </span>
                    <div data-placement="top" data-toggle="tooltip" title="Nombre de Aspirante para solicitar inscripción al curso propedéutico">
                      <%= text_field_tag :aspirante, @aspirante.full_name , class: 'form-control', readonly: true %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="container-fluid">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <b>Carrera :  </b>
                    </span>
                    <div data-placement="top" data-toggle="tooltip" title="Carrera de inscripción al propedéutico">
                      <%= text_field_tag :carrera_nombre, asp[:carrera], class: 'form-control', readonly: true %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="container-fluid">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <b>Periodo:</b>
                    </span>
                    <div data-placement="top" data-toggle="tooltip" title="Tipo del curso propedéutico">
                      <%= text_field_tag :periodo,asp[:tipo], class: 'form-control', readonly: true %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="container-fluid">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <b>Estado :</b>
                    </span>
                    <div data-placement="top" data-toggle="tooltip" title="Tipo del curso propedéutico">
                      <%= text_field_tag :estado, asp[:estatus], class: 'form-control', readonly: true %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="panel panel-danger">
    <div class="panel-heading">No hay ninguna solicitud enviada para la inscripción al curso propedéutico</div>
    <div class="panel-body">
      Para cualquier duda o aclaración acuda al Departamento de Servicicios Escolares, o comuníquese a los teléfonos: 01 (951) 5017205 ext. 1025
    </div>
  </div>
<% end %>