<div class="row">
  <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
    <label for="fichas">Fichas:</label>
    <%= select :carrera, :id, options_for_select(@fichas_asp.collect{ |g| [g[:periodo_prope]+" | "+g[:nombre], g[:carrera_id]]}), {:include_blank => 'Seleccione la inscripcion'}, :class => 'form-control' %>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
    <label for="aspirante">Aspirante:</label>
    <div class="form-group">
      <div class="input-group">
          <span class="input-group-addon">
            <%= fa_icon 'user' %>
          </span>
        <div data-placement="top" data-toggle="tooltip" title="Nombre de Aspirante para solicitar inscripción al curso propedéutico">
          <%= text_field_tag :aspirante, @aspirante.full_name , class: 'form-control', readonly: true %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
    <label for="carrera">Carrera:</label>
    <div class="form-group">
      <div class="input-group">
          <span class="input-group-addon">
            <%= fa_icon 'graduation-cap' %>
          </span>
        <div data-placement="top" data-toggle="tooltip" title="Carrera de inscripción al propedéutico">
          <%= text_field_tag :carrera_nombre,@carrera_nombre.blank? ? " " : @carrera_nombre, class: 'form-control', readonly: true %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
    <label for="periodo">Periodo:</label>
    <div class="form-group">
      <div class="input-group">
          <span class="input-group-addon">
            <%= fa_icon 'graduation-cap' %>
          </span>
        <div data-placement="top" data-toggle="tooltip" title="Tipo del curso propedéutico">
          <%= text_field_tag :periodo, @periodo.blank? ? " " : @periodo , class: 'form-control', readonly: true %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
    <label for="carrera">Concepto de cobro:</label>
    <div class="form-group">
      <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-credit-card" aria-hidden="true"></i>
          </span>
        <div data-placement="top" data-toggle="tooltip" title="Carrera de inscripción al propedéutico">
          <%= text_field_tag :concepto," ", class: 'form-control', readonly: true %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
    <label for="carrera">Precio:</label>
    <div class="form-group">
      <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-usd fa-lg" aria-hidden="true"></i>
          </span>
        <div data-placement="top" data-toggle="tooltip" title="Carrera de inscripción al propedéutico">
          <%= text_field_tag :precio,@monto.blank? ? " " : @monto, class: 'form-control', readonly: true %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
    <label for="carrera">Número de Referencia de Pago:</label>
    <div class="form-group">
      <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-barcode" aria-hidden="true"></i>
          </span>
        <div data-placement="top" data-toggle="tooltip" title="Carrera de inscripción al propedéutico">
          <%= text_field_tag :num_ref,'',class: 'form-control', maxlength: 19, :required => true, onkeypress: "return event.charCode > 47 && event.charCode < 58;"%>
        </div>
      </div>
    </div>
    <div class ="alert-info small" id="estado_num_ref"></div>
  </div>
</div>
<script type="text/javascript">
    //Validación para el número de referencia de pago
    $("input#num_ref").focusout(function () {
        let linea_captura = $("input#num_ref").val();
        if (linea_captura.length < 19){
            $("input#num_ref").val("");
            $("#estado_num_ref").text("El número de referencia de pago debe contener 19 dígitos.");
        } else {
            $("#estado_num_ref").text("");
        }
    });
</script>