<div>
  <%= render 'mensajes' %>
</div>
<h2 class="text-center"><b>Consulta de Inscripción a Propedéutico</b></h2>
<br>
<% unless @solicitudes.blank? %>
    <% @solicitudes.each do|datos| %>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
        <div class="panel panel-primary">
          <div class="panel-heading" style="text-align: center">Inscripción a Propedéutico</div>
          <div class="panel-body">
            <div class="row">
              <div class="container-fluid">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon" style="min-width: 110px;">
                      <b>Aspirante:</b>
                    </span>
                    <div data-placement="top" data-toggle="tooltip" title="Nombre de Aspirante para solicitar inscripción al curso propedéutico">
                      <%= text_field_tag :aspirante, @aspirante.full_name , class: 'form-control', readonly: true %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="container-fluid">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon" style="min-width: 110px;">
                      <b>Carrera :  </b>
                    </span>
                    <div data-placement="top" data-toggle="tooltip" title="Carrera de inscripción al propedéutico">
                      <%= text_field_tag :carrera_nombre, datos[:carrera], class: 'form-control', readonly: true %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="container-fluid">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon" style="min-width: 110px;">
                      <b>Periodo:</b>
                    </span>
                    <div data-placement="top" data-toggle="tooltip" title="Tipo del curso propedéutico">
                      <%= text_field_tag :periodo,datos[:tipo], class: 'form-control', readonly: true %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="container-fluid">
                <div class="form-group">
                  <div class="input-group">
                    <span class="input-group-addon" style="min-width: 110px;">
                      <b>Estado :</b>
                    </span>
                      <div data-placement="top" data-toggle="tooltip" title="Estado del curso propedéutico">
                        <%= text_field_tag :estado, datos[:estado], class: 'form-control', readonly: true %>
                          </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="row">
                <div class="container-fluid">
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon" style="min-width: 110px;">
                        <b>Grupo:</b>
                      </span>
                      <% if datos[:inscrito] %>
                      <div data-placement="top" data-toggle="tooltip" title="Tipo del curso propedéutico">
                        <%= text_field_tag :grupo,datos[:grupo], class: 'form-control', readonly: true %>
                      </div>
                        <% else %>
                          <div data-placement="top" data-toggle="tooltip" title="Tipo del curso propedéutico">
                            <%= text_field_tag :grupo,"SIN ASIGNAR", class: 'form-control', readonly: true %>
                              </div>
                        <% end %>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
<% else %>
  <div class="panel panel-danger">
    <div class="panel-heading">No hay ninguna solicitud enviada para la inscripción al curso propedéutico</div>
    <div class="panel-body">
      Para cualquier duda o aclaración acuda al Departamento de Servicicios Escolares, o comuníquese a los teléfonos: <%= @campus.telefono_ext unless @campus.blank? %>
    </div>
  </div>
<% end %>