<h2 class="text-center"><b>Solicitud de Inscripción a Propedéutico</b></h2>

<% if @existe %>
  <div class="panel panel-danger">
    <div class="panel-heading" style="text-align: center">
      Ya has sido alumno de la universidad, por lo que tu caso puede ser especial
    </div>
    <div class="panel-body">
      Para cualquier duda o aclaración acuda al Departamento de Servicicios Escolares, o comuníquese a los teléfonos: <%= @campus.telefono_ext unless @campus.blank? %>
    </div>
  </div>
<% else %>
  <% if @periodo_propedeutico.actual %>
  <% if @solicitud_propedeutico.blank? %>
    <% unless @fichas_asp.blank? %>
      <div class="row">
        <h3>Instrucciones</h3>
        <ul class="text-center">
          <li>Solo podrás observar las opciones donde fuiste aprobado de acuerdo a la ficha que solicitaste.</li>
          <li>Selecciona una opcion y da click en el botón "Enviar".</li>
        </ul>
      </div>
      <br>
      <%= form_tag guardar_sol_solicitud_propedeutico_index_path,{method: :post} do %>
        <%= render 'form_solicitud' %>
        <br>
        <div class="row">
          <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
            <div class="form-group">
              <%= submit_tag("Enviar Solicitud", :class => "form-control btn-primary") %>
            </div>
          </div>
        </div>
        <div id="sol_env">
        </div>
      <% end %>
    <% else %>
      <div class="panel panel-danger">
        <div class="panel-heading" style="text-align: center">
          No cuentas con una ficha asignada para el periodo actual, favor de realizar tu solicitud de inscripción a propedéutico en ventanilla.
        </div>
        <div class="panel-body">
          Para cualquier duda o aclaración acuda al Departamento de Servicicios Escolares, o comuníquese a los teléfonos: <%= @campus.telefono_ext unless @campus.blank? %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="panel panel-danger">
      <div class="panel-heading" style="text-align: center">
        Ya tienes realizada una solicitud de propedéutico para el periodo actual.
      </div>
      <div class="panel-body">
        Para cualquier duda o aclaración acuda al Departamento de Servicicios Escolares, o comuníquese a los teléfonos: <%= @campus.telefono_ext unless @campus.blank? %>
      </div>
    </div>
  <% end %>
  <% else %>
    <div class="panel panel-danger">
      <div class="panel-heading" style="text-align: center">
        No existe un periodo propedeútico actual.
      </div>
      <div class="panel-body">
        Para cualquier duda o aclaración acuda al Departamento de Servicicios Escolares, o comuníquese a los teléfonos: <%= @campus.telefono_ext unless @campus.blank? %>
      </div>
    </div>
  <% end %>
<% end %>

