<div>
  <%= render 'mensaje_doc' %>
</div>
<div class="row">
  <div class="col-lg-12">
    <h4 class="text-center">Deberá ingresar la siguiente documentación</h4>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-12">
    <div class="container">
      <%= form_for(@aspirante, url: save_documentos_aspirantes_path, html: { method: :post }) do |f| %>
          <div class="row">
            <div class="col-lg-9 col-sm-12">
              <% @documentos_fichas.each do |docs| %>
                  <tr>
                    <% if docs[:obligatorio]%>
                      <td>*</td>
                    <% else %>
                      <td></td>
                    <% end %>
                    <td>Selecciona el archivo de <%="#{docs[:nombre_documento]}"%></td>
                    <td id="tipo"> (jpeg,png,gif,pdf)</td>
                    <td>
                      <%= f.file_field "docs[#{docs[:id]}]", :accept => 'image/*, application/pdf', require: "#{docs[:obligatorio]}" %>
                    </td>
                  </tr>
                  <br>
              <% end %>

              <div class="col-lg-12">
              <h4>Ingresa la imagen de tu Fotografía</h4>
              </div>
              <tr>
                <td>*</td>
                <td>Selecciona el archivo de tu fotografía</td>
                <td id="tipo"> (jpeg,png,gif)</td>
                <td>
                  <%= f.file_field :foto, :accept => 'image/*', require: true %>
                </td>
              </tr>
              <br>
            <tr>
              <td colspan="2"><small>(*) Campos obligatorios</small></td>
            </tr>
            </div>

            <div class="col-lg-12">
              <div class="container">
                <%= link_to 'Cancelar', root_path, class: 'btn btn-primary btn-space pull-right' %>
                <%= f.submit 'Guardar Documentos', class: "btn btn-primary btn-space pull-right", data: { disable_with: "Por favor espere..." }, onclick: "javascript: return revisa_submit();" %>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  function revisa_submit() {
      faltan = false;
      <% @documentos_fichas.each do |docs| %>
          <% if docs[:obligatorio] %>
              if (!faltan) {
                  var comprobante = document.getElementById("aspirante_docs[" + <%=docs[:id]%> +"]").value;
                  if (comprobante == "") {
                      faltan = true;
                  }
                  else {
                      if (/\.(jpe?g|png|gif|pdf)$/i.test(comprobante.toLowerCase())) {
                      }
                      else {
                          faltan = true;
                      }
                  }
              }
          <% end %>
      <% end %>
      var foto = document.getElementById("aspirante_foto").value;
      if (foto == "") {
          valido = false;
      }
      else {
          valido = (/\.(jpe?g|png|gif)$/i.test(foto.toLowerCase()));
      }
      if (valido !== true || faltan === true) {
          alert("Debes subir los documentos obligatorios, con extensión válida.");
      }
      ban = valido && !faltan
    return ban;
  }
</script>

