<div class="row">
  <div class="col-lg-12">
    <h4 class="text-center">Deberá ingresar la siguiente documentación</h4>
  </div>
</div>
<br>
<div class="row">
  <div class="col-lg-12">
    <div class="container">
      <%= form_for(@aspirante, url: save_edit_documentos_aspirantes_path, html: { method: :post }) do |f| %>
          <div class="row">
            <div class="col-lg-10 col-sm-12">
              <% @documentos_fichas.each do |docs| %>
                  <div class="row">
                    <div class="col-lg-6 col-sm-12">
                    <% if docs[:obligatorio]%>
                      <td>*</td>
                    <% else %>
                      <td></td>
                    <% end %>
                    <td>Selecciona el archivo de <%="#{docs[:nombre_documento]}"%></td>
                    <td id="tipo"> (jpeg,png,gif,pdf)</td>
                    <td>
                      <%= f.file_field "docs[#{docs[:id]}]", :accept => 'image/*, application/pdf', require: "#{docs[:obligatorio]}" %>
                    </td>
                    </div>
                    <div class="col-lg-5 col-sm-12">
                    <td>OBSERVACIONES: <%= AspiranteDocumento.find_by_aspirante_id_and_documento_ficha_id(@aspirante.id, docs[:id]).observaciones.to_s %> </td>
                    </div>
                  </div>
                  <br>
                  <br>
              <% end %>
            </div>
          </div>
          <% if @pedir_comprobante %>
            <div class="row">
              <h4>COMPROBANTE DE PAGO</h4>
              </br>
              <div class="col-lg-10 col-sm-12">
                <% if @solicitud_ficha.comprobante_aceptado.nil? %>
                  <div class="col-lg-6 col-sm-12">
                    <tr>Comprobante en revisión para aprobación. </tr>
                  </div>
                <% else %>
                  <div class="col-lg-6 col-sm-12">
                    <td>*Selecciona tu comprobante de pago</td>
                    <td id="tipo"> (jpeg,png,gif,pdf)</td>
                    <td>
                      <%= f.file_field :comprobante, :accept => 'image/*, application/pdf', require: true %>
                    </td>
                  </div>
                  <div class="col-lg-5 col-sm-12">
                    <td>OBSERVACIONES: <%= @solicitud_ficha.observaciones %> </td>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %>
          <% if @pedir_fotografia %>
              <div class="row">
                <h4>FOTOGRAFÍA</h4>
                </br>
                <div class="col-lg-10 col-sm-12">
                  <% if @aspirante.fotografia_aceptado.nil? %>
                      <div class="col-lg-6 col-sm-12">
                        <tr>Fotografía en revisión para aprobación. </tr>
                      </div>
                  <% else %>
                      <div class="col-lg-6 col-sm-12">
                        <td>*Selecciona tu fotografía</td>
                        <td id="tipo"> (jpeg,png,gif)</td>
                        <td>
                          <%= f.file_field :fotografia, :accept => 'image/*', require: true %>
                        </td>
                      </div>
                      <div class="col-lg-5 col-sm-12">
                        <td>OBSERVACIONES: <%= @aspirante.observaciones %> </td>
                      </div>
                  <% end %>
                </div>
              </div>
          <% end %>
          </br>
          </br>

          <tr>
            <td colspan="2"><small>(*) Campos obligatorios</small></td>
          </tr>
          <div class="row">
            <div class="col-lg-9 col-sm-12">
              <%= link_to 'Cancelar', fichas_path, class: 'btn btn-primary btn-space pull-right' %>
              <%= f.submit 'Guardar Documentos', class: "btn btn-primary btn-space pull-right", data: { disable_with: "Por favor espere..." }, onclick: "javascript: return revisa_submit();" %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  function revisa_submit() {
    valido = true;
    valido_opcional = true;
    <% @documentos_fichas.each do |docs| %>
      if (valido) {
        <% if docs[:obligatorio] %>
          var comprobante = document.getElementById("aspirante_docs[" + <%=docs[:id]%> + "]").value;
          if (comprobante == "") {
              valido = false;
          }
          else {
            valido = (/\.(jpe?g|png|gif|pdf)$/i.test(comprobante.toLowerCase()));
          }
        <% end %>
      }
      <% if !docs[:obligatorio] %>
        var documento = document.getElementById("aspirante_docs[" + <%=docs[:id]%> + "]").value;
        if (documento == "") {
            valido_opcional = false;
        }
        else {
            if (/\.(jpe?g|png|gif|pdf)$/i.test(documento.toLowerCase())) {
                // valido_opcional = true;
            }
            else {
                valido_opcional = false;
            }
        }
      <% end %>
    <% end %>

    if (valido){
      var comprobante_pago = "";
      if (document.getElementById("aspirante_comprobante") != null) {
        comprobante_pago = document.getElementById("aspirante_comprobante").value;
        if (comprobante_pago == "") {
          valido = false;
        }
        else {
          valido = (/\.(jpe?g|png|gif|pdf)$/i.test(comprobante_pago.toLowerCase()));
        }
      }
//      var foto = document.getElementById("aspirante_foto").value;
//      if (foto == "") {
//          valido = false;
//      }
//      else {
//        if (/\.(jpe?g|png|gif)$/i.test(foto.toLowerCase())) {
//            valido = true;
//        }
//        else {
//          valido = false;
//        }
//      }
    }

    if (valido){
      var fotografia = "";
      if (document.getElementById("aspirante_fotografia") != null) {
        fotografia = document.getElementById("aspirante_fotografia").value;
        if (fotografia == "") {
          valido = false;
        }
        else {
          valido = (/\.(jpe?g|png|gif)$/i.test(fotografia.toLowerCase()));
        }
      }
    }

    if (valido !== true) {
        alert("Debes subir los documentos obligatorios, con extensión válida.");
    }
    else{
      if (valido_opcional !== true) {
          alert("Se enviarán algunos documentos opcionales vacíos.");
      }
    }
    return valido;
  }
</script>

