<% unless @anuncio.blank? %>
  <% hora_actual = Time.now.strftime("%d-%m-%Y")  %>
  <% pos = 1  %>
  <%modulo = 5 %>

  <% @anuncio.each do  |anuncio |  %>

    <%if (hora_actual >= anuncio.desde && hora_actual <= anuncio.hasta && anuncio.modulo == modulo) %>

      <div class="alert alert-info alert-dismissable">
        <button type="button" class="close" class ="btn btn-light" data-dismiss="alert" >Enterado</button>
        <p>  <%= pos %>.- <%= anuncio.mensaje %> </p>
        <% pos+=1 %>
      </div>
    <% end  %>
  <% end %>
<% end %>