<% if !@escuela_disponible  %>
  <%= image_tag('icon_no.png', alt: "rec", id: "y") + " La escuela no esta dentro de las opciones, selecciona una opción valida" %>
<% else %>
  <%= image_tag('icon_yes.png', alt: "acep", id: "y") + "" %>
<% end %>