<% if @nss_disponible  %>
  <% if @tamaño<11%>
    <%= image_tag('icon_yes.png', alt: "acep", id: "x") + " Valor aceptado" %>
  <% else %>
    <%= image_tag('icon_yes.png', alt: "acep", id: "x") + " El NSS está disponible" %>
  <% end %>
<% else %>
    <%if @tamaño < 11 %>
        <%= image_tag('icon_no.png',alt: "rec", id: "x") + " debes escribir NINGUNO o un número de 11 digitos" %>
      <% else %>
        <%= image_tag('icon_no.png',alt: "rec", id: "x") + " El NSS ya ha sido registrado" %>
      <% end %>
<% end %>