<h2 class="text-center"><b>Información del Aspirante</b></h2>
<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    Deberá rellenar la siguiente información antes de continuar con el proceso de solicitud de fichas.
  </div>
</div>
<div>
  <div>
    <%= form_for(@aspirante, html: { id: "go" }) do |f| %>

      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#datos_aspirante">Datos del Aspirante</a></li>
        <li><a data-toggle="tab" href="#datos_personales">Datos Personales</a></li>
        <li><a data-toggle="tab" href="#datos_lenguas_indigenas">Datos Lenguas Indigenas</a></li>
        <li><a data-toggle="tab" href="#datos_academicos">Datos Academicos</a></li>
        <li><a data-toggle="tab" href="#datos_medicos">Datos Médicos</a></li>
        <li><a data-toggle="tab" href="#datos_padres">Datos de los Padres</a></li>
        <li><a data-toggle="tab" href="#datos_tutor">Datos del Tutor</a></li>
      </ul>
      <div>
        <div>
          <div class="tab-content h-60vh">
            <div id="datos_aspirante" class="tab-pane fade in active">
              <div class="container">
                <div class="row">
                  <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                      <%= f.label :nombre, 'Nombre (s)'%>
                      <%= f.text_field :nombre, class: "form-control", oninput:"this.value = this.value.toUpperCase()",  placeholder: 'Escriba su nombre (s)', 'aria-describedby': "basic-addon1", :required => true,  :disabled=>"true" %>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                      <%= f.label :apellido_paterno, 'Apellido Paterno' %>
                      <%= f.text_field :apellido_paterno, class: "form-control",  oninput:"this.value = this.value.toUpperCase()", placeholder: 'Escriba su apellido paterno', 'aria-describedby': "basic-addon1", :required => true,  :disabled=>"true" %>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                      <%= f.label :apellido_materno, 'Apellido Materno' %>
                      <%= f.text_field :apellido_materno, class: "form-control",  oninput:"this.value = this.value.toUpperCase()", placeholder: 'Escriba su apellido materno', 'aria-describedby': "basic-addon1", :required => true,  :disabled=>"true" %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-sm-12">
                    <div class="form-group">
                      <%= f.label :curp, 'CURP' %>
                      <%= f.text_field :curp,  class: "form-control uppercase",  placeholder: 'Escriba su curp', 'aria-describedby': "basic-addon1", value: current_usuario.username, readonly: true %>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-12">
                    <div class="form-group">
                      <%= f.label :sexo, 'Sexo' %>
                      <%= f.select :sexo, options_for_select([['HOMBRE', Aspirante::HOMBRE], ['MUJER', Aspirante::MUJER]], :selected => current_usuario.username[10].upcase), {}, disabled: true, class: "select-text form-control" %>
                      <% if current_usuario.username[10] == Aspirante::HOMBRE %>
                        <input type="hidden" name="aspirante[sexo]" id="aspirante_sexo" , value="H">
                      <% else %>
                        <input type="hidden" name="aspirante[sexo]" id="aspirante_sexo" , value="M">
                      <% end %>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-12">
                    <div class="form-group">
                      <%= f.label :edad, 'Edad' %>
                      <%= f.text_field :edad, class: "form-control", placeholder: 'Escriba su edad', 'aria-describedby': "basic-addon1", value: Usuario.get_age(Usuario.get_birthdate(current_usuario.id)) ,readonly: true %>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-12">
                    <div class="form-group">
                      <%= f.label :fecha_nacimiento, 'Fecha de Nacimiento' %>
                      <%= f.text_field :fecha_nacimiento, class: "form-control", placeholder: 'Escriba su fecha de nacimiento', 'aria-describedby': "basic-addon1", value: Usuario.get_birthdate(current_usuario.id).strftime("%Y-%m-%d"), readonly: true %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-3 col-sm-12" >
                  <!--                  <button class="btn btn-success"id="button_aspirante">Verificar</button>-->
                </div>
              </div>
            </div>
            <div id="datos_personales" class="tab-pane fade">
              <div class="container">
                <%= f.fields_for :dato_personal do |dp| %>
                  <div class="row">
                    <h3>Datos Personales</h3>
                    <div class="col-lg-4 col-sm-12">
                      <div class="form-group">
                        <%= dp.label :lugar_nacimiento, 'Lugar de Nacimiento' %>
                        <%= dp.text_field :lugar_nacimiento,  oninput:"this.value = this.value.toUpperCase()",placeholder: 'Anote su lugar de nacimiento', 'aria-describedby': 'basic-addon1', class: 'form-control', :required => true , :disabled=>"true" %>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                      <div class="form-group">
                        <%= dp.label :nss, 'NSS' %>
                        <%= dp.text_field :nss, placeholder: 'Anote su número de seguro social', 'aria-describedby': 'basic-addon1', class: 'form-control',:maxlength => 11, :required => true,  :disabled=>"true",onKeyPress: "return soloNumeros(event)" %>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                      <div class="form-group">
                        <%= dp.label :telefono, 'Teléfono' %>
                        <%= dp.text_field :telefono, placeholder: 'Anote su número de celular', 'aria-describedby': 'basic-addon1', class: 'form-control', :maxlength => 10,:required => true, onKeyPress: "return soloNumeros(event)",  :disabled=>"true" %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4 col-sm-12">
                      <div class="form-group">
                        <%if @accion!='edit' %>
                          <%= dp.label :estado_civil, 'Estado Civil' %>
                          <%= dp.select :estado_civil, options_for_select(DatoPersonal::ESTADO_CIVIL.collect {|p| [p[:nombre], p[:id]]}), {:include_blank => "Seleccione su estado civil"}, class: 'form-control', required: true,  :disabled=>"true" %>
                        <%else %>
                          <%= dp.label :estado_civil, 'Estado Civil' %>
                          <%= dp.select :estado_civil, DatoPersonal::ESTADO_CIVIL.collect {|p| [p[:nombre], p[:id]]}, {prompt: '---Seleccione su estado civil---', selected: (@aspirante_estado_civil)}, class: 'form-control', required: true,  :disabled=>"true" %>
                        <%end %>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                      <div class="form-group">
                        <%= dp.label :email, 'Correo Electrónico' %>
                        <%= dp.text_field :email, value: current_usuario.email, class: 'form-control', readonly: true %>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                      <div class="form-group">
                        <%= dp.label :nacionalidad, 'Nacionalidad' %>
                        <%= dp.text_field :nacionalidad, value: 'MEXICANA', class: 'form-control', readonly: true %>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <%@dir=@aspirante.dato_personal.direccion%>
                    <h3>Datos de Domicilio</h3>
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <label class="col-lg-12">Calle</label>
                        <div class="col-lg-12">
                          <input type="text" name="direccion[calle]" id="direccion_calle" class="form-control uppercase", required="true"  disabled="true"  value="<%= @dir.calle%>">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <label class="col-lg-12">Número</label>
                        <div class="col-lg-12">
                          <input type="text" name="direccion[numero]" id="direccion_numero" class="form-control" required="true"  disabled="true" value="<%= @dir.numero%>", onKeyPress = "return soloNumeros(event)">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <label class="col-lg-12">Colonia</label>
                        <div class="col-lg-12">
                          <input type="text" name="direccion[colonia]" id="direccion_colonia" class="form-control uppercase" required="true"  disabled="true"value="<%= @dir.colonia%>">
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <label class="col-lg-12">Codigo Postal</label>
                        <div class="col-lg-12">
                          <input type="text" name="direccion[codigo_postal]" id="direccion_codigo_postal" class="form-control" maxlength ="5" required="true"  disabled="true" value="<%= @dir.codigo_postal%>">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <label class="col-lg-12">País</label>
                        <div class="col-lg-12">
                          <%= select :pais, :id, @paises.collect {|m| [m.nombre, m.id]}, {:include_blank => '---Seleccione su país---', selected: (Lugar.get_mexico).id}, disabled: true, class: 'form-control' %>
                          <%= check_box_tag :extranjero, {}, false %> ¿Extranjero?
                          <input type="hidden" name="direccion[pais]" id="direccion_pais" , value="<%= Lugar.get_mexico.id %>">
                          <%= hidden_field_tag :pais_key, (Lugar.get_mexico).id %>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <label class="col-lg-12" id="etiquetaEstado">Estado</label>
                        <%if @accion!='edit' %>
                          <div class="col-lg-12">
                            <%= select :estado, :id, @estados.collect {|m| [m.nombre, m.id]}, {include_blank: '---Seleccione su estado---'}, class: 'form-control', required: true , disabled: true %>
                          </div>
                        <%else %>
                          <div class="col-lg-12">


                            <%= select :estado, :id, @estados.collect {|m| [m.nombre, m.id]}, {include_blank: '---Seleccione su estado---', selected: (@aspirante_estado_id)}, class: 'form-control', required: true , disabled: true%>
                          </div>
                        <%end %>
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <label class="col-lg-12" id="etiquetaMunicipio">Municipios</label>
                        <%#if @accion!='edit' %>
                        <div class="col-lg-12" id="municipios"></div>

                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <label class="col-lg-12" id="etiquetaLocalidad">Localidades</label>
                        <div class="col-lg-12" id="localidades"></div>
                      </div>
                    </div>
                  </div>
                <% end %>
                <br>
                <div class="col-lg-3 col-sm-12">
                  <!--                  <button  class="btn btn-success"id = "datos_personales_id">Verificar</button>-->
                </div>
              </div>
            </div>
            <div id="datos_lenguas_indigenas" class="tab-pane fade">
              <div class="container">
                <div class="row">
                  <h3>Lenguas Indígenas</h3>
                  <div class="col-lg-12 text-center">
                    Seleccionar la lengua indígena que hable, en caso contrario seleccionar ninguna.
                  </div>
                </div>
                <br>
                <div class="row">
                  <%= hidden_field_tag  value=@aspirante.id %>
                  <%if @accion!='edit' %>

                    <% @lenguas_indigenas.each do |lengua| %>
                      <div class="col-lg-4 col-sm-12">
                        <%= check_box_tag "datos_lenguas[lengua_indigena][]", lengua.id, false, required: true , disabled: true %> <%= lengua.nombre %>
                        <%lengua.id %>
                      </div>
                    <% end %>
                  <%else%>
                    <%  @lenguas_aspirante = @aspirante.dato_personal.lenguas_indigenas%>

                    <% @lenguas_indigenas.each do |lengua| %>
                      <div class="col-lg-4 col-sm-12">
                        <%= check_box_tag "datos_lenguas[lengua_indigena][]", lengua.id, (!@lenguas_aspirante.select {|l| l.id == lengua.id}.blank?), required: true  , disabled: true%> <%= lengua.nombre %>
                      </div>
                    <% end %>
                    </div>
                  <%end %>

                  <br>
                  <div class="row">
                    <div class="col-lg-4 col-sm-12">
                      <!--                      <button  class="btn btn-success" id="button_lenguas_indigenas">Verificar</button>-->
                    </div>
                  </div>
                  </div>
            </div>
            <div id="datos_academicos" class="tab-pane fade">
              <div class="container h-100p">
                <div class="row">
                  <h3>Antecedentes Academicos</h3>
                  <h4>En el nombre de la escuela de procedencia buscar su escuela, escribiendo el nombre de esta y seleccionarla, si no se</h4>
                  <h4>encuentra su escuela favor de escribir y seleccionar "OTRA" </h4>
                  <div class="col-lg-5 col-sm-12">
                    <div class="form-group">
                      <label>Escuela de Procedencia</label>
                      <% @dataaca=@aspirante.antecedente_academico %>
                      <input type="text" name="dato_academico[escuela_procedente_nombre]" id="dato_academico_escuela_procedente_nombre" class="form-control" placeholder = "Escriba el nombre de la escuela..." required="true" disabled="true",  value="<%= @dataaca.escuela_procedente.nombre%>">
                      <input type="hidden" id="dato_academico_escuela_procedente_id" />
                    </div>
                  </div>

                  <div class="col-lg-3 col-sm-12">
                    <div class="form-group">
                      <label>Fecha de Inicio</label>
                      <input type="text" id="dato_academico_año_inicio" name="dato_academico[año_inicio]" class="form-control" placeholder="Anote el año de inicio"  disabled="true", value="<%= @dataaca.año_inicio%>">
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-12">
                    <div class="form-group">
                      <label>Fecha de Fin</label>
                      <input type="text" id="dato_academico_año_fin" name="dato_academico[año_fin]" class="form-control" placeholder="Anote el año de fin "  required="true"  disabled="true" value="<%= @dataaca.año_fin%>"/>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-lg-5 col-sm-12">
                    <div class="form-group">
                      <label>Especialidad</label>
                      <input type="text" id="dato_academico_especialidad" name="dato_academico[especialidad]" class="form-control" placeholder="Anote su especialidad" required="true"  disabled="true" value="<%= @dataaca.especialidad%>"/>
                    </div>
                  </div>

                  <div class="col-lg-3 col-sm-12">
                    <div class="form-group">
                      <%if @accion!='edit' %>
                        <label>Área de Conocimiento</label>
                        <%= select :dato_academico, :area_conocimiento_id, options_for_select(EscuelaProcedente::AREA_CONOCIMIENTO.collect {|p| [p[:nombre], p[:id]]}), {:include_blank => "Seleccione su área de conocimiento"}, class: 'form-control', required: true, disabled: true %>
                      <%else %>
                        <label>Área de Conocimiento</label>
                        <%= select :dato_academico, :area_conocimiento_id, EscuelaProcedente::AREA_CONOCIMIENTO.collect {|p| [p[:nombre], p[:id]]}, {prompt: '---Seleccione su estado civil---', selected: (@dataaca.area_conocimiento_id)}, class: 'form-control', required: true,  :disabled=>"true" %>
                      <%end %>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-12">
                    <div class="form-group">
                      <label>Promedio</label>
                      <input type="text" id="dato_academico_promedio" name="dato_academico[promedio]" class="form-control" placeholder="Anote su promedio" required="true"  disabled="true" value="<%=  @dataaca.promedio%>"/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-sm-12">
                    <!--                    <button  class="btn btn-success" id="button_antecedente_academico">Verificar</button>-->
                  </div>
                </div>
              </div>
            </div>
            <div id="datos_medicos" class="tab-pane fade">
              <div class="container">
                <div class="row">
                  <h3>Datos Médicos</h3>
                  <div class="col-lg-6 col-sm-12">
                    <div class="form-group">
                      <%@datamed=@aspirante.dato_personal.dato_medico %>
                      <label>Tipo de Sangre</label>
                      <%if @accion!='edit' %>
                        <%= select :dato_medico, :tipo_sangre_id, options_for_select(DatoMedico::TIPO_SANGRE.collect {|p| [p[:nombre], p[:id]]}), {}, class: 'form-control', name: 'dato_medico[tipo_sangre_id]',required: true, disabled: true %>
                      <%else %>
                        <%= select :dato_medico, :tipo_sangre_id, DatoMedico::TIPO_SANGRE.collect {|p| [p[:nombre], p[:id]]}, {prompt: 'Seleccione tipo de sangre', selected: (@datamed.tipo_sangre_id)}, class: 'form-control', required: true, disabled: true %>
                      <%end %>
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-12">
                    <div class="form-group">
                        <label>Discapacidad</label>
                      <%if @accion!='edit' %>
                        <%= select :dato_medico, :discapacidad_id, options_for_select(DatoMedico::DISCAPACIDAD.collect {|p| [p[:nombre], p[:id]]}), {}, class: 'form-control', name: 'dato_medico[discapacidad_id]', required: true , disabled: true%>
                      <%else %>
                        <%= select :dato_medico, :discapacidad_id, DatoMedico::DISCAPACIDAD.collect {|p| [p[:nombre], p[:id]]}, {prompt: 'Seleccione la discapacidad', selected: (@datamed.discapacidad_id)}, class: 'form-control', required: true, disabled: true %>
                      <%end %>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 text-center">
                    Nota: Si padeces de alguna enfermedad de atención especial, describe la información correspondiente de lo contrario solo rellena con la palabra "NINGUNA" ambas casillas
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-sm-12">
                    <div class="form-group">
                      <label>Nombre (s)</label>
                      <input type="text" id="dato_medico_enfermedad_atencion_especial" name="dato_medico[enfermedad_atencion_especial]" class="form-control" required="true"  disabled="true"value="<%= @datamed.enfermedad_atencion_especial%>">
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-12">
                    <div class="form-group">
                      <label>Medicamento (s)</label>
                      <input type="text" id="dato_medico_medicamento_enfermedad_atencion_especial" name="dato_medico[medicamento_enfermedad_atencion_especial]" class="form-control" required="true"  disabled="true"value="<%= @datamed.medicamento_enfermedad_atencion_especial%>">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 text-center">
                    Nota: Si padeces de alguna alergia, describe la información
                    correspondiente de lo contrario solo rellena con la palabra "NINGUNA" ambas casillas
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-sm-12">
                    <div class="form-group">
                      <label>Nombre (s)</label>
                      <input type="text" id="dato_medico_alergia" name="dato_medico[alergia]" class="form-control" required="true"  disabled="true" value="<%= @datamed.alergia%>">
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-12">
                    <div class="form-group">
                      <label>Medicamento (s)</label>
                      <input type="text" id="dato_medico_medicamento_alergia" name="dato_medico[medicamento_alergia]" class="form-control" required="true"  disabled="true"value="<%= @datamed.medicamento_alergia%>">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-sm-12">
                    <!--                    <button  class="btn btn-success" id="button_datos_medicos">Verificar</button>-->
                  </div>
                </div>
              </div>
            </div>
            <div id="datos_padres" class="tab-pane fade">
              <div class="container">
                <div class="row">

                  <h3>Datos del Padre</h3>
                  <div class="row">
                    <%padre=@aspirante.familiares.where(:parentesco=>'PADRE').first%>



                    <div class="col-lg-12 text-center">
                      <p>Nota: Si no tienes, Padre o Madre rellena con una "X" las casillas, de igual manera en su domicilio,</p>
                      <p>selecciona el estado, municipio y localidad la opción de "DESCONOCIDO"</p>
                    </div>
                  </div>

                  <div class="col-lg-4 col-sm-12"><aside></aside>

                    <div class="form-group">
                      <label>Nombre</label>
                      <input type="text" name="familiar[nombre_padre]" id="familiar_nombre_padre" class="form-control" required="true"  disabled="true" ,   value="<%=padre.nombre%>"/>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                      <label>Apellido Paterno</label>
                      <input type="text" name="familiar[apellido_paterno_padre]" id="familiar_apellido_paterno_padre" class="form-control" required="true"  disabled="true",   value="<%=padre.apellido_paterno%>"/>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                      <label>Apellido Materno</label>
                      <input type="text" name="familiar[apellido_materno_padre]" id="familiar_apellido_materno_padre" class="form-control" required="true"  disabled="true",   value="<%=padre.apellido_materno%>"/>
                    </div>
                  </div>

                </div>
                <div class="row">
                  <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                      <label>Ocupación</label>
                      <input type="text" name="familiar[ocupacion_padre]" id="familiar_ocupacion_padre" class="form-control" required="true" ,  disabled="true"   value="<%=padre.ocupacion%>"/>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                      <label>Teléfono</label>
                      <input type="text" name="familiar[telefono_padre]" id="familiar_telefono_padre" class="form-control" maxlength ="10" required="true",  disabled="true"  value="<%=padre.telefono%>" />
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <label>Finado:</label>
                    <% if padre.finado == true %>
                      <input type="checkbox" id="" name="familiar[finado]" checked > <br>
                    <% else %>
                      <input type="checkbox" id="" name="familiar[finado]"> <br>
                    <% end %>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <label>Tutor:</label>
                    <% if padre.tutor == true %>
                      <input type="checkbox" id="tutor_padre" name="familiar[tutor]" checked > <br>
                    <% else %>
                      <input type="checkbox" id="tutor_padre" name="familiar[tutor]"> <br>
                    <% end %>
                  </div>
                </div>
                <div class="row">
                  <h3>Datos del Domicilio del Padre</h3>
                  <div class="col-lg-3 col-sm-12">
                    <div class="form-group">
                      <label>País</label>
                      <%= select :pais_padre, :id, @paises.collect {|m| [m.nombre, m.id]}, {:include_blank => '---Seleccione su país---', selected: (Lugar.get_mexico).id}, disabled: true, class: 'form-control' %>
                      <%= check_box_tag :extranjero_padre, {}, false %> ¿Extranjero?
                      <input type="hidden" name="familiar[pais_padre]" id="familiar_pais_padre"  value="<%= Lugar.get_mexico.id %>">
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-12">
                    <div class="form-group">
                      <%if @accion!='edit' %>
                        <label id="etiquetaEstadoPadre">Estado</label>
                        <%= select :estado_padre, :id, @estados.collect {|m| [m.nombre, m.id]}, {include_blank: '---Seleccione su estado---'}, class: 'form-control', required: true %>
                      <%else %>
                        <div class="col-lg-12">
                          <label id="etiquetaEstadoPadre">Estado</label>
                          <%= select :estado_padre, :id, @estados.collect {|m| [m.nombre, m.id]}, {include_blank: '---Seleccione su estado---', selected: (@padre_estado_id)}, class: 'form-control', required: true, disabled: true %>
                        </div>
                      <%end %>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-12">
                    <div class="form-group">
                      <label id="etiquetaMunicipioPadre">Municipios</label>
                      <div id="municipios_padre"></div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-12">
                    <div class="form-group">
                      <label id="etiquetaLocalidadPadre">Localidades</label>
                      <div id="localidades_padre"></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-sm-12">
                    <div class="form-group">
                      <label>Calle</label>
                      <input type="text" name="familiar[calle_padre]" id="familiar_calle_padre" class="form-control" required="true"  disabled="true",   value="<%=padre.direccion.calle%>" />
                      <%= check_box_tag :copiar_datos_hijoI, {}, false %> ¿Copiar Datos de Domicilio?
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-12">
                    <div class="form-group">
                      <label>Número</label>
                      <input type="text" name="familiar[numero_padre]" id="familiar_numero_padre" class="form-control" required="true"  disabled="true", onKeyPress= "return soloNumeros(event)" ,   value="<%=padre.direccion.numero%>"/>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-12">
                    <div class="form-group">
                      <label>Colonia</label>
                      <input type="text" name="familiar[colonia_padre]" id="familiar_colonia_padre" class="form-control" required="true"  disabled="true",    value="<%=padre.direccion.colonia%>"/>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-12">
                    <div class="form-group">
                      <label>Codigo Postal</label>
                      <input type="text" name="familiar[codigo_postal_padre]" id="familiar_codigo_postal_padre" class="form-control" maxlength ="5"required="true"  disabled="true",   value="<%=padre.direccion.codigo_postal %>"/>
                    </div>
                  </div>

                </div>
                <hr>
                <div class="row">
                  <h3>Datos de la Madre</h3>
                  <div class="col-lg-4 col-sm-12">
                    <%madre=@aspirante.familiares.where(:parentesco=>'MADRE').first%>
                    <div class="form-group">
                      <label>Nombre (s)</label>
                      <input type="text" name="familiar[nombre_madre]" id="familiar_nombre_madre" class="form-control" required="true"  disabled="true" ,   value="<%=madre.nombre%>"/>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                      <label>Apellido Paterno</label>
                      <input type="text" name="familiar[apellido_paterno_madre]" id="familiar_apellido_paterno_madre" class="form-control" required="true"  disabled="true"value="<%=madre.apellido_paterno%>"/>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                      <label>Apellido Materno</label>
                      <input type="text" name="familiar[apellido_materno_madre]" id="familiar_apellido_materno_madre" class="form-control" required="true"  disabled="true", value="<%=madre.apellido_materno%>" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                      <label>Ocupación</label>
                      <input type="text" name="familiar[ocupacion_madre]" id="familiar_ocupacion_madre" class="form-control" required="true"  disabled="true", value="<%=madre.ocupacion%>" />
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                      <label>Telefono</label>
                      <input type="text" name="familiar[telefono_madre]" id="familiar_telefono_madre" class="form-control" maxlength ="10" required="true"  disabled="true", value="<%=madre.telefono%>"/>
                    </div>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <label>Finado:</label>
                    <% if madre.finado == true %>
                      <input type="checkbox" id="" name="familiar[finado]" checked > <br>
                    <% else %>
                      <input type="checkbox" id="" name="familiar[finado]"> <br>
                    <% end %>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <label>Tutor:</label>
                    <% if madre.tutor == true %>
                      <input type="checkbox" id="tutor_madre" name="familiar[tutor]" checked > <br>
                    <% else %>
                      <input type="checkbox" id="tutor_madre" name="familiar[tutor]"> <br>
                    <% end %>
                  </div>
                </div>
                <div class="row">
                  <h3>Datos del Domicilio de la Madre</h3>
                  <div class="col-lg-3 col-sm-12">
                    <div class="form-group">
                      <label>País</label>
                      <%= select :pais_madre, :id, @paises.collect {|m| [m.nombre, m.id]}, {:include_blank => '---Seleccione su país---', selected: (Lugar.get_mexico).id}, disabled: true, class: 'form-control' %>
                      <%= check_box_tag :extranjero_madre, {}, false %> ¿Extranjero?
                      <input type="hidden" name="familiar[pais_madre]" id="familiar_pais_madre" value="<%= Lugar.get_mexico.id %>">
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-12">
                    <div class="form-group">
                      <%if @accion!='edit' %>
                        <label id="etiquetaEstadoPadre">Estado</label>
                        <%= select :estado_madre, :id, @estados.collect {|m| [m.nombre, m.id]}, {include_blank: '---Seleccione su estado---'}, class: 'form-control' %>
                      <%else %>
                        <div class="col-lg-12">
                          <label id="etiquetaEstadoPadre">Estado</label>
                          <%= select :estado_madre, :id, @estados.collect {|m| [m.nombre, m.id]}, {include_blank: '---Seleccione su estado---', selected: (@madre_estado_id)}, class: 'form-control', required: true, disabled: true %>
                        </div>
                      <%end %>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-12">
                    <div class="form-group">
                      <label id="etiquetaMunicipioMadre">Municipios</label>
                      <div id="municipios_madre"></div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-12">
                    <div class="form-group">
                      <label id="etiquetaLocalidadMadre">Localidades</label>
                      <div id="localidades_madre"></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-sm-12">
                    <div class="form-group">
                      <label>Calle</label>
                      <input type="text" name="familiar[calle_madre]" id="familiar_calle_madre" class="form-control" required="true"  disabled="true", value="<%=madre.direccion.calle%>"/>
                      <%= check_box_tag :copiar_datos_hijoII, {}, false %> ¿Copiar Datos de Domicilio?
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-12">
                    <div class="form-group">
                      <label>Número</label>
                      <input type="text" name="familiar[numero_madre]" id="familiar_numero_madre" class="form-control" required="true"  disabled="true", onKeyPress= "return soloNumeros(event)" , value="<%=madre.direccion.numero%>"/>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-12">
                    <div class="form-group">
                      <label>Colonia</label>
                      <input type="text" name="familiar[colonia_madre]" id="familiar_colonia_madre" class="form-control" required="true" disabled="true" value="<%=madre.direccion.colonia%>" />
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-12">
                    <div class="form-group">
                      <label>Codigo Postal</label>
                      <input type="text" name="familiar[codigo_postal_madre]" id="familiar_codigo_postal_madre" class="form-control" maxlength ="5" required="true" disabled="true" , value="<%=madre.direccion.codigo_postal%>"/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-sm-12">
                    <!--                    <button  class="btn btn-success" id="button_datos_padres">Verificar</button>-->
                  </div>
                </div>
              </div>
            </div>
            <div id="datos_tutor" class="tab-pane fade">
              <div class="container">
                <div class="row">
                  <%tu=@aspirante.familiares.where(:tutor=>'TRUE').first %>
                  <h3>Datos del Tutor</h3>
                  <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                      <label>Nombre (s)</label>
                      <input type="text" name="familiar[nombre_tutor]" id="familiar_nombre_tutor" class="form-control" required="true",  disabled="true" value="<%=tu.nombre%>"/>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                      <label>Apellido Paterno</label>
                      <input type="text" name="familiar[apellido_paterno_tutor]" id="familiar_apellido_paterno_tutor" class="form-control" required="true",  disabled="true"  value="<%=tu.apellido_paterno%>" />
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                      <label>Apellido Materno</label>
                      <input type="text" name="familiar[apellido_materno_tutor]" id="familiar_apellido_materno_tutor" class="form-control" required="true",  disabled="true" value="<%=tu.apellido_materno%>" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                      <label>Ocupación</label>
                      <input type="text" name="familiar[ocupacion_tutor]" id="familiar_ocupacion_tutor" class="form-control" required="true",  disabled="true" value="<%=tu.ocupacion%>" />
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                      <label>Parentesco</label>
                      <input type="text" name="familiar[parentesco_tutor]" id="familiar_parentesco_tutor" class="form-control" required="true" ,  disabled="true" value="<%=tu.parentesco%>"/>
                    </div>
                  </div>
                  <div class="col-lg-4 col-sm-12">
                    <div class="form-group">
                      <label>Telefono</label>
                      <input type="text" name="familiar[telefono_tutor]" id="familiar_telefono_tutor"  class="form-control" maxlength ="10" required="true" ,  disabled="true" value="<%=tu.telefono%>"/>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-offset-3 col-lg-3 col-sm-12">
                    <input type="radio" name="copy_data" value="padre" id="copyPadre"> ¿Copiar datos de domicilio del padre?
                  </div>
                  <div class="col-lg-3 col-sm-12">
                    <input type="radio" name="copy_data" value="madre" id="copyMadre"> ¿Copiar datos de domicilio de la madre?
                  </div>
                </div>
                <div class="row">
                  <h3>Datos del Domicilio del Tutor</h3>
                  <div class="col-lg-3 col-sm-12">
                    <div class="form-group">
                      <label>País</label>
                      <%= select :pais_tutor, :id, @paises.collect {|m| [m.nombre, m.id]}, {:include_blank => '---Seleccione su país---', selected: (Lugar.get_mexico).id}, disabled: true, class: 'form-control' %>
                      <%= check_box_tag :extranjero_tutor, {}, false %> ¿Extranjero?
                      <input type="hidden" name="familiar[pais_tutor]" id="familiar_pais_tutor" value="<%= Lugar.get_mexico.id %>">
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-12">
                    <div class="form-group">
                      <%if @accion!='edit' %>
                        <label id="etiquetaEstadoPadre">Estado</label>
                        <%= select :estado_tutor, :id, @estados.collect {|m| [m.nombre, m.id]}, {include_blank: '---Seleccione su estado---'}, class: 'form-control' %>
                      <%else %>
                        <div class="col-lg-12">
                          <label id="etiquetaEstadoPadre">Estado</label>
                          <%= select :estado_tutor, :id, @estados.collect {|m| [m.nombre, m.id]}, {include_blank: '---Seleccione su estado---', selected: (@tutor_estado_id)}, class: 'form-control', required: true , disabled: true%>
                        </div>
                      <%end %>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-12">
                    <div class="form-group">
                      <label id="etiquetaMunicipioTutor">Municipios</label>
                      <div id="municipios_tutor"></div>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-12">
                    <div class="form-group">
                      <label id="etiquetaLocalidadTutor">Localidades</label>
                      <div id="localidades_tutor"></div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-sm-12">
                    <div class="form-group">
                      <label>Calle</label>
                      <input type="text" name="familiar[calle_tutor]" id="familiar_calle_tutor" class="form-control" required="true" , disabled="true" value="<%=tu.direccion.calle%>"/>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-12">
                    <div class="form-group">
                      <label>Número</label>
                      <input type="text" name="familiar[numero_tutor]" id="familiar_numero_tutor" class="form-control" required="true",  disabled="true"onKeyPress= "return soloNumeros(event)", value="<%=tu.direccion.numero%>" />
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-12">
                    <div class="form-group">
                      <label>Colonia</label>
                      <input type="text" name="familiar[colonia_tutor]" id="familiar_colonia_tutor" class="form-control" required="true" , disabled="true" value="<%=tu.direccion.colonia%>"/>
                    </div>
                  </div>
                  <div class="col-lg-3 col-sm-12">
                    <div class="form-group">
                      <label>Codigo Postal</label>
                      <input type="text" name="familiar[codigo_postal_tutor]" id="familiar_codigo_postal_tutor" class="form-control" maxlength ="5" required="true",  disabled="true" value="<%=tu.direccion.codigo_postal%>" />
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="container">
                      <%#= f.submit  'Guardar', class: "btn btn-primary btn-space pull-right",id:"id_guardar_asp" , disabled:true %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      </div>
    <% end %>
    </div>
</div>
<script type="text/javascript">

    jQuery(document).ready(function ($) {
        var requiredCheckboxes = $(':checkbox[required]');
        requiredCheckboxes.on('change', function (e) {
            var checkboxGroup = requiredCheckboxes.filter('[name="' + $(this).attr('name') + '"]');
            console.log($(this).attr('name'));
            var isChecked = checkboxGroup.is(':checked');
            checkboxGroup.prop('required', !isChecked);
        });
    });

    $(function(){
        if ($("#extranjero").is(':checked')) {
            $('select#estado_id').css("display", "none");
            $('label#etiquetaEstado').css("display", "none");
            $('label#etiquetaMunicipio').css("display", "none");
            $('label#etiquetaLocalidad').css("display", "none");
            $('#pais_id').removeAttr('disabled');
            $("input#aspirante_dato_personal_attributes_nacionalidad").val("EXTRANJERA");

        } else {
            $("input#aspirante_dato_personal_attributes_nacionalidad").val("MEXICANA");
        }

        /***** check box del padre *****/
        if ($("#extranjero_padre").is(':checked')) {
            $('select#estado_padre_id').css("display", "none");
            $('label#etiquetaEstadoPadre').css("display", "none");
            $('label#etiquetaMunicipioPadre').css("display", "none");
            $('label#etiquetaLocalidadPadre').css("display", "none");
            $('#pais_padre_id').removeAttr('disabled');

        } else {
            /*$("select#estado_padre_id").attr("required", true);*/
        }
        /***** check box del padre *****/

        /***** check box de la madre *****/
        if ($("#extranjero_madre").is(':checked')) {
            $('select#estado_madre_id').css("display", "none");
            $('label#etiquetaEstadoMadre').css("display", "none");
            $('label#etiquetaMunicipioMadre').css("display", "none");
            $('label#etiquetaLocalidadMadre').css("display", "none");
            $('#pais_madre_id').removeAttr('disabled');
            /*$("select#estado_madre_id").prop('required', false);*/

        } else {
            $("select#estado_madre_id").attr("required", true);
            $("select#municipios_madre").attr("required", true);
        }
        /***** check box de la madre *****/

        /***** check box del tutor *****/
        if ($("#extranjero_tutor").is(':checked')) {
            $('select#estado_tutor_id').css("display", "none");
            $('label#etiquetaEstadoTutor').css("display", "none");
            $('label#etiquetaMunicipioTutor').css("display", "none");
            $('label#etiquetaLocalidadTutor').css("display", "none");
            $('#pais_tutor_id').removeAttr('disabled');
            $("select#estado_tutor_id").prop('required', false);

        } else {
            $("select#estado_tutor_id").attr("required", true);
        }
        /***** check box del tutor *****/

        /***** aspirante *****/
        estado = $("select#estado_id :selected").val();

        if (estado == '') {
            var html = "<select id='municipio_id' class='form-control'> <option value=''>Seleccione un estado para cargar los municipios</option></select>";
            $('#municipios').html(html);

            municipio = $("select#municipio_id :selected").val();
            if ($("#extranjero").is(':checked')) {
                $('select#municipio_id').css("display", "none");
                $("select#municipio_id").prop('required',false);
            } else {
                $("select#municipio_id").attr("required", true);
            }

            if (municipio == '') {
                var html = "<select class='form-control' id='localidad_id'> <option value=''>Seleccione un municipio para cargar las localidades</option></select>";
                $('#localidades').html(html);
                if ($("#extranjero").is(':checked')) {
                    $('select#localidad_id').css("display", "none");
                    $("select#localidad_id").prop('required',false);
                } else {
                    $("select#localidad_id").attr("required", true);
                }
            }
        } else {
            estado = $("select#estado_id :selected").val();
            municipio = "<%= @aspirante_municipio_id %>";
            localidad = "<%= @aspirante_localidad_id %>";
            $.ajax({
                url: "<%= towns_options_edit_aspirantes_path %>",
                type: "POST",
                data: {estado_id: estado, municipio_id: municipio, localidad_id: localidad}
            });
        }

        $("select#estado_id").on("change", function () {
            estado = $("select#estado_id :selected").val();
            $.ajax({
                url: "<%= towns_options_edit_aspirantes_path %>",
                type: "POST",
                data: {estado_id: estado}
            });
        });
        /***** aspirante *****/

        /***** check box del padre *****/
        estado_padre = $("select#estado_padre_id :selected").val();

        if (estado_padre == '') {
            var html = "<select id='municipio_padre_id' class='form-control'> <option value=''>Seleccione un estado para cargar los municipios</option></select>";
            $('#municipios_padre').html(html);

            municipio_padre = $("select#municipio_padre_id :selected").val();
            if ($("#extranjero_padre").is(':checked')) {
                $('select#municipio_padre_id').css("display", "none");
                $("select#municipio_padre_id").prop('required', false);
            } else {
                $("select#municipio_padre_id").attr("required", true);
            }

            if (municipio_padre == '') {
                var html = "<select class='form-control' id='localidad_padre_id'> <option value=''>Seleccione un municipio para cargar las localidades</option></select>";
                $('#localidades_padre').html(html);
                if ($("#extranjero_padre").is(':checked')) {
                    $('select#localidad_padre_id').css("display", "none");
                    $("select#localidad_padre_id").prop('required', false);
                } else {
                    $("select#localidad_padre_id").attr("required", true);
                }
            }
        } else {
            estado_padre = $("select#estado_padre_id :selected").val();
            municipio_padre = "<%= @padre_municipio_id%>";
            localidad_padre = "<%=@padre_localidad_id %>";
            $.ajax({
                url: "<%= towns_options_father_edit_aspirantes_path %>",
                type: "POST",
                // data: {estado_id: estado_padre}
                data: {estado_id: estado_padre, municipio_id: municipio_padre, localidad_id: localidad_padre}
            });
        }

        $("select#estado_padre_id").on("change", function () {
            estado_padre = $("select#estado_padre_id :selected").val();
            $.ajax({
                url: "<%= towns_options_father_edit_aspirantes_path %>",
                type: "POST",
                data: {estado_id: estado_padre}
            });
        });
        /***** check box del padre *****/

        /***** check box de la madre *****/
        estado_madre = $("select#estado_madre_id :selected").val();

        if (estado_madre == '') {
            var html = "<select id='municipio_madre_id' class='form-control'> <option value=''>Seleccione un estado para cargar los municipios</option></select>";
            $('#municipios_madre').html(html);

            municipio_madre = $("select#municipio_madre_id :selected").val();
            if ($("#extranjero_madre").is(':checked')) {
                $('select#municipio_madre_id').css("display", "none");
                $("select#municipio_madre_id").prop('required', false);
            } else {
                $("select#municipio_madre_id").attr("required", true);
            }

            if (municipio_madre == '') {
                var html = "<select class='form-control' id='localidad_madre_id'> <option value=''>Seleccione un municipio para cargar las localidades</option></select>";
                $('#localidades_madre').html(html);
                if ($("#extranjero_madre").is(':checked')) {
                    $('select#localidad_madre_id').css("display", "none");
                    $("select#localidad_madre_id").prop('required', false);
                } else {
                    $("select#localidad_madre_id").attr("required", true);
                }
            }
        } else {
            estado_madre = $("select#estado_madre_id :selected").val();
            municipio_madre = "<%= @madre_municipio_id%>";
            localidad_madre = "<%=@madre_localidad_id %>";
            $.ajax({
                url: "<%= towns_options_mother_edit_aspirantes_path %>",
                type: "POST",
                data: {estado_id: estado_madre, municipio_id: municipio_madre, localidad_id: localidad_madre}
            });
        }

        $("select#estado_madre_id").on("change", function () {
            estado_madre = $("select#estado_madre_id :selected").val();
            $.ajax({
                url: "<%= towns_options_mother_edit_aspirantes_path %>",
                type: "POST",
                data: {estado_id: estado_madre}
            });
        });
        /***** check box de la madre *****/

        /***** check box del tutor *****/
        estado_tutor = $("select#estado_tutor_id :selected").val();

        if (estado_tutor == '') {
            var html = "<select id='municipio_tutor_id' class='form-control'> <option value=''>Seleccione un estado para cargar los municipios</option></select>";
            $('#municipios_tutor').html(html);

            municipio_tutor = $("select#municipio_tutor_id :selected").val();
            if ($("#extranjero_tutor").is(':checked')) {
                $('select#municipio_tutor_id').css("display", "none");
                $("select#municipio_tutor_id").prop('required', false);
            } else {
                $("select#municipio_tutor_id").attr("required", true);
            }

            if (municipio_tutor == '') {
                var html = "<select class='form-control' id='localidad_tutor_id'> <option value=''>Seleccione un municipio para cargar las localidades</option></select>";
                $('#localidades_tutor').html(html);
                if ($("#extranjero_tutor").is(':checked')) {
                    $('select#localidad_tutor_id').css("display", "none");
                    $("select#localidad_tutor_id").prop('required', false);
                } else {
                    $("select#localidad_tutor_id").attr("required", true);
                }
            }
        } else {
            estado_tutor = $("select#estado_tutor_id :selected").val();
            municipio_tutor = "<%= @tutor_municipio_id%>";
            localidad_tutor = "<%=@tutor_localidad_id %>";
            $.ajax({
                url: "<%= towns_options_tutor_edit_aspirantes_path %>",
                type: "POST",
                data: {estado_id: estado_tutor, municipio_id: municipio_tutor, localidad_id: localidad_tutor}
            });
        }

        $("select#estado_tutor_id").on("change", function () {
            estado_tutor = $("select#estado_tutor_id :selected").val();
            $.ajax({
                url: "<%= towns_options_tutor_edit_aspirantes_path %>",
                type: "POST",
                data: {estado_id: estado_tutor}
            });
        });
        /***** check box de la madre *****/

        /***** autocomplete escuelas *****/
        $("#dato_academico_escuela_procedente_nombre").autocomplete({
            source: '/aspirantes/autocomplete_origin_school',
            autoFocus: true,
            minLength: 2,
            select: function (event, ui) {
                params = ui.item;
                $("#dato_academico_escuela_procedente_id").val(params.id);
                console.log(params.id)
            }
        });
        /***** autocomplete escuelas *****/
    });

    function soloNumeros(e){
        var key = window.Event ? e.which : e.keyCode
        return (key >= 48 && key <= 57)
    }


</script>
