var html = "<%= j(collection_select(:localidad, :id, @localidades, :id, :nombre, {prompt: '----- Localidades -----', selected: @localidad}, {class: 'form-control', name: 'direccion[localidad]'})) %>";
$('#localidades').html(html);

if ($("#extranjero").is(':checked')) {
    $('select#localidad_id').css("display", "none");
    $("select#localidad_id").prop('required',false);
} else {
    $("select#localidad_id").attr("required", true);
    $("select#localidad_id").attr("disabled", true);
}