var html = "<%= j(collection_select(:localidad_padre, :id,  @localidades, :id, :nombre, {prompt: '----- Localidades -----', selected: @localidad}, {class: 'form-control', name: 'familiar[localidad_padre]'})) %>";
$('#localidades_padre').html(html);

if ($("#extranjero_padre").is(':checked')) {
    $('select#localidad_padre_id').css("display", "none");
    $("select#localidad_padre_id").prop('required',false);
    $("select#localidad_padre_id").attr("disabled", true);
    <!--    $("select#localidad_padre_id").prop('required',false);-->
} else {
    $("select#localidad_padre_id").attr("required", true);
    $("select#localidad_padre_id").attr("disabled", true);
    <!--    $("select#localidad_padre_id").attr("required", true);-->
}
