var html = "<%= j(collection_select(:localidad_madre, :id, @localidades, :id, :nombre, {prompt: '----- Localidades -----'}, {class: 'form-control', name: 'familiar[localidad_madre]'})) %>";
$('#localidades_madre').html(html);

if ($("#extranjero_madre").is(':checked')) {
    $('select#localidad_madre_id').css("display", "none");
    <!--    $("select#localidad_madre_id").prop('required',false);-->
} else {
    <!--    $("select#localidad_madre_id").attr("required", true);-->
}