
var html = "<%= j(collection_select(:localidad_tutor, :id, @localidades, :id, :nombre, {prompt: '----- Localidades -----', selected: @localidad}, {class: 'form-control', name: 'familiar[localidad_tutor]'})) %>";
$('#localidades_tutor').html(html);

if ($("#extranjero_tutor").is(':checked')) {
    $('select#localidad_tutor_id').css("display", "none");
    $("select#localidad_tutor_id").prop('required',false);
} else {
    $("select#localidad_tutor_id").attr("required", true);
    $("select#localidad_tutor_id").attr("disabled", true);
}
