<div>
  <%= render 'mensajes' %>
</div>
<h2 class="text-center"><b>Información del Aspirante</b></h2>
<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    Deberá rellenar la siguiente información antes de continuar con el proceso de solicitud de fichas.
  </div>
</div>
<div>
  <div>
    <%= form_for(@aspirante, html: { id: "go" }) do |f| %>

        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#datos_aspirante">Datos del Aspirante</a></li>
          <li><a data-toggle="tab" href="#datos_personales">Datos Personales</a></li>
          <li><a data-toggle="tab" href="#datos_lenguas_indigenas">Datos Lenguas Indigenas</a></li>
          <li><a data-toggle="tab" href="#datos_academicos">Datos Academicos</a></li>
          <li><a data-toggle="tab" href="#datos_medicos">Datos Médicos</a></li>
          <li><a data-toggle="tab" href="#datos_padres">Datos de los Padres</a></li>
          <li id="id_datos_tutor"><a data-toggle="tab" href="#datos_tutor">Datos del Tutor</a></li>
        </ul>
        <div>
          <div>
            <div class="tab-content">
              <div id="datos_aspirante" class="tab-pane fade in active">
                <div class="container">
                  <div class="row">
                    <div class="col-lg-4 col-sm-12">
                      <div class="form-group">
                        <%= f.label :nombre, 'Nombre (s)'%>
                        <%= f.text_field :nombre, class: "form-control", oninput:"this.value = this.value.toUpperCase()",  placeholder: 'Escriba su nombre (s)' ,'onkeypress': "return SoloLetras(event);", 'aria-describedby': "basic-addon1", :required => true %>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                      <div class="form-group">
                        <%= f.label :apellido_paterno, 'Apellido Paterno' %>
                        <%= f.text_field :apellido_paterno, class: "form-control",  oninput:"this.value = this.value.toUpperCase()", placeholder: 'Escriba su apellido paterno','onkeypress': "return SoloLetras(event);", 'aria-describedby': "basic-addon1", :required => true %>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                      <div class="form-group">
                        <%= f.label :apellido_materno, 'Apellido Materno' %>
                        <%= f.text_field :apellido_materno, class: "form-control",  oninput:"this.value = this.value.toUpperCase()", placeholder: 'Escriba su apellido materno','onkeypress': "return SoloLetras(event);", 'aria-describedby': "basic-addon1", :required => true %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <%= f.label :curp, 'CURP' %>
                        <%= f.text_field :curp,  class: "form-control uppercase",  placeholder: 'Escriba su curp', 'aria-describedby': "basic-addon1", value: current_usuario.username.upcase, readonly: true %>
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <%= f.label :sexo, 'Sexo' %>
                        <%= f.select :sexo, options_for_select([['HOMBRE', Aspirante::HOMBRE], ['MUJER', Aspirante::MUJER]], :selected => current_usuario.username[10].upcase), {}, disabled: true, class: "select-text form-control" %>
                        <% if current_usuario.username[10].upcase == Aspirante::HOMBRE %>
                          <input type="hidden" name="aspirante[sexo]" id="aspirante_sexo" , value="H">
                        <% else %>
                          <input type="hidden" name="aspirante[sexo]" id="aspirante_sexo" , value="M">
                        <% end %>
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <%= f.label :edad, 'Edad' %>
                        <%= f.text_field :edad, class: "form-control", placeholder: 'Escriba su edad', 'aria-describedby': "basic-addon1", value: Usuario.get_age(Usuario.get_birthdate(current_usuario.id)) ,readonly: true %>
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <%= f.label :fecha_nacimiento, 'Fecha de Nacimiento' %>
                        <%= f.text_field :fecha_nacimiento, class: "form-control", placeholder: 'Escriba su fecha de nacimiento', 'aria-describedby': "basic-addon1", value: Usuario.get_birthdate(current_usuario.id).strftime("%Y-%m-%d"), readonly: true %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3 col-sm-12" >
                    <button class="btn btn-success"id="button_aspirante">Verificar</button>
                  </div>
                </div>
              </div>
              <div id="datos_personales" class="tab-pane fade">
                <div class="container">
                  <%= f.fields_for :dato_personal do |dp| %>
                    <div class="row">
                      <h3>Datos Personales</h3>
                      <div class="col-lg-4 col-sm-12">
                        <div class="form-group">
                          <%= dp.label :lugar_nacimiento, 'Lugar de Nacimiento' %>
                          <%= dp.text_field :lugar_nacimiento, oninput:"this.value = this.value.toUpperCase()",placeholder: 'Anote su lugar de nacimiento', 'aria-describedby': 'basic-addon1', class: 'form-control', :required => true %>
                        </div>
                      </div>
                      <div class="col-lg-4 col-sm-12">
                        <div class="form-group">
                          <%= dp.label :nss, 'NSS' %>
                          <%= dp.text_field :nss,  oninput:"this.value = this.value.toUpperCase()", placeholder: 'Anote su número de seguro social', 'aria-describedby': 'basic-addon1', class: 'form-control',:maxlength => 11, :required => true %>
                        </div>
                        <td colspan="2"><div id="estado_nss"></div></td>
                      </div>
                      <div class="col-lg-4 col-sm-12">
                        <div class="form-group">
                          <%= dp.label :telefono, 'Teléfono' %>
                          <%= dp.text_field :telefono, oninput:"this.value = this.value.toUpperCase()", placeholder: 'Ingrese su número de celular o la palabra NINGUNO', 'aria-describedby': 'basic-addon1', class: 'form-control', :maxlength => 10,:required => true %>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-4 col-sm-12">
                        <div class="form-group">
                          <%= dp.label :estado_civil, 'Estado Civil' %>
                          <%= dp.select :estado_civil, options_for_select(DatoPersonal::ESTADO_CIVIL.collect {|p| [p[:nombre], p[:id]]}), {:include_blank => "Seleccione su estado civil"}, class: 'form-control', required: true %>
                        </div>
                      </div>
                      <div class="col-lg-4 col-sm-12">
                        <div class="form-group">
                          <%= dp.label :email, 'Correo Electrónico' %>
                          <%= dp.text_field :email, value: current_usuario.email, class: 'form-control', readonly: true %>
                        </div>
                      </div>
                      <div class="col-lg-4 col-sm-12">
                        <div class="form-group">
                          <%= dp.label :nacionalidad, 'Nacionalidad' %>
                          <%= dp.text_field :nacionalidad, value: 'MEXICANA', class: 'form-control', readonly: true %>
                        </div>
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <h3>Datos de Domicilio</h3>
                      <div class="col-lg-3 col-sm-12">
                        <div class="form-group">
                          <label class="col-lg-12">Calle</label>
                          <div class="col-lg-12">
                            <input type="text" name="direccion[calle]" id="direccion_calle" class="form-control uppercase", required="true">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-sm-12">
                        <div class="form-group">
                          <label class="col-lg-12">Número</label>
                          <div class="col-lg-12">
                            <input type="text" name="direccion[numero]" id="direccion_numero" class="form-control" required="true" style="text-transform:uppercase;">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-sm-12">
                        <div class="form-group">
                          <label class="col-lg-12">Colonia</label>
                          <div class="col-lg-12">
                            <input type="text" name="direccion[colonia]" id="direccion_colonia" class="form-control uppercase" required="true">
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-sm-12">
                        <div class="form-group">
                          <label class="col-lg-12">Codigo Postal</label>
                          <div class="col-lg-12">
                            <input onkeypress="return validarnum(event);" type="text" name="direccion[codigo_postal]" id="direccion_codigo_postal" class="form-control" maxlength ="5" required="true">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-lg-3 col-sm-12">
                        <div class="form-group">
                          <label class="col-lg-12">País</label>
                          <div class="col-lg-12">
                            <%= select :pais, :id, @paises.collect {|m| [m.nombre, m.id]}, {:include_blank => '---Seleccione su país---', selected: (Lugar.get_mexico).id}, disabled: true, class: 'form-control' %>
                            <%= check_box_tag :extranjero, {}, false %> ¿Extranjero?
                            <input type="hidden" name="direccion[pais]" id="direccion_pais" , value="<%= Lugar.get_mexico.id %>">
                            <%= hidden_field_tag :pais_key, (Lugar.get_mexico).id %>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-sm-12">
                        <div class="form-group">
                          <label class="col-lg-12" id="etiquetaEstado">Estado</label>
                          <div class="col-lg-12">
                            <%= select :estado, :id, @estados.collect {|m| [m.nombre, m.id]}, {include_blank: '---Seleccione su estado---'}, class: 'form-control', required: true %>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-sm-12">
                        <div class="form-group">
                          <label class="col-lg-12" id="etiquetaMunicipio">Municipios</label>
                          <div class="col-lg-12" id="municipios"></div>
                        </div>
                      </div>
                      <div class="col-lg-3 col-sm-12">
                        <div class="form-group">
                          <label class="col-lg-12" id="etiquetaLocalidad">Localidades</label>
                          <div class="col-lg-12" id="localidades"></div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                  <br>
                  <div class="col-lg-3 col-sm-12">
                    <button  class="btn btn-success"id = "datos_personales_id">Verificar</button>
                  </div>
                </div>
              </div>
              <div id="datos_lenguas_indigenas" class="tab-pane fade">
                <div class="container">
                  <div class="row">
                    <h3>Lenguas Indígenas</h3>
                    <div class="col-lg-12 text-center">
                      Seleccionar la lengua indígena que hable, en caso contrario seleccionar ninguna.
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <% @lenguas_indigenas.each do |lengua| %>
                      <div class="col-lg-4 col-sm-12">
                        <%= check_box_tag "datos_lenguas[lengua_indigena][]", lengua.id, false, required: true %>
                        <label style="font-size: 18px;"><%= lengua.nombre %></label>
                      </div>
                    <% end %>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-lg-4 col-sm-12">
                      <button  class="btn btn-success" id="button_lenguas_indigenas">Verificar</button>
                    </div>
                  </div>
                </div>
              </div>
              <div id="datos_academicos" class="tab-pane fade">
                <div class="container h-60vh">
                  <div class="row">
                    <h3>Antecedentes Academicos</h3>
                    <h4>En el nombre de la escuela de procedencia buscar su escuela y seleccionarla, si no se</h4>
                    <h4>encuentra su escuela favor de seleccionar "OTRA" </h4>
                    <div class="col-lg-5 col-sm-12">
                      <div class="form-group">
                        <label>Escuela de Procedencia</label>
                        <input type="text" name="dato_academico[escuela_procedente_nombre]" id="dato_academico_escuela_procedente_nombre" class="form-control" placeholder = "Escriba el nombre de la escuela..." required="true" >
                        <input type="hidden" id="dato_academico_escuela_procedente_id" />
                        <td colspan="2"><div id="estado_escuela"></div></td>
                      </div>
                    </div>

<!--                    <div class="col-lg-4 col-sm-12">-->
<!--                      <div class="form-group">-->
<!--                        <label>Fecha de Inicio</label>-->
<!--                        <input type='text' class="form-control" name="dato_academico[fecha_inicio]" id='dato_academico_fecha_inicio' placeholder="dd/mm/yyyy" />-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <div class="col-lg-4 col-sm-12">-->
<!--                      <div class="form-group">-->
<!--                        <label>Fecha de Fin</label>-->
<!--                        <input type='text' class="form-control" name="dato_academico[fecha_fin]" id='dato_academico_fecha_fin' placeholder="dd/mm/yyyy" />-->
<!--                      </div>-->
<!--                    </div>-->
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <label>Fecha de Inicio</label>
                        <input type="text" id="dato_academico_año_inicio" name="dato_academico[año_inicio]" class="form-control" placeholder="Anote el año de inicio">
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <label>Fecha de Fin</label>
                        <input type="text" id="dato_academico_año_fin" name="dato_academico[año_fin]" class="form-control" placeholder="Anote el año de fin "  required="true" />
                      </div>
                    </div>
                  </div>
<!--                  <div class="row">-->

<!--                  </div>-->
                  <div class="row">
                    <div class="col-lg-5 col-sm-12">
                      <div class="form-group">
                        <label>Especialidad</label>
                        <input type="text" id="dato_academico_especialidad" name="dato_academico[especialidad]" class="form-control" placeholder="Anote su especialidad" required="true" />
                      </div>
                    </div>

                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <label>Área de Conocimiento</label>
                        <%= select :dato_academico, :area_conocimiento_id, options_for_select(EscuelaProcedente::AREA_CONOCIMIENTO.collect {|p| [p[:nombre], p[:id]]}), {:include_blank => "Seleccione su área de conocimiento"}, class: 'form-control', required: true %>
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                        <div class="form-group">
                          <label>Promedio</label>
                          <input onkeypress="return validarnum(event);" type="text" id="dato_academico_promedio" name="dato_academico[promedio]" class="form-control" placeholder="Anote su promedio" required="true" />
                        </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4 col-sm-12">
                      <button  class="btn btn-success" id="button_antecedente_academico">Verificar</button>
                    </div>
                  </div>
                </div>
              </div>
              <div id="datos_medicos" class="tab-pane fade">
                <div class="container">
                  <div class="row">
                    <h3>Datos Médicos</h3>
                    <div class="col-lg-6 col-sm-12">
                      <div class="form-group">
                        <label>Tipo de Sangre</label>
                        <%= select :dato_medico, :tipo_sangre_id, options_for_select(DatoMedico::TIPO_SANGRE.collect {|p| [p[:nombre], p[:id]]}), {}, class: 'form-control', name: 'dato_medico[tipo_sangre_id]',required: true %>
                      </div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                      <div class="form-group">
                        <label>Discapacidad</label>
                        <%= select :dato_medico, :discapacidad_id, options_for_select(DatoMedico::DISCAPACIDAD.collect {|p| [p[:nombre], p[:id]]}), {}, class: 'form-control', name: 'dato_medico[discapacidad_id]', required: true %>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12 text-center">
                      Nota: Si padeces de alguna <b>enfermedad</b> rellena los campos, de lo contrario escribe "NINGUNA" en ambos
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-sm-12">
                      <div class="form-group">
                        <label>Nombre de la enfermedad (s):</label>
                        <input type="text" id="dato_medico_enfermedad_atencion_especial" name="dato_medico[enfermedad_atencion_especial]" class="form-control" oninput = "this.value = this.value.toUpperCase();" maxlength="50" required="true">
                      </div>
                      <div class ="alert-info" id="estado_enfermedad"></div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                      <div class="form-group">
                        <label>Medicamento (s):</label>
                        <input type="text" id="dato_medico_medicamento_enfermedad_atencion_especial" name="dato_medico[medicamento_enfermedad_atencion_especial]" class="form-control" oninput = "this.value = this.value.toUpperCase();" maxlength="50" required="true">
                      </div>
                      <div class ="alert-info" id="estado_medicamento_enfermedad"></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12 text-center">
                      Nota: Si padeces de alguna <b>alergia</b> rellena los campos, de lo contrario escribe "NINGUNA" en ambos
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6 col-sm-12">
                      <div class="form-group">
                        <label>Alergia (s) a:</label>
                        <input type="text" id="dato_medico_alergia" name="dato_medico[alergia]" class="form-control" placeholder="Ejem: Polvo, Ibuprofeno, Durazno." oninput = "this.value = this.value.toUpperCase();" maxlength="50" required="true">
                      </div>
                      <div class ="alert-info" id="estado_alergia"></div>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                      <div class="form-group">
                        <label>Medicamento (s):</label>
                        <input type="text" id="dato_medico_medicamento_alergia" name="dato_medico[medicamento_alergia]" class="form-control" oninput = "this.value = this.value.toUpperCase();" maxlength="50" required="true">
                      </div>
                      <div class ="alert-info" id="estado_medicamento_alergia"></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4 col-sm-12">
                      <button  class="btn btn-success" id="button_datos_medicos">Verificar</button>
                    </div>
                  </div>
                </div>
              </div>
              <div id="datos_padres" class="tab-pane fade">
                <div class="container">
                  <div class="row">
                    <h3>Datos del Padre</h3>
                    <div class="row">
                      <div class="col-lg-12 text-center">
                        <p>Nota: Si no tienes, Padre o Madre rellena con una "X" las casillas, de igual manera en su domicilio,</p>
                        <p>selecciona el estado, municipio y localidad la opción de "DESCONOCIDO"</p>
                      </div>
                    </div>

                    <div class="col-lg-4 col-sm-12"><aside></aside>
                      <div class="form-group">
                        <label>Nombre (s)</label>
                        <input type="text" name="familiar[nombre_padre]" id="familiar_nombre_padre" class="form-control" oninput = 'this.value = this.value.toUpperCase();' onkeypress = "return SoloLetras(event);" maxlength="50" required="true" />
                      </div>
                      <div class ="alert-info" id="estado_nom_padre"></div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                      <div class="form-group">
                        <label>Apellido Paterno</label>
                        <input type="text" name="familiar[apellido_paterno_padre]" id="familiar_apellido_paterno_padre" class="form-control" oninput = 'this.value = this.value.toUpperCase();' onkeypress = "return SoloLetras(event);" maxlength="50" required="true" />
                      </div>
                      <div class ="alert-info" id="estado_apellido_pat_padre"></div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                      <div class="form-group">
                        <label>Apellido Materno</label>
                        <input type="text" name="familiar[apellido_materno_padre]" id="familiar_apellido_materno_padre" class="form-control" oninput = 'this.value = this.value.toUpperCase();' onkeypress = "return SoloLetras(event);" maxlength="50" required="true" />
                      </div>
                      <div class ="alert-info" id="estado_apellido_mat_padre"></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4 col-sm-12">
                      <div class="form-group">
                        <label>Ocupación</label>
                        <input type="text" name="familiar[ocupacion_padre]" id="familiar_ocupacion_padre" class="form-control" required="true" />
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                      <div class="form-group">
                        <label>Teléfono</label>
                        <input type="text" name="familiar[telefono_padre]" id="familiar_telefono_padre" class="form-control" maxlength ="10" required="true" oninput="this.value = this.value.toUpperCase()" placeholder="Ingrese su número de celular o la palabra NINGUNO"/>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                      <label>Finado:</label>
                      <input type="checkbox" id="finado_padre" name="familiar[finado]" onclick = "finadoPadre()"><br>
                    </div>
                    <div class="col-md-4 col-sm-12">
                      <label>Tutor:</label>
                      <input type="checkbox" id="tutor_padre" name="familiar[tutor]" onclick = "tutorPadre()" ><br>
                    </div>
                  </div>
                  <div class="row">
                    <h3>Datos del Domicilio del Padre</h3>
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <label>País</label>
                        <%= select :pais_padre, :id, @paises.collect {|m| [m.nombre, m.id]}, {:include_blank => '---Seleccione su país---', selected: (Lugar.get_mexico).id}, disabled: true, class: 'form-control' %>
                        <%= check_box_tag :extranjero_padre, {}, false %> ¿Extranjero?
                        <input type="hidden" name="familiar[pais_padre]" id="familiar_pais_padre"  value="<%= Lugar.get_mexico.id %>">
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <label id="etiquetaEstadoPadre">Estado</label>
                        <%= select :estado_padre, :id, @estados.collect {|m| [m.nombre, m.id]}, {include_blank: '---Seleccione su estado---'}, class: 'form-control', required: true %>
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <label id="etiquetaMunicipioPadre">Municipios</label>
                        <div id="municipios_padre"></div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <label id="etiquetaLocalidadPadre">Localidades</label>
                        <div id="localidades_padre"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <label>Calle</label>
                        <input type="text" name="familiar[calle_padre]" id="familiar_calle_padre" class="form-control" required="true" />
                        <%= check_box_tag :copiar_datos_hijoI, 0, false %> ¿Copiar Datos de Domicilio?
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <label>Número</label>
                        <input onkeypress="return NumDomicilio(event);" oninput = 'this.value = this.value.toUpperCase();' maxlength="5" type="text" placeholder="Ingresa el número de domicilio" name="familiar[numero_padre]" id="familiar_numero_padre" class="form-control" required="true" />
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <label>Colonia</label>
                        <input type="text" name="familiar[colonia_padre]" id="familiar_colonia_padre" class="form-control" required="true" />
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <label>Codigo Postal</label>
                        <input onkeypress="return validarnum(event);" type="text" name="familiar[codigo_postal_padre]" id="familiar_codigo_postal_padre" class="form-control" maxlength ="5"required="true" />
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <h3>Datos de la Madre</h3>
                    <div class="col-lg-4 col-sm-12">
                      <div class="form-group">
                        <label>Nombre (s)</label>
                        <input type="text" name="familiar[nombre_madre]" id="familiar_nombre_madre" class="form-control" oninput = 'this.value = this.value.toUpperCase();' onkeypress = "return SoloLetras(event);" maxlength="50" required="true" />
                      </div>
                      <div class ="alert-info" id="estado_nom_madre"></div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                      <div class="form-group">
                        <label>Apellido Paterno</label>
                        <input type="text" name="familiar[apellido_paterno_madre]" id="familiar_apellido_paterno_madre" class="form-control" oninput = 'this.value = this.value.toUpperCase();' onkeypress = "return SoloLetras(event);" maxlength="50" required="true" />
                      </div>
                      <div class ="alert-info" id="estado_apellido_pat_madre"></div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                      <div class="form-group">
                        <label>Apellido Materno</label>
                        <input type="text" name="familiar[apellido_materno_madre]" id="familiar_apellido_materno_madre" class="form-control" oninput = 'this.value = this.value.toUpperCase();' onkeypress = "return SoloLetras(event);" maxlength="50" required="true" />
                      </div>
                      <div class ="alert-info" id="estado_apellido_mat_madre"></div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4 col-sm-12">
                      <div class="form-group">
                        <label>Ocupación</label>
                        <input type="text" name="familiar[ocupacion_madre]" id="familiar_ocupacion_madre" class="form-control" required="true" />
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                      <div class="form-group">
                        <label>Telefono</label>
                        <input type="text" name="familiar[telefono_madre]" id="familiar_telefono_madre" class="form-control" maxlength ="10" required="true" oninput="this.value = this.value.toUpperCase()" placeholder="Ingrese su número de celular o la palabra NINGUNO"/>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                      <label>Finado:</label>
                      <input type="checkbox" id="finado_madre" name="familiar[finado_2]" onclick = "finadoMadre()"><br>
                    </div>
                    <div class="col-md-4 col-sm-12">
                      <label>Tutor:</label>
                      <input type="checkbox" id="tutor_madre" name="familiar[tutor_2]" onclick = "tutorMadre()"><br>
                    </div>
                  </div>
                  <div class="row">
                    <h3>Datos del Domicilio de la Madre</h3>
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <label>País</label>
                        <%= select :pais_madre, :id, @paises.collect {|m| [m.nombre, m.id]}, {:include_blank => '---Seleccione su país---', selected: (Lugar.get_mexico).id}, disabled: true, class: 'form-control' %>
                        <%= check_box_tag :extranjero_madre, {}, false %> ¿Extranjero?
                        <input type="hidden" name="familiar[pais_madre]" id="familiar_pais_madre" value="<%= Lugar.get_mexico.id %>">
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <label id="etiquetaEstadoMadre">Estado</label>
                        <%= select :estado_madre, :id, @estados.collect {|m| [m.nombre, m.id]}, {include_blank: '---Seleccione su estado---'}, class: 'form-control' %>
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <label id="etiquetaMunicipioMadre">Municipios</label>
                        <div id="municipios_madre"></div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <label id="etiquetaLocalidadMadre">Localidades</label>
                        <div id="localidades_madre"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <label>Calle</label>
                        <input type="text" name="familiar[calle_madre]" id="familiar_calle_madre" class="form-control" required="true" />
                        <%= check_box_tag :copiar_datos_hijoII, 0, false %> ¿Copiar Datos de Domicilio?
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <label>Número</label>
                        <input onkeypress="return NumDomicilio(event);" oninput = 'this.value = this.value.toUpperCase();' maxlength="5" placeholder="Ingresa el número de domicilio" type="text" name="familiar[numero_madre]" id="familiar_numero_madre" class="form-control" required="true" />
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <label>Colonia</label>
                        <input type="text" name="familiar[colonia_madre]" id="familiar_colonia_madre" class="form-control" required="true" />
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <label>Codigo Postal</label>
                        <input onkeypress="return validarnum(event);" type="text" name="familiar[codigo_postal_madre]" id="familiar_codigo_postal_madre" class="form-control" maxlength ="5" required="true" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-sm-12">
                      <button  class="btn btn-success" id="button_datos_padres">Verificar</button>
                    </div>
                  </div>
                </div>
              </div>
              <div id="datos_tutor" class="tab-pane fade">
                <div class="container">
                  <div class="row">
                    <h3>Datos del Tutor</h3>
                    <div class="col-lg-4 col-sm-12">
                      <div class="form-group">
                        <label>Nombre (s)</label>
                        <input type="text" name="familiar[nombre_tutor]" id="familiar_nombre_tutor" class="form-control" required="true"/>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                      <div class="form-group">
                        <label>Apellido Paterno</label>
                        <input type="text" name="familiar[apellido_paterno_tutor]" id="familiar_apellido_paterno_tutor" class="form-control" required="true" />
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                      <div class="form-group">
                        <label>Apellido Materno</label>
                        <input type="text" name="familiar[apellido_materno_tutor]" id="familiar_apellido_materno_tutor" class="form-control" required="true" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4 col-sm-12">
                      <div class="form-group">
                        <label>Ocupación</label>
                        <input type="text" name="familiar[ocupacion_tutor]" id="familiar_ocupacion_tutor" class="form-control" required="true" />
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                      <div class="form-group">
                        <label>Parentesco</label>
                        <%= select :parentesco_tutor, :id, @parent.collect {|m| [m.parentesco, m.id]}, {:include_blank => '---Seleccione una opcion---'},  class: 'form-control' %>

                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                      <div class="form-group">
                        <label>Telefono</label>
                        <input type="text" name="familiar[telefono_tutor]" id="familiar_telefono_tutor"  class="form-control" maxlength ="10" required="true" oninput="this.value = this.value.toUpperCase()" placeholder="Ingrese su número de celular o la palabra NINGUNO"/>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <h3>Datos del Domicilio del Tutor</h3>
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <label>País</label>
                        <%= select :pais_tutor, :id, @paises.collect {|m| [m.nombre, m.id]}, {:include_blank => '---Seleccione su país---', selected: (Lugar.get_mexico).id}, disabled: true, class: 'form-control' %>
                        <%= check_box_tag :extranjero_tutor, {}, false %> ¿Extranjero?
                        <input type="hidden" name="familiar[pais_tutor]" id="familiar_pais_tutor" value="<%= Lugar.get_mexico.id %>">
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <label id="etiquetaEstadoTutor">Estado</label>
                        <%= select :estado_tutor, :id, @estados.collect {|m| [m.nombre, m.id]}, {include_blank: '---Seleccione su estado---'}, class: 'form-control' %>
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <label id="etiquetaMunicipioTutor">Municipios</label>
                        <div id="municipios_tutor"></div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <label id="etiquetaLocalidadTutor">Localidades</label>
                        <div id="localidades_tutor"></div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <label>Calle</label>
                        <input type="text" name="familiar[calle_tutor]" id="familiar_calle_tutor" class="form-control" required="true" />
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <label>Número</label>
                        <input onkeypress="return NumDomicilio(event);" oninput = 'this.value = this.value.toUpperCase();' maxlength="5" placeholder="Ingresa el número de domicilio" type="text" name="familiar[numero_tutor]" id="familiar_numero_tutor" class="form-control" required="true" />
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <label>Colonia</label>
                        <input type="text" name="familiar[colonia_tutor]" id="familiar_colonia_tutor" class="form-control" required="true" />
                      </div>
                    </div>
                    <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                        <label>Codigo Postal</label>
                        <input onkeypress="return validarnum(event);" type="text" name="familiar[codigo_postal_tutor]" id="familiar_codigo_postal_tutor" class="form-control" maxlength ="5" required="true" />
                      </div>
                    </div>
                    <div>
                      <tr>
                        <td><b>¿Algún integrante de tu familia concluyó sus estudios de nivel superior?</b></td>
                        <td><%= f.radio_button 'estudio', 'true'  %> Si </td>
                        <td><%= f.radio_button 'estudio', 'false' %> No </td>
                      </tr>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="container">
                        <%= f.submit  'Guardar', class: "btn btn-primary btn-space pull-right",id:"id_guardar_asp" %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    <% end %>
  </div>
</div>

<script type="text/javascript">





    jQuery(document).ready(function ($) {
        var requiredCheckboxes = $(':checkbox[required]');
        requiredCheckboxes.on('change', function (e) {
            var checkboxGroup = requiredCheckboxes.filter('[name="' + $(this).attr('name') + '"]');
            console.log($(this).attr('name'));
            var isChecked = checkboxGroup.is(':checked');
            checkboxGroup.prop('required', !isChecked);
        });
    });

    $(function(){
        if ($("#extranjero").is(':checked')) {
            $('select#estado_id').css("display", "none");
            $('label#etiquetaEstado').css("display", "none");
            $('label#etiquetaMunicipio').css("display", "none");
            $('label#etiquetaLocalidad').css("display", "none");
            $('#pais_id').removeAttr('disabled');
            $("input#aspirante_dato_personal_attributes_nacionalidad").val("EXTRANJERA");

        } else {
            $("input#aspirante_dato_personal_attributes_nacionalidad").val("MEXICANA");
        }

        /***** check box del padre *****/
        if ($("#extranjero_padre").is(':checked')) {
            $('select#estado_padre_id').css("display", "none");
            $('label#etiquetaEstadoPadre').css("display", "none");
            $('label#etiquetaMunicipioPadre').css("display", "none");
            $('label#etiquetaLocalidadPadre').css("display", "none");
            $('#pais_padre_id').removeAttr('disabled');

        } else {
            /*$("select#estado_padre_id").attr("required", true);*/
        }
        /***** check box del padre *****/

        /***** check box de la madre *****/
        if ($("#extranjero_madre").is(':checked')) {
            $('select#estado_madre_id').css("display", "none");
            $('label#etiquetaEstadoMadre').css("display", "none");
            $('label#etiquetaMunicipioMadre').css("display", "none");
            $('label#etiquetaLocalidadMadre').css("display", "none");
            $('#pais_madre_id').removeAttr('disabled');
            /*$("select#estado_madre_id").prop('required', false);*/

        } else {
           $("select#estado_madre_id").attr("required", true);
           $("select#municipios_madre").attr("required", true);
        }
        /***** check box de la madre *****/

        /***** check box del tutor *****/
        if ($("#extranjero_tutor").is(':checked')) {
            $('select#estado_tutor_id').css("display", "none");
            $('label#etiquetaEstadoTutor').css("display", "none");
            $('label#etiquetaMunicipioTutor').css("display", "none");
            $('label#etiquetaLocalidadTutor').css("display", "none");
            $('#pais_tutor_id').removeAttr('disabled');
            $("select#estado_tutor_id").prop('required', false);

        } else {
            $("select#estado_tutor_id").attr("required", true);
        }
        /***** check box del tutor *****/

        /***** aspirante *****/
        estado = $("select#estado_id :selected").val();

        if (estado == '') {
            var html = "<select id='municipio_id' class='form-control'> <option value=''>Seleccione un estado para cargar los municipios</option></select>";
            $('#municipios').html(html);

            municipio = $("select#municipio_id :selected").val();
            if ($("#extranjero").is(':checked')) {
                $('select#municipio_id').css("display", "none");
                $("select#municipio_id").prop('required',false);
            } else {
                $("select#municipio_id").attr("required", true);
            }

            if (municipio == '') {
                var html = "<select class='form-control' id='localidad_id'> <option value=''>Seleccione un municipio para cargar las localidades</option></select>";
                $('#localidades').html(html);
                if ($("#extranjero").is(':checked')) {
                    $('select#localidad_id').css("display", "none");
                    $("select#localidad_id").prop('required',false);
                } else {
                    $("select#localidad_id").attr("required", true);
                }
            }
        } else {
            estado = $("select#estado_id :selected").val();
            $.ajax({
                url: "<%= towns_options_aspirantes_path %>",
                type: "POST",
                data: {estado_id: estado}
            });
        }

        $("select#estado_id").on("change", function () {
            estado = $("select#estado_id :selected").val();
            $.ajax({
                url: "<%= towns_options_aspirantes_path %>",
                type: "POST",
                data: {estado_id: estado}
            });
        });
        //Mensaje de advertencia para los campos alergia,enfermedad y medicamentos.
        $("input#dato_medico_enfermedad_atencion_especial,input#dato_medico_medicamento_enfermedad_atencion_especial,input#dato_medico_alergia,input#dato_medico_medicamento_alergia").keyup(function() {
            var enfermedad = $("input#dato_medico_enfermedad_atencion_especial").val();
            if(enfermedad.length == 50){
                $("#estado_enfermedad").text("Este campo solo acepta capturar máximo cincuenta caracteres");
            }else {
                $("#estado_enfermedad").text("");
            }
            var medicamento_enfermedad = $("input#dato_medico_medicamento_enfermedad_atencion_especial").val();
            if(medicamento_enfermedad.length == 50){
                $("#estado_medicamento_enfermedad").text("Este campo solo acepta capturar máximo cincuenta caracteres");
            }else {
                $("#estado_medicamento_enfermedad").text("");
            }
            var alergia = $("input#dato_medico_alergia").val();
            if(alergia.length == 50){
                $("#estado_alergia").text("Este campo solo acepta capturar máximo cincuenta caracteres");
            }else {
                $("#estado_alergia").text("");
            }
            var medicamento_alergia = $("input#dato_medico_medicamento_alergia").val();
            if(medicamento_alergia.length == 50){
                $("#estado_medicamento_alergia").text("Este campo solo acepta capturar máximo cincuenta caracteres");
            }else {
                $("#estado_medicamento_alergia").text("");
            }
        });
        /***** aspirante *****/

        /***** check box del padre *****/
        estado_padre = $("select#estado_padre_id :selected").val();

        if (estado_padre == '') {
            var html = "<select id='municipio_padre_id' class='form-control'> <option value=''>Seleccione un estado para cargar los municipios</option></select>";
            $('#municipios_padre').html(html);

            municipio_padre = $("select#municipio_padre_id :selected").val();
            if ($("#extranjero_padre").is(':checked')) {
                $('select#municipio_padre_id').css("display", "none");
                $("select#municipio_padre_id").prop('required', false);
            } else {
                $("select#municipio_padre_id").attr("required", true);
            }

            if (municipio_padre == '') {
                var html = "<select class='form-control' id='localidad_padre_id'> <option value=''>Seleccione un municipio para cargar las localidades</option></select>";
                $('#localidades_padre').html(html);
                if ($("#extranjero_padre").is(':checked')) {
                    $('select#localidad_padre_id').css("display", "none");
                    $("select#localidad_padre_id").prop('required', false);
                } else {
                    $("select#localidad_padre_id").attr("required", true);
                }
            }
        } else {
            estado_padre = $("select#estado_padre_id :selected").val();
            $.ajax({
                url: "<%= towns_options_father_aspirantes_path %>",
                type: "POST",
                data: {estado_id: estado_padre}
            });
        }


        $("select#estado_padre_id").on("change", function () {
            estado_padre = $("select#estado_padre_id :selected").val();
            $.ajax({
                url: "<%= towns_options_father_aspirantes_path %>",
                type: "POST",
                data: {estado_id: estado_padre}
            });
        });
        /***** check box del padre *****/

        /***** check box de la madre *****/
        estado_madre = $("select#estado_madre_id :selected").val();

        if (estado_madre == '') {
            var html = "<select id='municipio_madre_id' class='form-control'> <option value=''>Seleccione un estado para cargar los municipios</option></select>";
            $('#municipios_madre').html(html);

            municipio_madre = $("select#municipio_madre_id :selected").val();
            if ($("#extranjero_madre").is(':checked')) {
                $('select#municipio_madre_id').css("display", "none");
                $("select#municipio_madre_id").prop('required', false);
            } else {
                $("select#municipio_madre_id").attr("required", true);
            }

            if (municipio_madre == '') {
                var html = "<select class='form-control' id='localidad_madre_id'> <option value=''>Seleccione un municipio para cargar las localidades</option></select>";
                $('#localidades_madre').html(html);
                if ($("#extranjero_madre").is(':checked')) {
                    $('select#localidad_madre_id').css("display", "none");
                    $("select#localidad_madre_id").prop('required', false);
                } else {
                    $("select#localidad_madre_id").attr("required", true);
                }
            }
        } else {
            estado_madre = $("select#estado_madre_id :selected").val();
            $.ajax({
                url: "<%= towns_options_mother_aspirantes_path %>",
                type: "POST",
                data: {estado_id: estado_madre}
            });
        }

        $("select#estado_madre_id").on("change", function () {
            estado_madre = $("select#estado_madre_id :selected").val();
            $.ajax({
                url: "<%= towns_options_mother_aspirantes_path %>",
                type: "POST",
                data: {estado_id: estado_madre}
            });
        });


        /***** check box de la madre *****/

        /***** check box del tutor *****/
        estado_tutor = $("select#estado_tutor_id :selected").val();

        if (estado_tutor == '') {
            var html = "<select id='municipio_tutor_id' class='form-control'> <option value=''>Seleccione un estado para cargar los municipios</option></select>";
            $('#municipios_tutor').html(html);

            municipio_tutor = $("select#municipio_tutor_id :selected").val();
            if ($("#extranjero_tutor").is(':checked')) {
                $('select#municipio_tutor_id').css("display", "none");
                $("select#municipio_tutor_id").prop('required', false);
            } else {
                $("select#municipio_tutor_id").attr("required", true);
            }

            if (municipio_tutor == '') {
                var html = "<select class='form-control' id='localidad_tutor_id'> <option value=''>Seleccione un municipio para cargar las localidades</option></select>";
                $('#localidades_tutor').html(html);
                if ($("#extranjero_tutor").is(':checked')) {
                    $('select#localidad_tutor_id').css("display", "none");
                    $("select#localidad_tutor_id").prop('required', false);
                } else {
                    $("select#localidad_tutor_id").attr("required", true);
                }
            } 
        } else {
            estado_tutor = $("select#estado_tutor_id :selected").val();
            $.ajax({
                url: "<%= towns_options_tutor_aspirantes_path %>",
                type: "POST",
                data: {estado_id: estado_tutor}
            });
        }

        $("select#estado_tutor_id").on("change", function () {
            estado_tutor = $("select#estado_tutor_id :selected").val();
            $.ajax({
                url: "<%= towns_options_tutor_aspirantes_path %>",
                type: "POST",
                data: {estado_id: estado_tutor}
            });
        });
/****validar el nss si ya se encuentra en la base de datos**/
        $("input#aspirante_dato_personal_attributes_nss").focusout(function () {
            this.value = this.value.toUpperCase();
            var nss = $("input#aspirante_dato_personal_attributes_nss").val();
                jQuery.get("/aspirantes/registered_nss", {
                    nss: nss
                }, function (data) {
                    $("div#estado_nss").html(data);
                });
        });
        /****validar que la escuela si se encuentra la base de datos**/

        $("input#dato_academico_escuela_procedente_nombre").focusout(function () {
            this.value = this.value.toUpperCase();
            var escuela = $("input#dato_academico_escuela_procedente_nombre").val();
            jQuery.get("/aspirantes/registered_escuela", {
                escuela: escuela
            }, function (data) {
                $("div#estado_escuela").html(data);
            });
        });


        /***** check box de la madre *****/

        /***** autocomplete escuelas *****/
        $("#dato_academico_escuela_procedente_nombre").autocomplete({
            source: '/aspirantes/autocomplete_origin_school',
            autoFocus: true,
            minLength: 2,
            select: function (event, ui) {
                params = ui.item;
                $("#dato_academico_escuela_procedente_id").val(params.id);
                console.log(params.id)
            }
        });
        /***** autocomplete escuelas *****/

        /***** MaxLength Nombre,Apellido paterno y materno padre y madre *****/
        //Mensaje de advertencia para los campos nombre, apellido paterno y materno del padre
        $("input#familiar_nombre_padre,input#familiar_apellido_paterno_padre,input#familiar_apellido_materno_padre").keyup(function() {
            var nombre_padre = $("input#familiar_nombre_padre").val();
            if(nombre_padre.length == 50){
                $("#estado_nom_padre").text("Este campo solo acepta capturar máximo cincuenta caracteres.");
            }else {
                $("#estado_nom_padre").text("");
            }
            var ap_pat_padre = $("input#familiar_apellido_paterno_padre").val();
            if(ap_pat_padre.length == 50){
                $("#estado_apellido_pat_padre").text("Este campo solo acepta capturar máximo cincuenta caracteres.");
            }else {
                $("#estado_apellido_pat_padre").text("");
            }
            var ap_mat_padre = $("input#familiar_apellido_materno_padre").val();
            if(ap_mat_padre.length == 50){
                $("#estado_apellido_mat_padre").text("Este campo solo acepta capturar máximo cincuenta caracteres.");
            }else {
                $("#estado_apellido_mat_padre").text("");
            }
        });
        //Mensaje de advertencia para los campos nombre, apellido paterno y materno de la madre
        $("input#familiar_nombre_madre,input#familiar_apellido_paterno_madre,input#familiar_apellido_materno_madre").keyup(function() {
            var nombre_madre = $("input#familiar_nombre_madre").val();
            if(nombre_madre.length == 50){
                $("#estado_nom_madre").text("Este campo solo acepta capturar máximo cincuenta caracteres.");
            }else {
                $("#estado_nom_madre").text("");
            }
            var ap_pat_madre = $("input#familiar_apellido_paterno_madre").val();
            if(ap_pat_madre.length == 50){
                $("#estado_apellido_pat_madre").text("Este campo solo acepta capturar máximo cincuenta caracteres.");
            }else {
                $("#estado_apellido_pat_madre").text("");
            }
            var ap_mat_madre = $("input#familiar_apellido_materno_madre").val();
            if(ap_mat_madre.length == 50){
                $("#estado_apellido_mat_madre").text("Este campo solo acepta capturar máximo cincuenta caracteres.");
            }else {
                $("#estado_apellido_mat_madre").text("");
            }
        });
        /***** MaxLength Nombre,Apellido paterno y materno padre y madre *****/
    });





    function soloNumeros(e){
        var key = window.Event ? e.which : e.keyCode
        return (key >= 48 && key <= 57)
    }
    function tutorPadre(){
      var checkbox_finado_madre = document.getElementById('finado_madre');
      var checkbox_tutorPadre = document.getElementById('tutor_padre');
      if(checkbox_tutorPadre.checked){
        $("#tutor_madre").prop("disabled", true);
        $("#finado_padre").prop("disabled", true);
      }else{
        if(checkbox_finado_madre.checked){ 
          $("#finado_padre").prop("disabled", false);
        }else{
          $("#tutor_madre").prop("disabled", false);
          $("#finado_padre").prop("disabled", false);
        }
      }
    }
    function tutorMadre(){
      var checkbox_finado_padre = document.getElementById('finado_padre');
      var checkbox_tutorMadre = document.getElementById('tutor_madre');
      if(checkbox_tutorMadre.checked){
        $("#tutor_padre").prop("disabled", true);
        $("#finado_madre").prop("disabled", true);
      }else{
        if(checkbox_finado_padre.checked){
          $("#finado_madre").prop("disabled", false);
        }else{
          $("#tutor_padre").prop("disabled", false);
          $("#finado_madre").prop("disabled", false);
        }
      }
    }
    function finadoPadre(){
      var checkbox_finado_padre = document.getElementById('finado_padre');
      var checkbox_tutorMadre = document.getElementById('tutor_madre');
          if(checkbox_finado_padre.checked){
                var ocupacion =  document.getElementById("familiar_ocupacion_padre");
                var telefono =  document.getElementById("familiar_telefono_padre");
                var estado =  document.getElementById("estado_padre_id");
                var municipio =  document.getElementById("municipio_padre_id");
                var localidad =  document.getElementById("localidad_padre_id");
                var calle =  document.getElementById("familiar_calle_padre");
                var numero =  document.getElementById("familiar_numero_padre");
                var colonia =  document.getElementById("familiar_colonia_padre");
                var cp =  document.getElementById("familiar_codigo_postal_padre");

                ocupacion.value = "";
                telefono.value =  "";
                estado.value =  "";
                municipio.value =  "";
                localidad.value =  "";
                calle.value =  "";
                numero.value =  "";
                colonia.value =  "";
                cp.value =  "";

                limpiarCamposTutor();
                
                $("#familiar_ocupacion_padre").prop("disabled", true);
                $("#familiar_telefono_padre").prop("disabled", true);
                $("#estado_padre_id").prop("disabled", true);
                $("#municipio_padre_id").prop("disabled", true);
                $("#localidad_padre_id").prop("disabled", true);
                $("#familiar_calle_padre").prop("disabled", true);
                $("#familiar_numero_padre").prop("disabled", true);
                $("#familiar_colonia_padre").prop("disabled", true);
                $("#familiar_codigo_postal_padre").prop("disabled", true);
                $("#copiar_datos_hijoI").prop("disabled", true);
                $("#tutor_padre").prop("disabled", true );

                $("#copyPadre").prop("disabled", true);
            }else{
                console.log('este es el nuevo mensaje de prueba');
                $("#familiar_ocupacion_padre").prop("disabled", false);
                $("#familiar_telefono_padre").prop("disabled", false);
                $("#estado_padre_id").prop("disabled", false);
                $("#municipio_padre_id").prop("disabled", false);
                $("#localidad_padre_id").prop("disabled", false);
                $("#familiar_calle_padre").prop("disabled", false);
                $("#familiar_numero_padre").prop("disabled", false);
                $("#familiar_colonia_padre").prop("disabled", false);
                $("#familiar_codigo_postal_padre").prop("disabled", false);
                $("#copiar_datos_hijoI").prop("disabled", false);
                $("#copyPadre").prop("disabled", false);
                if(!checkbox_tutorMadre.checked){ 
                  $("#tutor_padre").prop("disabled", false );
                  $("#tutor_padre").prop("checked", false );
                } 

            }
    }
    function finadoMadre(){
      var checkbox_finado_madre = document.getElementById('finado_madre');
      var checkbox_tutorPadre = document.getElementById('tutor_padre');

        if(checkbox_finado_madre.checked) {
            var ocupacion =  document.getElementById("familiar_ocupacion_madre");
            var telefono =  document.getElementById("familiar_telefono_madre");
            var estado =  document.getElementById("estado_madre_id");
            var municipio =  document.getElementById("municipio_madre_id");
            var localidad =  document.getElementById("localidad_madre_id");
            var calle =  document.getElementById("familiar_calle_madre");
            var numero =  document.getElementById("familiar_numero_madre");
            var colonia =  document.getElementById("familiar_colonia_madre");
            var cp =  document.getElementById("familiar_codigo_postal_madre");

            ocupacion.value = "";
            telefono.value =  "";
            estado.value =  "";
            municipio.value =  "";
            localidad.value =  "";
            calle.value =  "";
            numero.value =  "";
            colonia.value =  "";
            cp.value =  "";

            limpiarCamposTutor();

            $("#familiar_ocupacion_madre").prop("disabled", true);
            $("#familiar_telefono_madre").prop("disabled", true);
            $("#estado_madre_id").prop("disabled", true);
            $("#municipio_madre_id").prop("disabled", true);
            $("#localidad_madre_id").prop("disabled", true);
            $("#familiar_calle_madre").prop("disabled", true);
            $("#familiar_numero_madre").prop("disabled", true);
            $("#familiar_colonia_madre").prop("disabled", true);
            $("#familiar_codigo_postal_madre").prop("disabled", true);
            $("#copiar_datos_hijoII").prop("disabled", true);
            $("#tutor_madre").prop("disabled", true );

            $("#copyMadre").prop("disabled", true);
        }else {
            $("#familiar_ocupacion_madre").prop("disabled", false);
            $("#familiar_telefono_madre").prop("disabled", false);
            $("#estado_madre_id").prop("disabled", false);
            $("#municipio_madre_id").prop("disabled", false);
            $("#localidad_madre_id").prop("disabled", false);
            $("#familiar_calle_madre").prop("disabled", false);
            $("#familiar_numero_madre").prop("disabled", false);
            $("#familiar_colonia_madre").prop("disabled", false);
            $("#familiar_codigo_postal_madre").prop("disabled", false);
            $("#copiar_datos_hijoII").prop("disabled", false);
            $("#copyMadre").prop("disabled", false);
            if(!checkbox_tutorPadre.checked ){ 
              $("#tutor_madre").prop("disabled", false );
              $("#tutor_madre").prop("checked", false );
            }
        }
    }
    function limpiarCamposTutor(){
        var nombre_tutor =  document.getElementById("familiar_nombre_tutor");
        var apellido_paterno_tutor =  document.getElementById("familiar_apellido_paterno_tutor");
        var apellido_materno_tutor =  document.getElementById("familiar_apellido_materno_tutor");
        var ocupacion_tutor =  document.getElementById("familiar_ocupacion_tutor");
        var parentesco_tutor =  document.getElementById("parentesco_tutor_id");
        var telefono_tutor =  document.getElementById("familiar_telefono_tutor");
        var pais_tutor =  document.getElementById("familiar_pais_tutor");
        var estado_tutor = document.getElementById("estado_tutor_id");
        var municipio_tutor = document.getElementById("municipio_tutor_id");
        var localidad_tutor = document.getElementById("localidad_tutor_id");
        var calle_tutor = document.getElementById("familiar_calle_tutor");
        var numero_tutor = document.getElementById("familiar_numero_tutor");
        var colonia_tutor = document.getElementById("familiar_colonia_tutor");
        var codigo_postal_tutor = document.getElementById("familiar_codigo_postal_tutor");

        nombre_tutor.value = "";
        apellido_paterno_tutor.value = "";
        apellido_materno_tutor.value = "";
        ocupacion_tutor.value = "";
        parentesco_tutor.value = "";
        telefono_tutor.value = "";
        // pais_tutor.value = "";
        estado_tutor.value = "";
        municipio_tutor.value = "";
        localidad_tutor.value = "";
        calle_tutor.value = "";
        numero_tutor.value = "";
        colonia_tutor.value = "";
        codigo_postal_tutor.value = "";
    }
    /****valida que solo se ingresen numeros desde el teclado y el punto decimal**/

    function validarnum(evt) {
        var code =(evt.which) ? evt.which :evt.keyCode;

        if(code==8){
            return true;
        }else if(code>=48 && code<=57){
            return true;
        }else if(code == 46){
            return true;
        }else{
            return false;
        }
    }
    function SoloLetras(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = " áéíóúabcdefghijklmnñopqrstuvwxyz";
        especiales = "8-37-39-46"; //backspace-felcha_izquierda-flecha_derecha-supr
        tecla_especial = false
        for(var i in especiales){
            if(key == especiales[i]){
                tecla_especial = true;
                break;
            }
        }
        if(letras.indexOf(tecla)==-1 && !tecla_especial){
            return false;
        }
    }
    function NumDomicilio(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toLowerCase();
        letras = " abcdefghijklmnñopqrstuvwxyz1234567890-/";
        especiales = "8-37-39-46"; //backspace-felcha_izquierda-flecha_derecha-supr
        tecla_especial = false
        for(var i in especiales){
            if(key == especiales[i]){
                tecla_especial = true;
                break;
            }
        }
        if(letras.indexOf(tecla)==-1 && !tecla_especial){
            return false;
        }
    }
</script>