var html = "<%= j(collection_select(:municipio_padre, :id, @municipios, :id, :nombre,{prompt: '----- Municipios -----', selected: @municipio}, {class: 'form-control'})) %>";
$('#municipios_padre').html(html);

if ($("#extranjero_padre").is(':checked')) {
    $('select#municipio_padre_id').css("display", "none");
    <!--    $("select#municipio_padre_id").prop('required',false);-->
} else {
    <!--    $("select#municipio_padre_id").attr("required", true);-->
}

/* funcion que crea el select vacio de las localidades */
municipio_padre = $("select#municipio_padre_id :selected").val();
if (municipio_padre == '') {
    var html = "<select class='form-control' id='localidad_padre_id'> <option value=''>Seleccione un municipio para cargar las localidades</option></select>";
    $('#localidades_padre').html(html);
    if ($("#extranjero_padre").is(':checked')) {
        $('select#localidad_padre_id').css("display", "none");
        <!--        $("select#localidad_padre_id").prop('required', false);-->
    } else {
        <!--        $("select#localidad_padre_id").attr("required", true);-->
    }
} else {
    municipio_padre = $("select#municipio_padre_id :selected").val();
    localidad_padre= <%= @localidad %>
        $.ajax({
            url: "<%= localities_options_father_aspirantes_path %>",
            type: "POST",
            data: {municipio_id: municipio_padre , localidad_id: localidad_padre}
        });
}


/* funcion que carga las localidades de acuerdo al municipio seleccionado */
$("select#municipio_padre_id").on("change", function () {
    municipio_padre = $("select#municipio_padre_id :selected").val();
    $.ajax({
        url: "<%= localities_options_father_aspirantes_path %>",
        type: "POST",
        data: {municipio_id: municipio_padre}
    });
});
