var html = "<%= j(collection_select(:municipio, :id, @municipios, :id, :nombre, {prompt: '----- Municipios -----', selected: @municipio}, {class: 'form-control'})) %>";
$('#municipios').html(html);

if ($("#extranjero").is(':checked')) {
    $('select#municipio_id').css("display", "none");
    $("select#municipio_id").prop('required',false);
} else {
    $("select#municipio_id").attr("required", true);
}

/* funcion que crea el select vacio de las localidades */
municipio = $("select#municipio_id :selected").val();
if (municipio == '') {
    var html = "<select class='form-control' id='localidad_id' required= 'required'> <option value=''>Seleccione un municipio para cargar las localidades</option></select>";
    $('#localidades').html(html);
    if ($("#extranjero").is(':checked')) {
        $('select#localidad_id').css("display", "none");
        $("select#localidad_id").prop('required', false);
    } else {
        $("select#localidad_id").attr("required", true);
    }
} else {
    municipio = $("select#municipio_id :selected").val();
    localidad = <%= @localidad %>
        $.ajax({
            url: "<%= localities_options_aspirantes_path %>",
            type: "POST",
            data: {municipio_id: municipio, localidad_id: localidad}
        });
}


/* funcion que carga las localidades de acuerdo al municipio seleccionado */
$("select#municipio_id").on("change", function () {
    municipio = $("select#municipio_id :selected").val();
    $.ajax({
        url: "<%= localities_options_aspirantes_path %>",
        type: "POST",
        data: {municipio_id: municipio}
    });
});