
var html = "<%= j(collection_select(:municipio_madre, :id, @municipios, :id, :nombre, {prompt: '----- Municipios -----', selected: @municipio}, {class: 'form-control'})) %>";
$('#municipios_madre').html(html);

if ($("#extranjero_madre").is(':checked')) {
    $('select#municipio_madre_id').css("display", "none");
    <!--    $("select#municipio_madre_id").prop('required',false);-->
} else {
    <!--    $("select#municipio_madre_id").attr("required", true);-->
}

/* funcion que crea el select vacio de las localidades */
municipio_madre = $("select#municipio_madre_id :selected").val();
if (municipio_madre == '') {
    var html = "<select class='form-control' id='localidad_madre_id'> <option value=''>Seleccione un municipio para cargar las localidades</option></select>";
    $('#localidades_madre').html(html);
    if ($("#extranjero_madre").is(':checked')) {
        $('select#localidad_madre_id').css("display", "none");
        <!--        $("select#localidad_madre_id").prop('required', false);-->
    } else {
        <!--        $("select#localidad_madre_id").attr("required", true);-->
    }
} else {
    municipio_madre = $("select#municipio_madre_id :selected").val();
    localidad_madre= <%= @localidad %>
        $.ajax({
            url: "<%= localities_options_mother_aspirantes_path %>",
            type: "POST",
            data: {municipio_id: municipio_madre , localidad_id: localidad_madre}
        });
}


/* funcion que carga las localidades de acuerdo al municipio seleccionado */
$("select#municipio_madre_id").on("change", function () {
    municipio_madre = $("select#municipio_madre_id :selected").val();
    $.ajax({
        url: "<%= localities_options_mother_aspirantes_path %>",
        type: "POST",
        data: {municipio_id: municipio_madre}
    });
});
