var html = "<%= j(collection_select(:municipio_tutor, :id, @municipios, :id, :nombre, {prompt: '----- Municipios -----', selected: @municipio}, {class: 'form-control'})) %>";
$('#municipios_tutor').html(html);

if ($("#extranjero_tutor").is(':checked')) {
    $('select#municipio_tutor_id').css("display", "none");
    $("select#municipio_tutor_id").prop('required',false);
} else {
    $("select#municipio_tutor_id").attr("required", true);
}

/* funcion que crea el select vacio de las localidades */
municipio_tutor = $("select#municipio_tutor_id :selected").val();
if (municipio_tutor == '') {
    var html = "<select class='form-control' id='localidad_tutor_id' required= 'required'> <option value=''>Seleccione un municipio para cargar las localidades</option></select>";
    $('#localidades_tutor').html(html);
    if ($("#extranjero_tutor").is(':checked')) {
        $('select#localidad_tutor_id').css("display", "none");
        $("select#localidad_tutor_id").prop('required', false);
    } else {
        $("select#localidad_tutor_id").attr("required", true);
    }
} else {
    municipio_tutor = $("select#municipio_tutor_id :selected").val();
    localidad_tutor= <%= @localidad %>
        $.ajax({
            url: "<%= localities_options_tutor_aspirantes_path %>",
            type: "POST",
            data: {municipio_id: municipio_tutor, localidad_id: localidad_tutor}
        });
}


/* funcion que carga las localidades de acuerdo al municipio seleccionado */
$("select#municipio_tutor_id").on("change", function () {
    municipio_tutor = $("select#municipio_tutor_id :selected").val();
    $.ajax({
        url: "<%= localities_options_tutor_aspirantes_path %>",
        type: "POST",
        data: {municipio_id: municipio_tutor}
    });
});
