<div class="container-login formulario">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <%= image_tag('oficial_vertical.png', class: 'logo-login center-block img-responsive') %><br><br>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <%= render 'shared/messages' unless flash.empty? %>
      </div>
    </div>
    <div class="row">
      <fieldset class="col-xs-10 col-xs-offset-1">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.hidden_field :reset_password_token %>
        <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <%= fa_icon 'lock' %>
              </span>
              <%= f.password_field :password, autofocus: true, autofocus: true, placeholder: 'Contraseña', class: 'form-control', minlength: 8 %>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <%= fa_icon 'lock' %>
              </span>
              <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Confirmar Nueva Contraseña', class: 'form-control' , minlength: 8%>
            </div>
          </div>
          <div class="text-center">
            <%= f.submit "Cambiar Contraseña", class: 'btn btn-info btn-block' %><br>
          </div>
        <% end %>
        <div class="text-left">
          <%- if controller_name != 'sessions' %>
            <%= link_to "Login", new_session_path(resource_name) %><br/>
          <% end -%>
        </div>
      </fieldset>
    </div>
  </div>
</div>

