<div class="container-login formulario">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <%= image_tag('oficial_vertical.png', class: 'logo-login center-block img-responsive') %><br><br>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <%= render 'shared/flash_messages' unless flash.empty? %>
      </div>
    </div>
    <div class="row">
      <fieldset class="col-xs-10 col-xs-offset-1">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= devise_error_messages! %>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <%= fa_icon 'envelope' %>
              </span>
              <%= f.email_field :email, autofocus: true, placeholder: 'Correo Electrónico', class: 'form-control' %>
            </div>
          </div>
          <div class="text-center">
            <%= f.submit "Restablecer Contraseña", class: 'btn btn-info btn-block' %><br>
          </div>
        <% end %>
        <div class="text-left">
          <%- if controller_name != 'sessions' %>
            <%= link_to "Iniciar Sesión", new_session_path(resource_name), class: 'link' %><br/>
          <% end -%>
        </div>
      </fieldset>
    </div>
  </div>
</div>
