<div class="panel panel-danger">
  <div class="panel-heading"><%= mensaje  %></div>
  <div class="panel-body">
    Para cualquier duda o aclaración acuda al Departamento de Servicicios Escolares, o comuníquese a los teléfonos:
    <%= @campus.telefono_ext unless @campus.blank?%>
  </div>
</div>