<% class_name = "alert-danger" if class_name == "alert-warning" %>

<div class="message alert <%= class_name %> alert-dismissable">
  <button type="button" class="close" data-dismiss="alert">&times;</button>

  <span>
    <% if msg.instance_of?(Array) %>
      <% msg.each do |m| %>
        <%= m %> <br/>
      <% end %>
    <% else %>
      <%= msg %>
    <% end %>
  </span>
</div>

<script>
    $(document).ready(function() {
        setTimeout(function () {
            $(".message").fadeOut(1500);
        }, 3000);
    });
</script>


