<nav class="navbar navbar-default navbar-fixed-top">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <div class="my-logo">
      <div class="pull-left">
        <a class="hamburger">
          <i class="sr-only">Toggle navigation</i>
          <i class="fa fa-bars" aria-hidden="true"></i>
        </a>
      </div>

      <div class="col-xs-8 col-xs-offset-2">
        <%= image_tag('logo_Nes.png', class: 'user-image logo center-block size-img') %>
      </div>

      <div class="pull-right">
        <a class="navbar-toggle collapsed btnbarra" data-toggle="collapse" data-target="#barra-menu">
          <i class="sr-only">Toggle navigation</i>
          <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
        </a>
      </div>
    </div>

    <div class="my-div-right">
      <div class="navbar-collapse  collapse" id="barra-menu">
        <ul class="nav navbar-nav my-right-ul">
        <%if current_usuario.rol != 'ADMINISTRADOR' %>
 
          <li>
            <%= link_to edit_usuario_registration_path, class: 'mytool icons', 'data-toggle': 'tooltip', 'data-placement': 'bottom', 'data-original-title': 'Usuario' do %>
              <%= fa_icon 'user' %>
            <% end %>
          </li>
        <%end%>
          <li>
            <%= link_to destroy_usuario_session_path, class: "mytool icons", 'data-toggle': 'tooltip', 'data-placement': "bottom", 'data-original-title': 'Salir', method: :delete do %>
              <%= fa_icon "sign-out" %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
