<div id="wrapper" class="">
  <!-- Sidebar -->
  <div class="navbar navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
      <li class="my-li-nav">
        <%= link_to 'Inicio', root_path %>
      </li>
      <% if current_usuario.rol =='ADMINISTRADOR'%>
        <li class="my-li-nav">
          <%= link_to 'Cambiar contraseña de administrador',edit_usuario_registration_path %>
        </li>
        <li class="my-li-nav">
          <%= link_to 'Gestionar usuarios', gestion_usuario_index_path %>
        </li>
        <li class="my-li-nav">
          <%= link_to 'Crear usuarios', crear_cuentas_gestion_usuario_index_path, data: {:confirm => "Este proceso puede demorar un tiempo por favor espere hasta ver el mensaje de confirmacion.\n\n¿Estás seguro de crear usuarios de tipo alumno a partir de alumnos?"} %>
        </li>
        <li class="my-li-nav">
          <%= link_to 'Reiniciar cuentas de usuario',restablecer_cuentas_gestion_usuario_index_path, data: {:confirm => "Este proceso puede demorar un tiempo por favor espere hasta ver el mensaje de confirmacion.\n\n¿Estás seguro de restablecer todas las cuentas de usuario de tipo alumno?"} %>
        </li>
        <li class="my-li-nav">
          <%= link_to 'Gestionar anuncios',anuncios_index_path %>
        </li>
      <% else %>
        <% alumno = Alumno.where("(tipo ='ALUMNO' or tipo='BAJA_TEM' or tipo='BAJA_TEMP' ) and curp=?",current_usuario.username.upcase).first %>
        <% aspirante = Aspirante.where('upper(curp) = ?', current_usuario.username.upcase).first %>
        <% unless alumno.blank? %>
          <% if alumno.tiene_inscripcion? %>
              <li class="my-li-nav">
                <%= link_to 'Solicitud de Reinscripción', solicitudes_reinscripciones_path, data: {:confirm => "Aqui va el reglamento, proporcionar dicha informacion."} %>
              </li>
          <% else %>
            <% if !aspirante.blank? and aspirante.tiene_prope? %>
              <li>
                <%= link_to 'Solicitud de Inscripcion', solicitudes_inscripciones_path, data: {:confirm => "Aqui va el reglamento, proporcionar dicha informacion."} %>
              </li>
            <% end %>
          <% end %>
        <% else %>
          <% if PeriodoFicha.is_period_of_application_for_tokens? %>
            <% if current_usuario.aspirante.nil? && alumno.blank?%>
              <li class="my-li-nav">
                <%= link_to 'Solicitud de Ficha', new_aspirante_path , onclick: "javascript: return revisa_submit();"%>
              </li>
            <% else %>
              <% if !(aspirante.tiene_prope_q? == 'ACEPTADO' || aspirante.tiene_prope_q? == 'ACEPTADO CONDICIONADO')%>
                <% if aspirante.is_aspirante_with_request? == Aspirante::NUEVO_DOCUMENTO %>
                  <li class="my-li-nav">
                    <%= link_to 'Solicitud de Ficha', new_documento_aspirantes_path %>
                  </li>
                <% else %>
                  <li class="my-li-nav">
                    <%= link_to 'Solicitud de Ficha', solicitudes_fichas_path %>
                  </li>
                <% end %>
              <% end %>
            <% end %>
            <% if !aspirante.blank? %>
              <% if aspirante.tiene_ficha? %>
                <li class="my-li-nav">
                  <%= link_to 'Consulta de Ficha', fichas_path %>
                </li>
              <% end %>
            <% end %>
          <% end %>
          <% if current_usuario.aspirante && alumno.blank? %>
            <li class="my-li-nav">
                <%= link_to 'Datos del aspirante', edit_aspirante_path(current_usuario.aspirante.id) %>
            </li>
          <% end %>
          <% unless aspirante.blank? %>
            <% if PeriodoPropedeutico.is_period_of_application_for_tokens? %>
                <% if current_usuario.aspirante.nil? %>
                  <li class="my-li-nav">
                    <%= link_to 'Solicitud de Propedéutico', new_aspirante_path %>
                  </li>
                <% else %>
                  <li class="my-li-nav">
                    <%= link_to 'Solicitud de Propedéutico', new_solicitud_propedeutico_path %>
                  </li>
                  <li class="my-li-nav">
                    <%= link_to 'Consulta de propedéutico', solicitud_propedeutico_index_path %>
                  </li>
                <% end %>
            <% end %>
            <% if Fecha.is_inscripcion_period_active? &&  (aspirante.tiene_prope_q? == 'ACEPTADO' || aspirante.tiene_prope_q? == 'ACEPTADO CONDICIONADO')%>
              <li class="my-li-nav">
                <%= link_to 'Solicitud de Inscripción', new_solicitud_inscripcion_path, data: {:confirm => "Aqui va el reglamento, proporcionar dicha informacion."} %>
              </li>
            <% end  %>
          <% end %>
        <% end %>
      <% end %>
      <li class="my-li-nav">
        <%= link_to 'Ayuda', root_path %>
      </li>
    </ul>
  </div>
</div>
<script type="text/javascript">
    function revisa_submit(){
        alert( "Se te recomienda tener listos los documentos (en formato jpeg, gif, png, pdf) que se te solicitarán antes de finalizar tu solicitud, los documentos son: \n" +
            "1. Comprobante de pago\n" +
            "2. Copia del acta de nacimiento\n" +
            "3. Copia del certificado de secundaria\n" +
            "4. Copia del certificado de bachillerato o constancia de estudios\n" +
            "5. Copia de CURP\n" +
            "6. Fotografía tipo infantil preferentemente blanco y negro");
    }
</script>