<div class="container">
  <div>
    <%= render 'home/mensajes' %>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12">
      <h2 class="text-center"> <b>¡Bienvenido al Portal de Inscripciones!</b></h2>
      <br>
<!--      <h2><%#=  @anuncie.mensaje %></h2>-->
      <br>
    </div>
    <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-12">
      <%= image_tag(('Logo-UTM1.png'), :class => "img-responsive center-block logo-utm") %>
    </div>
  </div>
</div>
