<div class="panel panel-danger">
  <div class="panel-heading"><%= mensaje  %></div>
  <div class="panel-body">
    Para cualquier duda o aclaración acuda al Departamento de Servicicios Escolares, o comuníquese al teléfono:
    (951) 553-6362 Ext. 201
  </div>
</div>