<h2 class="text-center">Consulta de Solicitud de Reinscripción</h2>
<div class="row">
  <div class="col-lg-12">
    <div class="container">
      <div class="panel panel-info">
        <div class="panel-heading">
          Información de la solicitud
          <% if @solicitud_reinscripcion.estado_proceso == 'ENVIADO' %>
            <span class="label label-warning">NO REINSCRITO</span>
          <% else %>
            <span class="label label-success">REINSCRITO</span>
          <% end %>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label><b>Matricula:</b></label>
                <label class="form-control"><%= @solicitud_reinscripcion.alumno.matricula %></label>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label><b>Alumno:</b></label>
                <label class="form-control"><%= @solicitud_reinscripcion.alumno.full_name %></label>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <label><b>Correo electrónico:</b></label>
                <label class="form-control"><%= @solicitud_reinscripcion.alumno.correo_electronico%></label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <label><b>Carrera:</b></label>
                <label class="form-control"><%= @solicitud_reinscripcion.alumno.carrera.nombre_carrera %></label>
              </div>
            </div>
            <% unless @grupo_actual.blank? %>
              <div class="col-lg-4">
                <div class="form-group">
                  <label><b>Grupo Anterior:</b></label>
                  <label class="form-control"><%= @grupo_anterior %></label>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label><b>Grupo Actual:</b></label>
                  <label class="form-control">
                    <% @inscripcion.each do |inscripcion| %>
                      <%= inscripcion.grupo.nombre %>
                    <% end %>
                  </label>
                </div>
              </div>
            <% else %>
              <div class="col-lg-4">
                <div class="form-group">
                  <label><b>Grupo Anterior:</b></label>
                  <label class="form-control"><%= @grupo_anterior %></label>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="form-group">
                  <label><b>Grupo Actual:</b></label>
                  <label class="form-control">Sin grupo asignado.</label>
                </div>
              </div>
            <% end %>
          </div>
          <% if @preregistro_pago.blank? %>
            <div class="row">
              <div class="col-lg-12">
                <p>
                  <b>Estado del Pago de la Reinscripción:</b>
                  <span class="label label-info"> No Registro </span>
                </p>
              </div>
            </div>
          <% else %>
            <div class="row">
              <div class="col-lg-12">
                <p>
                  <b>Estado del Pago de la Reinscripción:</b>
                  <span class="label label-info"><%= @preregistro_pago.estado %> </span>
                </p>
              </div>
            </div>
          <% end %>
          <% unless @debits.blank? %>
            <div class="row">
              <div class="col-lg-12">
                <h4>ADEUDOS</h4>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                    <tr>
                      <th class="th-adeudo">Concepto</th>
                      <th class="th-adeudo">Importe</th>
                      <th class="th-adeudo">Mes</th>
                      <th class="th-adeudo">Año</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% @debits.each do |debit|
                      fecha = debit.created_at
                      fecha = fecha.to_date
                      month = fecha.strftime('%m')
                      month = month.to_i
                      year = fecha.strftime('%Y')
                      month = Debit.get_human_date_and_type(month.to_s)      %>
                      <tr>
                        <td class="adeudos"><%= debit.description %></td>
                        <td> $ <%= debit.amount.to_s %> </td>
                        <td> <%= month[:mes] %></td>
                        <td> <%= year %> </td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          <% end %>
          <div class="row">
            <div class="col-lg-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Información</h3>
                </div>
                <div class="panel-body">
                  <p>* Solicitud enviada correctamente, en aproximadamente 2 hrs. (horario laboral 09:00-14:00 y de 16:00-19:00) ingrese nuevamente para consultar su grupo asignado.</p>
                  <p>* Si después de máximo 24 hrs. no le ha sido asignado grupo, comunicarse al Departamento de Servicios Escolares.</p>
                  <p>* Alumnos con porcentaje diferente al 100% o con adeudo de inglés entregar comprobante de pago original en el Departamento de Contabilidad la primer semana de clases.</p>
                  <p>* Favor de leer el reglamento de alumnos que se encuentra en la siguiente liga: <a href="https://www.unca.edu.mx/DocsUNCA/REGLAMENTO_ALUMNOS_LICENCIATURA_SUNEO.pdf">Reglamento</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
