<div class="container-login formulario">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <%= image_tag('oficial_vertical.png', class: 'logo-login center-block img-responsive') %><br><br>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <%= render 'shared/flash_messages' unless flash.empty? %>
      </div>
    </div>
        <div class="row" >
          <div class="col-xs-8 col-xs-offset-2">
          <div class="message alert alert-danger alert-dismissable" style="display: none;" id="mensaje">
            <span>
              Usuario y/o Contraseña no pueden estar vacíos.
            </span>
          </div>
          </div>
        </div>
    <div class="row">
      <fieldset class="col-xs-10 col-xs-offset-1">
        <h6 class="text-danger">Si aún no tienes cuenta, da clic en registrarse para crear una y tener acceso al sistema.</h6>

        <%= form_for(resource, as: resource_name, class: 'new_user_session', html: {role: 'form'} , data: {toggle: 'validator'}, id: 'new_user_session', url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <%= fa_icon 'user' %>
              </span>
              <%= f.text_field :username, placeholder: 'Nombre de usuario', class: 'form-control', onKeyUp: 'this.value = this.value.toUpperCase();', required: true %>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <%= fa_icon 'lock' %>
              </span>
              <%= f.password_field :password, autocomplete: "off", placeholder: 'Contraseña', class: 'form-control', required: true %>
            </div>
          </div>
          <div class="text-center">
            <%= f.submit "Iniciar Sesión", class: 'btn btn-info btn-block', id: "submit_button" %><br>
          </div>
        <% end %>
        <div class="row">
          <div class="col-lg-6 col-xs-6">
            <div class="text-left">
              <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                <%= link_to "¿Has olvidado tu contraseña?", new_password_path(resource_name), class: 'link' %><br/>
              <% end %>
            </div>
          </div>
          <div class="col-lg-6 col-xs-6">
            <div class="text-right">
              <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
                <%= link_to "Registrarse", new_registration_path(resource_name), class: 'link' %><br/>
              <% end %>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>
<footer id="footer">
  <div class="corner-ribbon top-left sticky red shadow">Sistema de Pruebas</div>
  <p class='text-center'>
    NES Inscripciones 1.1.108-alpha.1 | KadaSoftware 2022
  </p>
</footer>