<div>
  <%= render 'mensajes' %>
</div>
<h2 class="text-center">Solicitud de Inscripción</h2>
<div class="row">
  <div class="col-lg-12">
    <div class="container">
      <% if Tramite.checar_prope(@aspirante.id) == "" %>
        <%= form_for @tramite, :url => {:controller => :solicitudes_inscripciones, :action => "create"}, :html => {:class => "new_pais", :id => "form_tramite"} do |f| %>
          <%= f.hidden_field :carrera_id, :value => @inscripcion[:carrera_id] %>
          <%= f.hidden_field :ciclo_id, :value => @inscripcion[:periodo_id] %>
          <%= f.hidden_field :semestre_id, :value => 1 %>
          <%= f.hidden_field :proceso, :value => Tramite::INSCRIPCION %>
          <%= f.hidden_field :estado_proceso, :value => Tramite::ENVIADO %>
          <%= hidden_field :aspirante, :id, :value => @inscripcion[:aspirante_id] %>
          <div class="row">
            <h4>DATOS DEL ASPIRANTE</h4>
            <div class="col-lg-4 col-sm-12">
              <div class="form-group">
                <labe><b>CURP</b></labe>
                <label class="form-control"><%= @aspirante.curp %></label>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="form-group">
                <labe><b>Nombre</b></labe>
                <label class="form-control"><%= @aspirante.full_name %></label>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="form-group">
                <labe><b>Correo Electrónico</b></labe>
                <label class="form-control"><%= @aspirante.dato_personal.email unless (@aspirante.dato_personal.blank? or @aspirante.dato_personal.email.blank?) %></label>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="form-group">
                <labe><b>Carrera</b></labe>
                <label class="form-control"><%= @inscripcion[:carrera] %></label>
              </div>
            </div>
          </div>
          <!--<div class="row">
            <h4>DATOS PERSONALES</h4>
            <div class="col-lg-4 col-sm-12">
              <div class="form-group">
                <labe><b>Dirección</b></labe>
                <label class="form-control"><= "C. " + @aspirante.dato_personal.direccion.calle + " " + @aspirante.dato_personal.direccion.numero.to_s + ", " + @aspirante.dato_personal.direccion.colonia  %></label>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="form-group">
                <labe><b>Ciudad</b></labe>
                <label class="form-control"><= @aspirante.dato_personal.direccion.get_lugar %></label>
              </div>
            </div>
            <div class="col-lg-4 col-sm-12">
              <div class="form-group">
                <labe><b>Teléfono</b></labe>
                <label class="form-control"><= @aspirante.dato_personal.telefono %> </label>
              </div>
            </div>
            <div class="col-sm-12 col-lg-12">
              <p class="help-text">
                <strong>
                  Si la información presentada esta desactualizada o es incorrecta, favor de pasar al
                  Departamento de
                  Servicios Escolares a proporcionar su información.
                </strong>
              </p>
            </div>
          </div>-->
          <div class="row">
            <% tutor =  Familiar.get_tutor(@aspirante.id)%>
            <% unless tutor.blank? %>
              <h4>DATOS DEL TUTOR</h4>
              <div class="col-lg-4 col-sm-12">
                <div class="form-group">
                  <label><b>Nombre:</b></label>
                  <label class="form-control"><%= tutor.familiar.full_name %></label>
                </div>
              </div>
              <div class="col-lg-4 col-sm-12">
                <div class="form-group">
                  <label><b>Parentesco:</b></label>
                  <label class="form-control"><%= tutor.familiar.parentesco %></label>
                </div>
              </div>
              <div class="col-lg-4 col-sm-12">
                <div class="form-group">
                  <label><b>Ocupación:</b></label>
                  <label class="form-control"><%= tutor.familiar.ocupacion %></label>
                </div>
              </div>
              <div class="col-lg-4 col-sm-12">
                <div class="form-group">
                  <label><b>Dirección:</b></label>
                  <label class="form-control"><%= "C. " + tutor.familiar.direccion.calle + " N° " + tutor.familiar.direccion.numero + ", Col. " + tutor.familiar.direccion.colonia %></label>
                </div>
              </div>
              <div class="col-lg-4 col-sm-12">
                <div class="form-group">
                  <label><b>Dirección:</b></label>
                  <label class="form-control"><%= tutor.familiar.direccion.get_lugar %></label>
                </div>
              </div>
              <div class="col-lg-4 col-sm-12">
                <div class="form-group">
                  <label><b>Teléfono:</b></label>
                  <label class="form-control"><%= tutor.familiar.telefono %></label>
                </div>
              </div>
              <div class="col-sm-12 col-lg-12">
                <p class="help-text">
                  <strong>
                    Si la información presentada esta desactualizada o es incorrecta, favor de pasar al
                    Departamento de
                    Servicios Escolares a proporcionar su información.
                  </strong>
                </p>
              </div>
            <% end %>
          </div>

              <% unless @debits.blank? %>
                  <div class="row">
                    <h4>ADEUDOS</h4>
                    <div class="table-responsive">
                      <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                          <th class="th-adeudo">Concepto</th>
                          <th class="th-adeudo">Importe</th>
                          <th class="th-adeudo">Mes</th>
                          <th class="th-adeudo">Año</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% @debits.each do |debit|
                          fecha = debit.created_at
                          fecha = fecha.to_date
                          month = fecha.strftime('%m')
                          month = month.to_i
                          year = fecha.strftime('%Y')
                          month = Debit.get_human_date_and_type(month.to_s)     %>
                            <tr>
                              <td class="adeudos"><%= debit.description %></td>
                              <td> $ <%= debit.amount.to_s %> </td>
                              <td> <%= month[:mes] %></td>
                              <td> <%= year %> </td>
                            </tr>
                        <% end %>
                        </tbody>
                      </table>
                    </div>
                  </div>
              <% end %>


                  <div class="row">
                    <h4>Preregistro de Pagos</h4>
                    <div class="col-lg-4 col-sm-12">
                      <div class="form-group">
                        <label><b>Concepto de Preregistro:</b></label>
                        <label class="form-control"><%= @reinscripcion_prepayment.description %></label>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                      <div class="form-group">
                        <label><b>Precio</b></label>
                        <label class="form-control"><%= "$" + (@reinscripcion_prepayment.total_amount_nes.to_i).to_s %> </label>
                      </div>
                    </div>
                    <div class="col-lg-4 col-sm-12">
                      <div class="form-group">
                        <label><b>Número de Referencia de Pago</b></label>
                        <%= text_field :referencia_pago, :reinscripcion, class: 'string optional form-control', size: 25, placeholder: "Anote su linea de captura", required: true, maxlength: "19", onkeypress: "return event.charCode > 47 && event.charCode < 58;" %>
                      </div>
                      <div class ="alert-info small" id="estado_pago_reinscripcion"></div>
                    </div>
                  </div>
                  <% unless @language_debit.blank? %>
                      <div class="col-sm-12 col-lg-12">
                      <span class="label label-warning">
                        <i> Usted tiene un adeudo activo.</i>
                      </span>
                      </div>
                      <div class="col-lg-4 col-sm-12">
                        <div class="form-group">
                          <label><b>Adeudo de Ingles:</b></label>
                          <label class="form-control"><%= @language_debit.concept.description %></label>
                        </div>
                      </div>
                      <div class="col-lg-4 col-sm-12">
                        <div class="form-group">
                          <label><b>Precio</b></label>
                          <label class="form-control"><%= "$" + @language_debit.amount.to_s %> </label>
                        </div>
                      </div>
                      <div class="col-lg-4 col-sm-12">
                        <div class="form-group">
                          <label><b>Número de Referencia de Pago</b></label>
                          <%= text_field :referencia_pago, :ingles, class: 'string optional form-control', size: 25, placeholder: "Anote su linea de captura", required: true, maxlength: 19 %>
                        </div>
                      </div>
                  <% end %>
              <%= hidden_field :concept, :id, :value => @reinscripcion_prepayment.id %>
          <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-lg-3">
              <div class="row">
                <%= f.submit 'Enviar Solicitud', class: 'btn btn-primary', data: { disable_with: "Por favor espere..." } %>
              </div>
            </div>
            <div class="col-lg-3"></div>
          </div>
        <% end %>
      <% else %>
        <%= render "shared/mensajes", mensaje:  Tramite.checar_prope(@aspirante.id) %>
      <% end %>
    </div>
  </div>
</div>
<script type="text/javascript">
    //Validación para el número de referencia de pago
    $("input#referencia_pago_reinscripcion").focusout(function () {
        let linea_captura = $("input#referencia_pago_reinscripcion").val();
        if (linea_captura.length < 19){
            $("input#referencia_pago_reinscripcion").val("");
            $("#estado_pago_reinscripcion").text("El número de referencia de pago debe contener 19 dígitos.");
        } else {
            $("#estado_pago_reinscripcion").text("");
        }
    });
</script>