<h2 class="text-center">Consulta de Solicitud de Inscripción</h2>
<div class="row">
  <div class="col-lg-12">
    <div class="container">
      <div class="panel panel-info">
        <div class="panel-heading">
          Información de la solicitud
          <% if @solicitud_inscripcion.estado_proceso == 'ENVIADO' %>
            <span class="label label-warning">NO INSCRITO</span>
          <% else %>
            <span class="label label-success">INSCRITO</span>
          <% end %>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <labe><b>Matricula:</b></labe>
                <label class="form-control"><%= @solicitud_inscripcion.alumno.matricula.blank? ? 'Sin Matrícula Asignada' : @solicitud_inscripcion.alumno.matricula %></label>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <labe><b>Alumno:</b></labe>
                <label class="form-control"><%= @solicitud_inscripcion.alumno.full_name %></label>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="form-group">
                <labe><b>Correo electrónico:</b></labe>
                <label class="form-control"><%= @solicitud_inscripcion.alumno.correo_electronico %></label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="form-group">
                <labe><b>Carrera:</b></labe>
                <label class="form-control"><%= @solicitud_inscripcion.alumno.carrera.nombre_carrera %></label>
              </div>
            </div>
            <% unless @grupo_actual.blank? %>
              <div class="col-lg-4">
                <div class="form-group">
                  <labe><b>Grupo Actual:</b></labe>
                  <label class="form-control"><%= @grupo_actual.grupo.nombre %></label>
                </div>
              </div>
            <% else %>
              <div class="col-lg-4">
                <div class="form-group">
                  <% unless @grupo_anterior.blank? %>
                    <labe><b>Grupo Anterior:</b></labe>
                    <label class="form-control"><%= @grupo_anterior %></label>
                  <% else %>
                    <labe><b>Grupo:</b></labe>
                    <label class="form-control"> <%= 'Sin grupo asignado'  %></label>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>

          <% if @solicitud_inscripcion.blank? %>
              <div class="row">
                <div class="col-lg-12">
                  <p>
                    <b>Estado del Pago de la Inscripción:</b>
                    <span class="label label-info"> No Registro </span>
                  </p>
                </div>
              </div>
          <% else %>
              <div class="row">
                <div class="col-lg-12">
                  <p>
                    <b>Estado del Pago de la Inscripción:</b>
                    <span class="label label-info"><%= @solicitud_inscripcion.debit_pagado ? "PAGADO" : "POR VERIFICAR" %> </span>
                  </p>
                </div>
              </div>
          <% end %>
          <% unless @debits.blank? %>
              <div class="row">
                <div class="col-lg-12">
                  <h4>ADEUDOS</h4>
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                      <tr>
                        <th class="th-adeudo">Concepto</th>
                        <th class="th-adeudo">Importe</th>
                        <th class="th-adeudo">Mes</th>
                        <th class="th-adeudo">Año</th>
                      </tr>
                      </thead>
                      <tbody>
                      <% @debits.each do |debit|
                        fecha = debit.created_at
                        fecha = fecha.to_date
                        month = fecha.strftime('%m')
                        month = month.to_i
                        year = fecha.strftime('%Y')
                        month = Debit.get_human_date_and_type(month.to_s)      %>
                          <tr>
                            <td class="adeudos"><%= debit.description %></td>
                            <td> $ <%= debit.amount.to_s %> </td>
                            <td> <%= month[:mes] %></td>
                            <td> <%= year %> </td>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
          <% end %>

          <div class="row">
            <div class="col-lg-12">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">Información</h3>
                </div>
                <div class="panel-body">
                  <p>* Solicitud enviada correctamente, en aproximadamente 2 hrs. (horario laboral <%@campus.horario_laboral %>) ingrese nuevamente para consultar su grupo asignado.</p>
                  <p>* Si después de máximo 24 hrs. no le ha sido asignado grupo, comunicarse al Departamento de
                    Servicios Escolares.</p>
                  <p>* Favor de leer el reglamento de alumnos que se encuentra en la siguiente liga: <%= link_to "Reglamento", @campus.url_reglamento_alum %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>