<div>
  <%= render 'mensajes' %>
</div>
<h2 class="text-center"><b>Fichas</b></h2>
<div class="container">
  <% id = 0 %>
  <% unless @fichas.blank? %>
    <% @fichas.each do |ficha| %>
      <div class="well espaciado">
        <div class="row espaciado">
          <div class="col-lg-2 col-sm-3 col-xs-12">
            <span class="circle center-block">
              <%= id += 1 %>
            </span>
          </div>
          <div class="col-lg-6 col-sm-4 col-xs-12">
            <h3 class="center-block">Datos de la Ficha</h3>
          </div>
        </div>
        <div class="row espaciado">
          <div class="col-lg-12">
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <thead>
                  <th class="text-center">Estado de la Ficha</th>
                  <th class="text-center">Número Ficha</th>
                  <th class="text-center">Carrera</th>
                  <th class="text-center">Tipo Curso</th>
                </thead>
                <tbody>

                  <tr>
                    <td>
                      <% if ficha.ficha.estado == "TERMINADO" or ficha.ficha.estado == "PENDIENTE" %>
                        <span class="label label-warning"><%= ficha.ficha.estado %></span>
                      <% end %>
                      <% if ficha.ficha.estado == "CANCELADO" or ficha.ficha.estado == "NO ACEPTADO" %>
                        <span class="label label-danger"><%= ficha.ficha.estado %></span>
                      <% end %>
                      <% if ficha.ficha.estado == "ACEPTADO CONDICIONADO" or ficha.ficha.estado == "ACEPTADO" %>
                        <span class="label label-success"><%= ficha.ficha.estado %></span>
                      <% end %>
                      <% if ficha.ficha.estado == "ASIGNADO" %>
                        <span class="label label-info"><%= ficha.ficha.estado %></span>
                        <div id="contenedor_botones_inferiores" align="center">
                          <%= link_to "Ficha para examen de selección PDF", aspi_fichas_path(:id => ficha.aspirante.id), :target=>'_blank' %>
                          <%= fa_icon "download" %>
                        </div>
                      <% end %>
                    </td>
                    <td class="text-center"><%= ficha.ficha.numero %></td>
                    <td class="text-center"><%= ficha.ficha.carrera.nombre_carrera %></td>
                    <td class="text-center"><%= ficha.sede_ficha.periodo_ficha.tipo %></td>
                  </tr>
                  <tr>
                    <th class="text-right">Aspirante</th>
                    <td colspan="4"><%= current_usuario.aspirante.full_name %></td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    <% end %>
   <div id="contenedor_botones_inferiores" align="center">
      <%= link_to "Salir", destroy_usuario_session_path, :fa_icon =>'sign-out',:class=>'tn btn-danger',method: :delete%>
      <%= fa_icon "sign-out" %>
    </div>
  <% else %>
    <div class="row">
      <div class="col-lg-12">
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <th class="text-center">Estado de la Ficha</th>
              <th class="text-center">Carrera</th>
              <th class="text-center">Curso Propedéutico</th>
            </thead>
            <tbody>
              <tr>
                <td colspan="3" class="text-center">Sin fichas entregadas.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
      </thead>
      <tbody>
      <% if !@faltan_documentos.nil? and !@faltan_documentos%>
          <tr>
            <td colspan="3" class="text-center">Favor de revisar tu documentación. <%= link_to 'Documentos', edit_documento_aspirantes_path %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>