<div class="panel panel-danger">
  <div class="panel-heading"><%= mensaje  %></div>
  <div class="panel-body">
    Para cualquier duda o aclaración acuda al Departamento de Servicicios Escolares, o comuníquese al teléfono:
    01 (951) 5017205 ext. 1025
  </div>
</div>