<div><h1 align="center">Lista de usuarios</h1></div>
<br/><br/>
<% if !@lista.blank? %>
  <div class="table-responsive">
    <table class="table_tipoA datatable display stripe compact hover" style="width: 70%">
      <thead>
      <tr class="fondo" >
        <th>Tipo de usuario</th>
        <th>Nombre</th>
        <th>Curp</th>
        <th>Matrícula</th>
        <th >Acciones</th>
      </tr>
      </thead>
      <tbody>
      <% @lista.each do  |g| %>
        <tr>
          <% if g[:tipo]!=nil %>
            <td><%= g[:tipo] %></td>
          <%else%>
            <td><%=  "ASPIRANTE" %></td>
          <%end%>
          <td><%= g[:nombre]%> <%=g[:apellido_paterno]%> <%= g[:apellido_materno] %></td>
          <td><%= g[:curp] %></td>
          <% if g[:matricula]!=nil %>
            <td><%= g[:matricula] %></td>
          <%else%>
            <td><%= "" %></td>
          <%end%>

          <td><%= button_to "Restablecer contraseña", gestion_usuario_path(:id=>g[:id],:tipo=>g[:tipo],:curp=>g[:curp],:matricula=>g[:matricula]), method: :patch,class: 'btn btn-primary' %></td>

        </tr>
      <% end %>
      </tbody>
      </table>
      </div>
<%else%>
  No hay usuarios disponibles
<%end%>
