<div id="wrapper" class="">
  <!-- Sidebar -->
  <div class="navbar navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul class="nav sidebar-nav">
      <li class="my-li-nav">
        <%= link_to 'Inicio', root_path %>
      </li>
      <% alumno = Alumno.find_by_curp(current_usuario.username.upcase) %>
      <% unless alumno.blank? %>
        <% if alumno.tiene_inscripcion? %>
          <li class="my-li-nav">
            <%= link_to 'Solicitud de Reinscripcion', solicitudes_reinscripciones_path %>
          </li>
        <% end %>
      <% end %>

      <li class="my-li-nav">
        <%= link_to 'Ayuda', root_path %>
      </li>
    </ul>
  </div>
</div>