<div class="panel panel-danger">
  <div class="panel-heading"><%= mensaje  %></div>
  <div class="panel-body">
    Para cualquier duda o aclaración acuda al Departamento de Servicicios Escolares, o comuníquese a los teléfonos:
    281872-9230 (Campus Loma Bonita), 287872-9240 (Campus Tuxtepec)
  </div>
</div>