<% flash.each do |name, msg| %>
    <%= render partial: "modal" %>
<% end %>
<h2 class="text-center"><b>Solicitud de Fichas</b></h2>
<% periodo = PeriodoFicha.get_current_token_period %>
<% if PeriodoFicha.is_period_of_application_for_tokens? %>
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="row">
        <div class="col-lg-12">
          <% if (periodo.tipo == 'LARGO' && @largo < 1) or (periodo.tipo == 'CORTO' && @corto < 2) %>
            Deberá presionar el botón de 'Nueva Solicitud de Ficha' para iniciar con el
            proceso.
          <% end %>
          <br>
          <% if periodo.tipo == 'CORTO' && @corto < 2%>
            Si deseas obtener una nueva ficha para otra fecha, pulsar el botón Nueva solicitud de ficha.
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h3>Instrucciones</h3>
    <ul class="text-center">
      <li>Solo podrás solicitar dos fichas para curso corto.</li>
      <li>Solo podrás solicitar una ficha para curso largo.</li>
    </ul>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-offset-1 col-lg-10 ">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
          <th class="text-center"> # </th>
          <th class="text-center"> Carrera </th>
          <th class="text-center"> Tipo Curso</th>
          <th class="text-center"> Comprobante</th>
          <th class="text-center"> Estado de Solicitud </th>
          </thead>
          <tbody>
          <% unless @solicitudes_fichas.blank? %>
            <%
              id = 0
              @solicitudes_fichas.each do |s|
            %>
              <tr>
                <td class="text-center"><%= id += 1 %></td>
                <td class="text-justify"> <%= s.carrera.nombre_carrera %></td>
                <td class="text-center"> <%= s.sede_ficha.periodo_ficha.tipo %></td>
                <td>
                  <% if s.tipo_archivo.eql?("application/pdf")%>
                    <%= link_to "Archivo pdf", readpdf_solicitudes_fichas_path(:id => s.id), :target=>'_blank' %>
                  <% else %>
                    <%= image_tag("data:#{s.tipo_archivo};base64, #{s.comprobante}", height: 300, width: 300) %>
                  <% end %>
                </td>
                <td class="text-center">
                  <% if s.estado == SolicitudFicha::TERMINADO %>
                    <span class="label label-warning"><%= s.estado %></span>
                  <% end %>
                  <% if s.estado == SolicitudFicha::CANCELADO%>
                    <span class="label label-danger"><%= s.estado %></span>
                  <% end %>
                  <% if s.estado == SolicitudFicha::ACEPTADO or s.estado == SolicitudFicha::ASIGNADO %>
                    <span class="label label-success"><%= s.estado %></span>

                                       <% end %>
                  <% if s.estado == SolicitudFicha::ENVIADO %>
                    <span class="label label-info"><%= s.estado %></span>
                  <% end %>
                </td>
              </tr>
            <% end  %>
          <% else %>
            <tr class="text-center">
              <td colspan="6">No se ha enviando ninguna solicitud</td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <% if periodo.tipo == 'CORTO' && @corto < 2%>
    <div class="row">
      <div class="col-lg-12">
        <div class="container">
          <div class="row">
            <div class="col-lg-offset-4 col-lg-4">
              <%= link_to 'Nueva Solicitud de Ficha', new_solicitud_ficha_path, class: 'btn btn-primary' %>
              <%= link_to 'Salir', root_path, class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if periodo.tipo == 'LARGO' && @largo < 1%>
    <div class="row">
      <div class="col-lg-12">
        <div class="container">
          <div class="row">
            <div class="col-lg-offset-4 col-lg-4">
              <%= link_to 'Nueva Solicitud de Ficha', new_solicitud_ficha_path, class: 'btn btn-primary' %>
              <%= link_to 'Salir', root_path, class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="panel panel-danger">
    <div class="panel-heading">No hay ningun periodo de solicitud de fichas activo</div>
    <div class="panel-body">
      Para cualquier duda o aclaración acuda al Departamento de Servicicios Escolares, o comuníquese al teléfono: 01 951 57 2 41 00, Ext. 1202, 1203 y 1204
    </div>
  </div>
<% end %>

<script>
    $('#myModal').modal('show')
</script>