<div class="panel panel-danger">
  <div class="panel-heading"><%= mensaje  %></div>
  <div class="panel-body">
    Para cualquier duda o aclaración acuda al Departamento de Servicicios Escolares, o comuníquese al teléfono:
    Campus Puerto Ángel: 01958-5843184,43057 Ext. 129, Campus Huatulco: 01958-5872559,72561 Ext. 210, Campus Puerto Escondido: 01954-5824990,24991 Ext. 324.
  </div>
</div>