/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 *= require bootstrap-datetimepicker
 *= require dataTables/jquery.dataTables
 */


.status_float {
    display: inline;
    background-color: inherit;
    float: right;
    color: white;
    font-weight: bold;
    font-size: 80%;
    background-color: #BD211D;
    border-radius: 2px;
    padding: 4px;
}

.grant_float:after {
    display: inline;
    background-color: inherit;
    content: "[Aplica Beca]";
    margin-left: -15em;
    float: right;
    color: black;
}
.grant_float_min:after {
    display: inline;
    background-color: #10C4A6;
    content: "Beca";
    margin-left: -15em;
    padding: 0px 3px;
    border-radius: 4px;
    float: right;
    color: white;
}

table.table_supercondensed  tr  td, table.table_supercondensed  tr  th{
    padding: 0px 4px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    vertical-align: middle !important;
}

.margin_top{
    margin-top: 24px;
}
#inp{
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #528dd7;
    border-radius: 4px;
}


.datatable, .datatable_search_column{
    width: 98% !important;
}

/*EC7C26*/
.required:before{
    font-family: 'FontAwesome';
    content: "\f069";
    color:  #10C4A6;
    font-size: 10px;
    font-weight: lighter;
    margin: 0px 4px;
    vertical-align: middle;
    padding-bottom: 6px;
    position: relative;
}


.table.table_no_bordered tr td, .table.table_no_bordered tr th{
    border: none !important;
}
