* {
    margin: 0;
    padding: 0;
}
.alert {
    padding-top: 8px;
}

.container-login {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container-login {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container-login {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container-login {
        width: 1170px;
    }
}

.main-content {
    min-height: 86vh;
    padding: 8px 25px ;
    margin-top: 70px ;
    background-color: rgb(255, 255, 255);
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    z-index: 1!important;
    box-shadow: 0px 0px 20px rgba(256,256,256 ,1);
}

.scroll-main-content {
    overflow-y: scroll;
}

.alert-dismissable {
    padding-right: 35px;
}

@font-face{
    font-family:Fuentechida;
    src:url(fonts/OleoScript-Regular.ttf);
}

body {
    font-family: sans-serif;
    font-size: 17px;
    line-height: 1.42857143;
    background-color:fixed;
}

.container-full {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/*=============== Login ===============*/
.formulario {
    background-color: white;
    transition: 2s;
    margin-top: 10%;
    width: 40%;
    box-shadow: 0px 0px 20px rgba(256,256,256 ,1);
}

.formulario:hover{
    transition: .8s;
    background-color: #fcf8f8e7;
}

.logo-login {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    height: 125px;
}

.espaciado {
    margin-top: 40px;
}

fieldset{
    transition: 2s;
    margin-bottom: 50px;
}

h3,h4 {
    text-align: center;
}

.Input{
    transition: .8s;
    background-color: #FDFEFE;
    color: rgb(42, 163, 243);
    border-color:#D0D3D4  ;
    border-bottom-color:white;
    border-left:none;
    border-right:none;
    border-top:none;
    border-width: 2px;

}

.input-group-addon:first-child {
    border-right: 0;
}
.Input:hover{
    transition: .8s;
    box-shadow:inset;
    border-bottom-color:#e58b03;
}

.Input:focus{
    transition:.8s;

}

.link {
    color: #337ab7;
    text-decoration: none;
    font-size: 11px;
}
/*=============== Login ===============*/

/*=============== Navbar ===============*/
.size-img {
    width: 50px;
    height: auto;
    display:inline-block !important;
    float: left;
    margin: 0px;
    padding: 0px;
}

.my-header {
    max-height: 100px;
    background-color: #f9fbfc;
}

.my-header .my-logo {
    webkit-transition: width 0.9s cubic-bezier(0.81, -0.05, 0.24, 1.31);
    -o-transition: width 0.9s ease-in-out;
    transition: width 0.9s cubic-bezier(0.81, -0.05, 0.24, 1.31);
    display: block;
    float: left;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 230px;
    padding: 0 15px;
    font-weight: 300;
}

.my-div-right {
    float: right;
    position: absolute;
    right: 1px;
}

.my-header .navbar .nav > li > a > .label {
    position: absolute;
    top: 9px;
    right: 7px;
    text-align: center;
    font-size: 9px;
    padding: 2px 3px;
    line-height: .9;
}

.label-default {
    background-color: #f13720;
}
/*=============== Navbar ===============*/

/*=============== seccion del usuario ===============*/
.navbar-nav .user-menu .user-image {

    width: 100px;
    height: auto;
    margin-top: -10px;
}
.navbar-nav  .user-menu  .dropdown-menu {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 1px 0 0 0;
    border-top-width: 0;
    width: 240px;
    height: 230px;
    position: absolute;
    right: 0px;
    left: auto;
}
.navbar-nav  .user-menu  .dropdown-menu  li.my-user-header  img {
    height: 90px;
    width: 90px;
    border: 3px solid;
    border-color: transparent;
    border-color: rgba(255, 255, 255, 0.2);
}
.navbar-nav  .user-menu .dropdown-menu  li.my-user-header {
    height: 175px;
    padding: 10px;
    text-align: center;
    background-color: rgba(238, 232, 232, 0.07);
}
.navbar-nav  .user-menu  .dropdown-menu  li.my-user-footer {
    background-color: #f9f9f9;
    padding: 10px;
}
/*=============== seccion del usuario ===============*/

/*=============== efectos sobre botones ===============*/
a:focus, a:hover {
    text-decoration: none;
    background-color: rgba(241, 235, 235, 0.76);
    color: #1AAE88;
    font-weight: 400;
    border-left: 1px groove #1AAE88;
    border-right: 1px groove #1AAE88;
}

.icons {
    color: #e58b03 !important;
    text-decoration: none;
}

.my-logo{
    color: #e58b03;
    text-decoration: none;
}
.icons:hover:focus, .my-logo{
    color: #fff;
    text-decoration: none;
}
.nav>li>.icons:focus, .nav>li>.icons:hover{
    text-decoration: none;
    background-color: #fcc675 !important;
    color: #006baa !important;
    font-weight: 400;
    border-left: 1px groove #e58b03 !important;
    border-right: 1px groove #e58b03 !important;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
}

div#barra-menu {
    overflow: visible;
}
/*=============== efectos sobre botones ===============*/

/*=============== wrapper ===============*/
#sidebar-wrapper {
    position: absolute;
    top: 50px;
    z-index: 100;
    width: 0;
    height: calc(100% - 90px);
    overflow-y: auto;
    overflow-x: auto;
    background: #006baa;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow-x: hidden;
    overflow-y: hidden;
}

#wrapper.toggled #sidebar-wrapper {
    width: 210px;
}
/*=============== wrapper ===============*/

/*=============== sidebar ===============*/
.sidebar-nav li a {
    display: block;
    color: rgb(255, 251, 251);
    text-decoration: none;
    padding: 10px 15px 10px 30px;
}
.sidebar-nav li {
    position: relative;
    line-height: 20px;
    display: inline-block;
    width: 100%;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 210px;
    margin: 0;
    padding: 0;
    list-style: none;
}
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 20px;
    line-height: 44px;
}
.sidebar-nav li:.sidebar-brand a {
    color: rgb(223, 122, 6);
    background-color: #ece8e8;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: rgb(253, 250, 250);

}

.sidebar-nav li:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    z-index: -1;
    background-color: #ddd9d9;
    -webkit-transition: width .2s ease-in;
    -moz-transition:  width .2s ease-in;
    -ms-transition:  width .2s ease-in;
    transition: width .2s ease-in;
}

.sidebar-nav li.my-li-nav:before {
    background-color: #e58b03;
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
    width: 100%;
    -webkit-transition: width .2s ease-in;
    -moz-transition:  width .2s ease-in;
    -ms-transition:  width .2s ease-in;
    transition: width .2s ease-in;
}
/*=============== sidebar ===============*/

/*====== botones barra superior ===========*/
.hamburger  {

    top: 0px;
    width: 40px;
    height: 40px;
    margin-left: -5px;
    background: transparent;
    color: #e58b03;
    border: none;
}

a.hamburger:hover{
    color: #006baa;
    background: none;
    border: none;
}

a.btnbarra:hover {
    color: #e58b03;
    background: none;
    border: none;
    /* top:-10px;*/
}
/*====== botones barra superior ===========*/

.size-img {
    width: 270px;
    height: auto;
    display:inline-block !important;
    float: left;
    margin: 0px;
    padding: 0px;
}

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    body {
        font-family: sans-serif;
        font-size: 18px;
    }

    .fondo {
        background-image: url("fondo.jpg") !important;
        background-size: 720px 720px;
        background-repeat: no-repeat;
        background-attachment:fixed;
    }

    .size-img {
        width: 250px;
        height: auto;
        display:inline-block !important;
        margin-top: 10px;
        margin-left: -40px;
        margin-right: 15px;
    }

    /* ======= Header =====*/
    .header {
        height: 70px;
        overflow: hidden;
        background-color: #f8f8f8;
        padding: 20px 10px;
    }

    .header a {
        float: left;
        color: rgb(219, 126, 19);
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 14px;
        line-height: 25px;
        border-radius: 4px;
        border-color: rgb(247, 163, 6);
    }

    .header-right {
        float: right;
    }
    .header a.logo {
        font-size: 25px;
        font-weight: bold;
    }
    .header a:hover {
        background-color: rgb(253, 249, 249);
        color: rgb(0, 0, 0);
    }

    .header a.active {
        background-color: dodgerblue;
        color: white;
    }

    .header-right {
        float: right;
    }

    .main-content {
        height: 40vh;
    }

    .formulario {
        background-color: white;
        transition: 2s;
        margin-top: 10%;
        width: 88%;
        box-shadow: 0px 0px 20px rgba(256,256,256 ,1);
    }

    .logo-login {
        height: 100px;
    }

    .container {
        width: 100%;
        margin-left: 0px;
    }
}
/* Custom, iPhone Retina */

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .fondo {
        background-image: url("fondo.jpg") !important;
        background-size:cover;
        background-repeat: no-repeat;
        background-attachment:fixed;
    }

    .size-img {
        width: 330px;
        height: auto;
        display:inline-block !important;
        margin-top: 5px;
        margin-right: 15px;
    }

    /* ======= Header =====*/
    .header {
        height: 70px;
        overflow: hidden;
        background-color: #f8f8f8;
        padding: 20px 10px;
    }

    .header a {
        float: left;
        color: rgb(219, 126, 19);
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 14px;
        line-height: 25px;
        border-radius: 4px;
        border-color: rgb(247, 163, 6);
    }

    .header-right {
        float: right;
    }
    .header a.logo {
        font-size: 25px;
        font-weight: bold;
    }
    .header a:hover {
        background-color: rgb(253, 249, 249);
        color: rgb(0, 0, 0);
    }

    .header a.active {
        background-color: dodgerblue;
        color: white;
    }

    .header-right {
        float: right;
    }

    .main-content {

        padding: 8px 25px ;
        margin-top: 70px ;
        margin-bottom: 25px;
        background-color: rgb(255, 255, 255);
        border: 1px solid #DDDDDD;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
        z-index: 1!important;
        box-shadow: 0px 0px 20px rgba(256,256,256 ,1);
    }

    .logo-login {
        height: 100px;
    }

    .formulario {
        transition: 2s;
        width: 90%;
        margin-top: 25px;
        text-align:left;
    }

    .container {
        width: 100%;
        margin-left: 0px;
    }
}
/* Extra Small Devices, Phones */

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .fondo {
        background-image: url("fondo.jpg") !important;
        background-size:cover;
        background-repeat: no-repeat;
        background-attachment:fixed;
    }

    .size-img {
        width: 330px;
        height: auto;
        display:inline-block !important;
        margin-top: 5px;
        margin-right: 15px;
    }

    /* ======= Header =====*/
    .header {
        height: 70px;
        overflow: hidden;
        background-color: #f8f8f8;
        padding: 20px 10px;
    }

    .header a {
        float: left;
        color: rgb(219, 126, 19);
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 14px;
        line-height: 25px;
        border-radius: 4px;
        border-color: rgb(247, 163, 6);
    }

    .header-right {
        float: right;
    }
    .header a.logo {
        font-size: 25px;
        font-weight: bold;
    }
    .header a:hover {
        background-color: rgb(253, 249, 249);
        color: rgb(0, 0, 0);
    }

    .header a.active {
        background-color: dodgerblue;
        color: white;
    }

    .header-right {
        float: right;
    }

    .main-content {

        padding: 8px 25px ;
        margin-top: 70px ;
        margin-bottom: 25px;
        background-color: rgb(255, 255, 255);
        border: 1px solid #DDDDDD;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
        box-shadow: 0px 0px 20px rgba(256,256,256 ,1);
        z-index: 1!important;
    }


    .logo-login {
        height: 100px;
    }

    .formulario {
        transition: 2s;
        width: 70%;
        margin-top: 45px;
        text-align:left;
    }

    .container {
        width: 100%;
        margin-left: 0px;
    }
}

@media(max-width: 768px) {
    .my-header .my-logo {
        width: 100%;
    }
    .navbar-toggle{
        float: left;
        font-size: large;
        /* top: -50px;
        right: -26px; */
        padding: 0;
        border-radius: 0px;
        left: 20px;
        margin-top: auto;
    }
    .my-navbar-left{
        float: left;
        background-color: #222733;
        position: absolute;
        top: 100px;
        left: 0px;
        width: 100px;
    }
    ul.nav.navbar-nav.my-right-ul {
        display: -webkit-inline-box;
        display: flex;
    }
    .my-div-right{
        position: relative;
        top: 0px;
        right: 0px;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .navbar-nav > .user-menu > .dropdown-menu {
        background-color: #fff;
        position: absolute;
        top: 42px;
    }
    .nav>li>a:focus, .nav>li>a:hover {
        text-decoration: none;
        height: 40px;
    }
}
/* Small Devices, Tablets */

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .fondo {
        background-image: url("fondo.jpg") !important;
        background-size:cover;
        background-repeat: no-repeat;
        background-attachment:fixed;
    }

    .size-img {
        width: 330px;
        height: auto;
        display:inline-block !important;
        margin-top: 5px;
        margin-right: 15px;
    }

    /* ======= Header =====*/
    .header {
        height: 70px;
        overflow: hidden;
        background-color: #f8f8f8;
        padding: 20px 10px;
    }

    .header a {
        float: left;
        color: rgb(219, 126, 19);
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 14px;
        line-height: 25px;
        border-radius: 4px;
        border-color: rgb(247, 163, 6);
    }

    .header-right {
        float: right;
    }
    .header a.logo {
        font-size: 25px;
        font-weight: bold;
    }
    .header a:hover {
        background-color: rgb(253, 249, 249);
        color: rgb(0, 0, 0);
    }

    .header a.active {
        background-color: dodgerblue;
        color: white;
    }

    .header-right {
        float: right;
    }
    /* ======= Header =====*/

    .container {
        width: 100%;
        padding-left: 1px;
        padding-right: 1px;
        overflow-x: hidden;
    }

    .main-content {
        padding: 8px 25px ;
        margin-top: 70px;
        margin-bottom: 25px;
        background-color: rgb(255, 255, 255);
        border: 1px solid #DDDDDD;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
        z-index: 1!important;
        box-shadow: 0px 0px 20px rgba(256,256,256 ,1);
    }

    .formulario {
        background-color: white;
        transition: 2s;
        margin-top: 7%;
        width: 40%;
        box-shadow: 0px 0px 20px rgba(256,256,256 ,1);
    }

    .logo-login {
        height: 100px;
    }

}
/* Medium Devices, Desktops */

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .logo-utm {
        height: 550px;
        width: auto;
    }
    body {
        font-family: sans-serif;
        font-size: 18px;
    }

    .fondo {
        background-image: url("fondo.jpg") !important;
        background-size:cover;
        background-repeat: no-repeat;
        background-attachment:fixed;
    }

    .size-img {
        width: 330px;
        height: auto;
        display:inline-block !important;
        margin-top: 5px;
        margin-right: 15px;
    }

    /* ======= Header =====*/
    .header {
        height: 70px;
        overflow: hidden;
        background-color: #f8f8f8;
        padding: 20px 10px;
    }

    .header a {
        float: left;
        color: rgb(219, 126, 19);
        text-align: center;
        padding: 12px;
        text-decoration: none;
        font-size: 14px;
        line-height: 25px;
        border-radius: 4px;
        border-color: rgb(247, 163, 6);
    }

    .header-right {
        float: right;
    }
    .header a.logo {
        font-size: 25px;
        font-weight: bold;
    }
    .header a:hover {
        background-color: rgb(253, 249, 249);
        color: rgb(0, 0, 0);
    }

    .header a.active {
        background-color: dodgerblue;
        color: white;
    }

    .header-right {
        float: right;
    }

    /* ======= Header =====*/


    .container {
        width: 100%;
        padding-left: 1px;
        padding-right: 1px;
        overflow-x: hidden;
    }

    .main-content {
        padding: 8px 25px ;
        margin-top: 70px ;
        margin-bottom: 25px;
        background-color: rgb(255, 255, 255);
        border: 1px solid #DDDDDD;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
        z-index: 1!important;
        box-shadow: 0px 0px 20px rgba(256,256,256 ,1);
    }

    /* ======= sidebar =====*/

    .formulario {
        background-color: white;
        transition: 2s;
        margin-top: 10%;
        width: 40%;
        box-shadow: 0px 0px 20px rgba(256,256,256 ,1);
    }

    .logo-login {
        height: 100px;
    }
}
/* Large Devices, Wide Screens */

/*==========  Mobile First Method  ==========*/

html {
    font-size: 1rem;
}

#footer {
    color: #fdfbfb;
    height: 40px;
    background-color: #024064;
    margin:0px;
    padding: 5px;
    z-index: 3 !important;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 14px;

}

.content-token {
    border-color: black;
}

.content-aspirante {
    border: 1px solid #ccc !important;
    border-radius: 16px;
    margin-left: 40px;
    margin-right: 40px;
    height: 80%;
}


.btn-space {
    margin-bottom: 2%;
    margin-left: 0.3%;
}

.capslock, .capslock_new_confirm_password, .capslock_current_password {
    font-family: Sans-Serif;
    font-size: 12px;
    color: #B00100;
    text-align: center;
    display: none;
}

.titulo {
    text-align: center;
    font-family: Sans-Serif;
    margin-top: -10px;
    margin-bottom: 25px;
    font-weight: bold;

}

.datos-de-padres{
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #e57735;
    font-size: 12px;

}
.datos-de-padres2{
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
    font-size: 11px;
}
.datos-de-padres3{
    font-family: sans-serif;
    color: black;
    font-size: 12px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-size: 10px;
    text-decoration: none;
    font-weight: 450;
}

.form-control {
    width: 95%;
}

.pt-1 {
    padding-top: 1em;
}
.h-60vh {
    height: 60vh;
}