
.table-wrapper {
    background: #fff;
    padding: 20px 25px;
    margin: 30px auto;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border-radius: 3px 3px 0 0;
    border:1px solid #b2ebf2;
}

.table-wrapper .btn:hover {
    color: #333;
    background: #f2f2f2;
}

.table-wrapper .btn.btn-secundary {
    color: #fff;
    background: #3ca3f6;
    border: 2px solid #3ca3f6;
}

.btn.btn-secundary {
    color: #42a5f5;
    background: none;
    border: 2px solid #42a5f5;
    right: auto;
}

.btn.btn-secundary:hover {
    background-color: #244aa0;
    border: 2px solid #2951a0;
    color: white;
}

.table-wrapper .btn.btn-primary {
    color: #fff;
    background: #085ff8;
    border: 2px solid #085ff8;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn.btn-primary{
    color: #42a5f5;
    background: #085ff8;
    border: 2px solid #085ff8;
    right: auto;
}

.btn.btn-primary:hover {
    background-color: #033ba0;
    border: 2px solid #033ba0;
    color: white;
}


.btn-info2 {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    height: 25px;
    width: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}



.listnow .btn-primary {
    background-color: #ff5b5b;
    font-family: 'Merriweather', serif;
}

.table-title .btn {
    font-size: 12px;
    border: none;
}
.table-title .btn i {
    float: left;
    font-size: 19px;
    margin-right: 5px;
}
.table-title .btn span {
    float: left;
    margin-top: 2px;
}
.table-title {
    color: #024064;
    background: #58bdd9;
    text-align: center;
    padding: 4px 14px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
    border:1px solid #b2ebf2;
}
.table-title_2 {
    color: #4b5366;
    background: #ffffff;
    padding: 0px 25px;
    margin: -20px -25px 10px;
    width: 100%;

}
.table-title h2 {
    margin: 5px 0 0;
    font-size: 20px;
}
.show-entries select.form-control {
    width: 60px;
    margin: 0 5px;
}
.table-filter .filter-group {
    float: right;
    margin-left: 15px;
}
.table-filter input, .table-filter select {
    height: 34px;
    border-radius: 3px;
    border-color: #ddd;
    box-shadow: none;
}
.table-filter {
    padding: 5px 0 15px;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 5px;
}
.table-filter .btn {
    height: 34px;
}
.table-filter label {
    font-weight: normal;
    margin-left: 10px;
}
.table-filter select, .table-filter input {
    display: inline-block;
    margin-left: 5px;
    font-size: 12px;
}
.table-filter input {
    width: 200px;
    display: inline-block;
}
.filter-group select.form-control {
    width: 110px;
}
.filter-icon {
    float: right;
    margin-top: 7px;
}
.filter-icon i {
    font-size: 18px;
    opacity: 0.7;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
    padding: 1px 20px;
    vertical-align: middle;
}
table.table tr th:first-child {
    width: 60px;
}
table.table tr th:last-child {
    width: 80px;
}
table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}
table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
}
table.table td a:hover {
    color: #2196F3;
}
table.table td a.view {
    width: 24px;
    height: 24px;
    color: #2196F3;
    border: 2px solid;
    border-radius: 30px;
    text-align: center;
}
table.table td a.view i {
    font-size: 17px;
    margin: 2px 0 0 1px;
}
table.table .avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

table.table td.actions_table{
    border-color: #e9e9e9;
    padding: 9px 3px;
    vertical-align: middle;
    text-align: center;
}
.status {
    font-size: 30px;
    margin: 2px 2px 0 0;
    display: inline-block;
    vertical-align: middle;
    line-height: 10px;
}
.text-success {
    color: #10c469;
}
.text-info {
    color: #62c9e8;
}
.text-warning {
    color: #FFC107;
}
.text-danger {
    color: #ff5b5b;
}
.pagination {
    float: right;
    margin: 0 0 5px;
}
.pagination li a {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
}
.pagination li a:hover {
    color: #666;
}
.pagination li.active a {
    background: #024064;
}
.pagination li.active a:hover {
    background: #0397d6;
}
.pagination li.disabled i {
    color: #ccc;
}
.pagination li i {
    font-size: 16px;
    padding-top: 6px
}
.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
}

/*Modal*/
.modal-footer .btn.btn-danger{
    background-color: #f44336;
    color: #fff;
    border: 2px solid #f44336;
}

.modal-footer .btn.btn-danger:hover{
    background-color: #f40c2e;
    color: white;
}

.modal-footer .btn.btn-primary{
    color:#fff ;
    background: #42a5f5;
    border: 2px solid #42a5f5;
}

.modal-footer .btn.btn-primary:hover{
    background-color: #244aa0;
    color: white;
    border: 2px solid #244aa0;
}
.panel-primary>.panel-heading {
    color: #fff;
    background-color: #58bdd9;
    border-color: #58bdd9;
}

.panel-primary {
    border-color: #42a5f5;
}


