.uppercase {
    text-transform: uppercase;
}

.select-text {
    width: 100%;
}

/* The ribbons */

.corner-ribbon{
    width: 500px;
    background: #e43;
    position: absolute;
    top: 25px;
    left: -50px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    font-family: sans-serif;
    font-size: 12px;
    z-index: 1;
}

/* Custom styles */

.corner-ribbon.sticky{
    position: fixed;
}

.corner-ribbon.shadow{
    box-shadow: 0 0 3px rgba(0,0,0,.3);
}

/* Different positions */

.corner-ribbon.top-left{
    top: 110px;
    left: -150px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.corner-ribbon.top-right{
    top: 25px;
    right: -50px;
    left: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-left{
    top: auto;
    bottom: 25px;
    left: -50px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-right{
    top: auto;
    right: -50px;
    bottom: 25px;
    left: auto;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

/* Colors */

.corner-ribbon.white{background: #f0f0f0; color: #555;}
.corner-ribbon.black{background: #333;}
.corner-ribbon.grey{background: #999;}
.corner-ribbon.blue{background: #39d;}
.corner-ribbon.green{background: #2c7;}
.corner-ribbon.turquoise{background: #1b9;}
.corner-ribbon.purple{background: #95b;}
.corner-ribbon.red{background: #e43;}
.corner-ribbon.orange{background: #e82;}
.corner-ribbon.yellow{background: #ec0;}

/*input:invalid, select:invalid {*/
/*    border: 2px solid red;*/
/*}*/

.scrollbar-content {

}

.well {
    border: 1px solid #dcdcdc;
    background-color: white;
}

.circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 11px 16px;
    background-color: #ec7c26;
    border-color: #cd6312;
    color: #ffffff;
    font-size: 18px;
    line-height: 1.42857143;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    letter-spacing: normal;
    line-break: auto;
}

.espaciado {
    margin: 15px 0 15px 0;
}

.help-text {
    color: white;
    background-color: #2271b3;
    font-size: 12.5px;
    border-radius: .30em;
    padding: 5px;
    text-align: center;
}
.warning-text {
    color: white;
    background-color: #ec7c26;
    font-size: 12.5px;
    border-radius: .30em;
    padding: 5px;
    text-align: center;
}