<p>Hola <%= @resource.email %>!</p>


<p>Hemos recibido una solicitud de cambio de contraseña para tu cuenta</p>
<p>Para cambiar tu contraseña usa el vínculo siguiente:</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si la solicitud no la hiciste, por favor ignora este correo.</p>
<p>Tu contraseña no cambiará hasta acceder al vínculo de arriba y crees una nueva contraseña.</p>
