<%= form_for (@anuncio) do |f| %>

     <% @anuncio.errors.full_messages.each do |message| %>
    <div class="alert alert-danger">
       *<%= message %>
    </div>
     <%end%>

    <div class="form-group">
      <span class="input-group-addon", width="100%"> <strong>Mensaje</strong> </span>
      <%= f.text_area :mensaje, placeholder:"Escribe el mensaje", class:"form-control",style:"width:100%;" %>
    </div>

    <div class="input-group" id="fecha">
      <span class="input-group-addon"><strong>Fecha desde</strong> </span>
        <%= date_field :anuncio, :desde, class: 'form-control', placeholder: 'Ingrese la Fecha en que inicia el mensaje.', min: DateTime.now.strftime("%d-%m-%Y") %>
        <span class="input-group-addon"><strong>Fecha hasta</strong></span>
        <%= date_field :anuncio, :hasta, class: 'form-control', placeholder: 'Ingrese la Fecha en que termina el mensaje.', min: DateTime.now.strftime("%d-%m-%Y") %>
        <span class="input-group-addon"><strong>Módulo</strong></span>
        <%= select :anuncio , :modulo, Anuncio::MODULO.collect {|p| [p[:nombre], p[:id]]}, {prompt: '---Seleccione el modulo---'}, class: 'form-control', required: true %>
    </div>


          <%= f.submit "Agregar", :class =>"btn btn-info"%>
          <%= link_to 'Regresar', anuncios_index_path, :class => 'btn btn-danger' %>
<%end%>