<tr>
  <td><%= anuncio.mensaje %></td>
  <td><%= anuncio.desde.strftime("%d de %B del 20%y") %></td>
  <td><%= anuncio.hasta.strftime("%d de %B del 20%y") %></td>

  <td style="text-align: center">
    <i class='fa fa-eye fa-lg'></i>
    <i class='fa fa-edit fa-lg'></i>
  </td>
</tr>