<table class="table table-bordered table-hover">
  <thead>
  <tr>
    <th style= "width:50%">Mensaje</th>
    <th style= "width:15%">Desde</th>
    <th style= "width:15%">Hasta</th>
    <th style= "text-align: center" style= "width:20%">Opciones</th>
    <th style= "width:15%">Lugar</th>
  </tr>
  </thead>
  <tbody>
  <% unless @anuncio.blank? %>
    <% @anuncio.each do |anuncio|  %>

        <tr>
          <td><%= anuncio.mensaje %></td>
          <td><%=anuncio.desde.strftime("%d de %B del 20%y") %></td>
          <td><%=anuncio.hasta.strftime("%d de %B del 20%y") %></td>
          <td style="text-align: center">
            <%= link_to '', href: "#{anuncio.id}/edit", class: 'btn btn-icono', 'data-toggle': 'tooltip', 'data-placement': 'bottom', 'data-original-title': 'Editar' do %>
              <i class="fa fa-edit fa-lg"></i>
            <% end %>
            <%= link_to '', href: "#{anuncio.id}",method: :delete, class: 'btn btn-icono', 'data-toggle': 'tooltip',data: {confirm: "¿Estás seguro que deseas eliminar el mensaje?"}, 'data-placement': 'bottom', 'data-original-title': 'Editar' do %>
              <i class="fa fa-trash fa-lg"></i>
            <% end %>
          </td>
          <td><span class="label label-info"> <%= @anuncio.get_lugar_anuncio(anuncio.modulo) %></span>

          </td>

            <% end %>

            <% else %>
            <tr>
              <td colspan="5" style="text-align: center">NO EXISTEN MENSAJES</td>
            </tr>
            <% end %>
  </tbody>
</table>