<div class="table-wrapper  table-responsive">
  <div class="table-title">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <h2>EDITAR MENSAJE</h2>
      </div>
    </div>
  </div>
  <div>
    <div class="tab-content">
      <div class="tab-pane active" id="pet">
        <div class="container-fluid">
          <div class="panel-body">
            <div class="row">
              <div class="row">
                <div id="div-tabla" class="table-responsive">
                  <%= render "anuncios/form" %>
                </div>
              </div>
              <br>
            </div>

            <br>
          </div>
        </div>
      </div>
    </div>
  </div>




