<div class="row">
  <div class="col-lg-12">
    <h4 class="text-center">Deberá rellenar la siguiente información.</h4>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="container">
      <%= form_for(@solicitud_ficha) do |f| %>
        <div class="row">
          <h4>DATOS FICHA</h4>
          <div class="col-lg-3 col-sm-12">
            <div class="form-group">
              <%= f.label :aspirante_id, 'Aspirante' %>
              <input type="text" value="<%= current_usuario.aspirante.full_name %>" class="form-control", readonly>
              <%= f.hidden_field :aspirante_id, value: current_usuario.aspirante.id %>
            </div>
          </div>
          <div class="col-lg-4 col-sm-12">
            <div class="form-group">
              <%= f.label :carrera_id, 'Carrera' %>
              <%= f.select :carrera_id, options_for_select(@carreras.collect {|carrera| [carrera.nombre_carrera, carrera.id]}, :selected => @solicitud_ficha.carrera_id), {:include_blank => "Seleccione su carrera"}, class: 'form-control', required: true %>
            </div>
          </div>
          <div class="col-lg-5 col-sm-12">
            <div class="form-group">
              <%= f.label :sede_ficha_id, 'Sedes de Examen' %>
              <%= f.select :sede_ficha_id, options_for_select(SedeFicha.get_sedes_examen_by_date.collect {|sede| [sede.sede + ' / ' + sede.fecha_examen.strftime('%d-%m-%Y').to_s + ' / ' + sede.hora_examen + ' / ' + sede.periodo_ficha.tipo, sede.id]}, :selected => @solicitud_ficha.sede_ficha_id), {:include_blank => "Sede / Fecha de Examen / Hora de Examen / Tipo"}, class: 'form-control', required: true %>
            </div>
          </div>
        </div>
        <div class="row">
          <h4>DATOS PAGO</h4>
          <div class="col-lg-3 col-sm-12">
            <tr>
              <td>Selecciona tu comprobante de pago</td>
              <td id="tipo"> (jpeg,png,gif,pdf)</td>
              <td>
                <%= f.file_field :comprobante , required: true, :accept => 'image/*, application/pdf'%>
              </td>
            </tr>
          </div>
          <div class="col-lg-4 col-sm-12">
            <div class="form-group">
              <%= f.label :linea_captura, 'Línea de Captura' %>
              <%= f.text_field :linea_captura, class: 'string optional form-control', placeholder: "Ingrese la línea de captura", value: @linea_captura, required: true, maxlength: 19, onkeypress: "return event.charCode > 47 && event.charCode < 58;" %>
            </div>
            <div class ="alert-info small" id="estado_linea_captura"></div>
          </div>
          <div class="col-lg-12">
            <div class="container">
              <%= link_to 'Cancelar', solicitudes_fichas_path, class: 'btn btn-primary btn-space pull-right' %>
          <%= f.submit 'Enviar Solicitud', class: "btn btn-primary btn-space pull-right", data: { disable_with: "Por favor espere..." } %>

            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
    function revisa_submit() {
        var comprobante = document.getElementById("solicitud_ficha_comprobante").value;

        if (comprobante == "") {
            alert("No es posible enviar\n\nDebes seleccionar el archivo de imagen del comprobante");
            return false
        }
        else {
            if (/\.(jpe?g|png|gif|pdf)$/i.test(comprobante.toLowerCase())) {
                return true;
            }
            else {
                alert("El archivo seleccionado no es tipo imagen o pdf.");
                return false;
            }
        }
        alert("Debes ingresar 24 horas después de haber realizado la solicitud para consultar el número de ficha y descargar el comprobante");
    }
    function msg_submit() {

    }
    //Validación para la linea de captura del pago
    $("input#solicitud_ficha_linea_captura").focusout(function () {
        let linea_captura = $("input#solicitud_ficha_linea_captura").val();
        if (linea_captura.length < 19){
            $("input#solicitud_ficha_linea_captura").val("");
            $("#estado_linea_captura").text(" La línea de captura debe contener 19 dígitos.");
        } else {
            $("#estado_linea_captura").text("");
        }
    });
</script>

