<head>
  <% content_for :title, "Nueva Solcitud" %>
</head>
<div>
  <%= render 'mensajes' %>
</div>
<h2 class="text-center">Nueva Solicitud de Ficha</h2>
<div class="row">
  <%= render 'form' %>
</div>