<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible"  />
    <%= csrf_meta_tags %>
    <title>NES - Portal de Inscripciones</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>
  <body class="fondo">
    <% if usuario_signed_in? %>
      <header class="my-header">
        <%= render 'home/navbar' %>
      </header>
      <%= render 'home/sidebar' %>
      <section id="seccion">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
              <div class="main-content scroll-main-content">
                <%= render 'shared/flash_messages' %>
                <%= yield %>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer id="footer">
        <div class="corner-ribbon top-left sticky red shadow">Sistema de Pruebas</div>
        <p class='text-center'>
          NES Inscripciones 1.1.108-alpha.1 | KadaSoftware 2022
        </p>
      </footer>
    <% else %>
      <%= yield %>
      <div class="corner-ribbon top-left sticky red shadow">Sistema de Pruebas</div>
    <% end %>
  </body>
</html>
<script>
    $(function () {
        // Funcion de Sidebar
        $('.hamburger').on('click', function () {
            $('#wrapper').toggleClass('toggled');
        });

        $('#seccion').on('click', function () {
            $('#wrapper').toggleClass(false);
        });
    });
</script>